WF2 - Smart Product Selection - Rechnungsvorschlaege freigeben.json
{
  "name": "WF2 - Smart Product Selection - Rechnungsvorschlaege freigeben",
  "nodes": [
    {
      "parameters": {
        "content": "WF3 - Smart Product Selection\n\nZiel:\n1. approval_id eingeben.\n2. Workflow lädt den Rechnungs-Vorschlag und alle Produkte.\n3. Workflow berechnet passende Produktkandidaten.\n4. Du wählst 1, 2, 3, NEW oder REJECT.\n5. Der Workflow übernimmt bestehende Produktdaten oder legt ein neues Produkt an.\n6. Danach werden Alias, Lagercharge und Prüfstatus geschrieben.\n\nWichtig:\n- Für n8n 2.18.5: Abschluss über Form Ending, nicht Respond to Webhook.\n- Nach Import Google-Sheets-Credentials neu setzen.\n- Erst mit Testdaten ausführen.\n- WF2 muss approval_id in Rechnungseingang_Pruefung schreiben.",
        "height": 520,
        "width": 600,
        "color": 4
      },
      "id": "19f9d41e-94b7-4d41-bad1-dcbab7cd02fe",
      "name": "Hinweis - Bedienung",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sheet-id",
              "name": "google_sheet_id",
              "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
              "type": "string"
            },
            {
              "id": "sheet-pruefung",
              "name": "sheet_pruefung",
              "value": "Rechnungseingang_Pruefung",
              "type": "string"
            },
            {
              "id": "sheet-produkte",
              "name": "sheet_produkte",
              "value": "Produkte",
              "type": "string"
            },
            {
              "id": "sheet-lagerchargen",
              "name": "sheet_lagerchargen",
              "value": "Lagerchargen",
              "type": "string"
            },
            {
              "id": "sheet-aliase",
              "name": "sheet_aliase",
              "value": "Produkt_Aliase",
              "type": "string"
            },
            {
              "id": "default-storage",
              "name": "default_storage_location",
              "value": "Lager",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "adf3b882-b03a-437b-b2d4-41b999a6591f",
      "name": "Config - WF3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        592
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF3').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Rechnungseingang_Pruefung",
          "mode": "name"
        },
        "options": {}
      },
      "id": "43d09c88-2a83-459d-ad49-ace48d56eada",
      "name": "Google Sheets - Pruefung lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        560,
        592
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF3').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Produkte",
          "mode": "name"
        },
        "options": {}
      },
      "id": "0980d48a-a05e-4705-b90b-7b37be995cb4",
      "name": "Google Sheets - Produkte lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1008,
        592
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const approvalId = String($('naechsten offenen Vorschlag waehlen').first().json.approval_id ?? '').trim();\nconst rows = $items('Google Sheets - Pruefung lesen').map(i => i.json);\nconst products = $items('Google Sheets - Produkte lesen').map(i => i.json);\n\nfunction clean(v) {\n  return String(v ?? '').replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction first(...vals) {\n  return vals.map(clean).find(v => v !== '') || '';\n}\n\nfunction normalize(v) {\n  return clean(v)\n    .toLowerCase()\n    .replace(/&/g, 'und')\n    .replace(/\\+/g, 'plus')\n    .replace(/ä/g, 'ae')\n    .replace(/ö/g, 'oe')\n    .replace(/ü/g, 'ue')\n    .replace(/ß/g, 'ss')\n    .replace(/[^a-z0-9]/g, '');\n}\n\nfunction parseNumber(v) {\n  const raw = clean(v).replace(/[^\\d,.\\-]/g, '');\n  if (!raw) return NaN;\n  let normalized = raw;\n  const lastComma = raw.lastIndexOf(',');\n  const lastDot = raw.lastIndexOf('.');\n  if (lastComma >= 0 && lastDot >= 0) {\n    normalized = lastComma > lastDot\n      ? raw.replace(/\\./g, '').replace(',', '.')\n      : raw.replace(/,/g, '');\n  } else if (lastComma >= 0) {\n    normalized = raw.replace(',', '.');\n  }\n  const value = Number(normalized);\n  return Number.isFinite(value) ? value : NaN;\n}\n\nfunction formatDecimal(v) {\n  if (!Number.isFinite(v)) return '';\n  return String(Math.round(v * 10000) / 10000);\n}\n\nfunction normalizeProduktart(v) {\n  const n = normalize(v);\n  if (!n) return '';\n  if (['getraenk', 'getraenke', 'drink', 'drinks', 'beverage', 'beverages'].includes(n)) return 'getraenk';\n  if (['snack', 'snacks', 'food', 'lebensmittel', 'suessware', 'suesswaren'].includes(n)) return 'snack';\n  return '';\n}\n\nfunction inferProduktart(source, product) {\n  const explicit = normalizeProduktart(first(source.detected_produktart, source.produktart, product?.produktart));\n  if (explicit) return explicit;\n\n  const text = normalize([\n    source.source_item,\n    source.raw_item_name,\n    source.nayax_product_name,\n    source.recognized_product_name,\n    product?.internal_product_name,\n    product?.nayax_product_name,\n  ].map(clean).join(' '));\n\n  const drinkHints = [\n    'getraenk', 'getraenke', 'drink', 'cola', 'fanta', 'sprite', 'mezzo', 'wasser',\n    'water', 'saft', 'juice', 'eistee', 'icetea', 'mate', 'redbull', 'energy',\n    'kaffee', 'cappuccino', 'espresso', 'bier', 'limo', 'schorle',\n  ];\n\n  return drinkHints.some(hint => text.includes(hint)) ? 'getraenk' : 'snack';\n}\n\nfunction normalizeMwst(v) {\n  const parsed = parseNumber(v);\n  if (!Number.isFinite(parsed) || parsed <= 0) return NaN;\n  const percent = parsed > 0 && parsed < 1 ? parsed * 100 : parsed;\n  return Math.round(percent * 100) / 100;\n}\n\nfunction inferMwstSatz(source, product, produktart) {\n  const explicit = normalizeMwst(first(source.detected_mwst_satz, source.mwst_satz, product?.mwst_satz));\n  if (Number.isFinite(explicit)) return explicit;\n  return produktart === 'getraenk' ? 19 : 7;\n}\n\nfunction calculateCosts(source, mwstSatz) {\n  const bruttoRaw = first(source.detected_unit_cost_brutto, source.unit_cost_brutto, source.detected_unit_cost, source.unit_cost);\n  const nettoRaw = first(source.detected_ek_preis_netto, source.ek_preis_netto, source.unit_cost_netto);\n  let brutto = parseNumber(bruttoRaw);\n  let netto = parseNumber(nettoRaw);\n  const factor = 1 + (Number(mwstSatz) || 0) / 100;\n\n  if (!Number.isFinite(brutto) && Number.isFinite(netto) && factor > 0) {\n    brutto = netto * factor;\n  }\n  if (!Number.isFinite(netto) && Number.isFinite(brutto) && factor > 0) {\n    netto = brutto / factor;\n  }\n\n  return {\n    brutto: formatDecimal(brutto),\n    netto: formatDecimal(netto),\n  };\n}\n\nfunction tokens(v) {\n  const n = normalize(v);\n  const parts = n.match(/[a-z]+|[0-9]+/g) || [];\n  return [...new Set(parts.filter(t => t.length >= 2))];\n}\n\nfunction scoreProduct(product, queryA, queryB) {\n  const productText = [\n    product.product_key,\n    product.internal_product_name,\n    product.nayax_product_name,\n    product.mdb_code\n  ].map(clean).join(' ');\n\n  const pNorm = normalize(productText);\n  const q1 = normalize(queryA);\n  const q2 = normalize(queryB);\n\n  let score = 0;\n\n  if (q1 && pNorm.includes(q1)) score += 70;\n  if (q2 && pNorm.includes(q2)) score += 70;\n\n  const internalNorm = normalize(product.internal_product_name);\n  const nayaxNorm = normalize(product.nayax_product_name);\n\n  if (internalNorm && q1.includes(internalNorm)) score += 55;\n  if (nayaxNorm && q2.includes(nayaxNorm)) score += 55;\n\n  const queryTokens = [...new Set([...tokens(queryA), ...tokens(queryB)])];\n  const productTokens = tokens(productText);\n  const overlap = queryTokens.filter(t => productTokens.includes(t));\n  score += overlap.length * 12;\n\n  if (clean(product.active).toUpperCase() === 'TRUE' || clean(product.active) === '') score += 5;\n\n  return Math.min(score, 99);\n}\n\nfunction keyFromName(name) {\n  const base = clean(name)\n    .toUpperCase()\n    .replace(/Ä/g, 'AE')\n    .replace(/Ö/g, 'OE')\n    .replace(/Ü/g, 'UE')\n    .replace(/ẞ/g, 'SS')\n    .replace(/ß/g, 'SS')\n    .replace(/&/g, 'UND')\n    .replace(/\\+/g, 'PLUS')\n    .replace(/[^A-Z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '');\n  return `SKU_${base || 'UNBEKANNT'}`;\n}\n\nif (!approvalId) {\n  throw new Error('approval_id fehlt.');\n}\n\nconst source = rows.find(r => clean(r.approval_id) === approvalId);\n\nif (!source) {\n  throw new Error('Kein Eintrag in Rechnungseingang_Pruefung gefunden fuer approval_id: ' + approvalId);\n}\n\nif (clean(source.processed).toUpperCase() === 'TRUE') {\n  throw new Error('Dieser Vorschlag wurde bereits verarbeitet. Keine doppelte Lagercharge angelegt.');\n}\n\nconst sourceItem = clean(source.source_item || source.raw_item_name);\nconst nayaxName = clean(source.nayax_product_name || source.recognized_product_name || sourceItem);\nconst suggestedProductKey = clean(source.suggested_product_key) || keyFromName(nayaxName || sourceItem);\nconst quantity = clean(source.detected_quantity || source.quantity);\nconst sourceProduct = products.find(p => clean(p.product_key) === clean(source.existing_product_key || source.matched_product_key || suggestedProductKey));\nconst produktart = inferProduktart(source, sourceProduct);\nconst mwstSatz = inferMwstSatz(source, sourceProduct, produktart);\nconst costs = calculateCosts(source, mwstSatz);\nconst unitCost = costs.brutto || clean(source.detected_unit_cost || source.unit_cost);\nconst mhd = clean(source.detected_mhd || source.mhd_invoice || source.mhd_final);\nconst storage = clean(source.suggested_storage_location || $('Config - WF3').first().json.default_storage_location || 'Lager');\n\nconst allProducts = products\n  .filter(p => clean(p.product_key))\n  .map(p => ({\n    product_key: clean(p.product_key),\n    internal_product_name: clean(p.internal_product_name),\n    nayax_product_name: clean(p.nayax_product_name),\n    mdb_code: clean(p.mdb_code),\n    sale_price_eur: clean(p.sale_price_eur),\n    produktart: clean(p.produktart),\n    mwst_satz: clean(p.mwst_satz),\n    active: clean(p.active),\n    notes: clean(p.notes)\n  }));\n\nconst ranked = products\n  .map(p => ({ product: p, score: scoreProduct(p, sourceItem, nayaxName) }))\n  .filter(x => clean(x.product.product_key))\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 3);\n\nconst candidates = ranked.map((x, idx) => {\n  const p = x.product;\n  return {\n    number: String(idx + 1),\n    product_key: clean(p.product_key),\n    internal_product_name: clean(p.internal_product_name),\n    nayax_product_name: clean(p.nayax_product_name),\n    mdb_code: clean(p.mdb_code),\n    sale_price_eur: clean(p.sale_price_eur),\n    produktart: clean(p.produktart),\n    mwst_satz: clean(p.mwst_satz),\n    score: x.score\n  };\n});\n\nconst candidateText = candidates.length\n  ? candidates.map(c =>\n      `${c.number} = ${c.product_key} | ${c.internal_product_name || c.nayax_product_name || '(ohne Name)'} | Nayax: ${c.nayax_product_name || '(leer)'} | Treffer: ${c.score}%`\n    ).join('\\n')\n  : 'Keine passenden Produktkandidaten gefunden. Verwende KEY fuer ein anderes vorhandenes Produkt oder NEW fuer ein neues Produkt.';\n\nconst formInfo = [\n  `PRODUKTVORSCHLAEGE:`,\n  candidateText,\n  ``,\n  `AUSWAHL:`,\n  `1, 2 oder 3 = einen vorgeschlagenen vorhandenen Produktdatensatz uebernehmen`,\n  `KEY = anderes vorhandenes Produkt per product_key angeben`,\n  `NEW = neues Produkt anlegen`,\n  `REJECT = Vorschlag ablehnen`,\n  ``,\n  `RECHNUNGSPOSITION:`,\n  `${sourceItem}`,\n  ``,\n  `Erkannter Nayax-Vorschlag aus Rechnung: ${nayaxName}`,\n  `Menge: ${quantity}`,\n  `EK brutto: ${unitCost || '(leer)'}`,\n  `EK netto: ${costs.netto || '(leer)'}`,\n  `MwSt-Satz: ${formatDecimal(mwstSatz)}%`,\n  `Produktart: ${produktart}`,\n  `MHD: ${mhd || '(leer)'}`,\n  `Lagerort: ${storage}`,\n  ``,\n  `approval_id: ${approvalId}`,\n  ``,\n  `Hinweis:`,\n  `Bei 1, 2 oder 3 wird der Nayax-Name aus dem vorhandenen Produkt uebernommen.`,\n  `Das Feld new_nayax_product_name ist nur fuer NEW relevant.`\n].join('\\n');\n\nreturn [{\n  json: {\n    approval_id: approvalId,\n    source,\n    candidates,\n    all_products: allProducts,\n    form_info: formInfo,\n    default_alias_name: sourceItem,\n    default_new_nayax_product_name: nayaxName,\n    default_manual_existing_product_key: '',\n    default_quantity: quantity,\n    default_unit_cost: unitCost,\n    default_unit_cost_brutto: costs.brutto || unitCost,\n    default_unit_cost_netto: costs.netto,\n    default_mwst_satz: formatDecimal(mwstSatz),\n    default_produktart: produktart,\n    default_mhd: mhd,\n    default_storage_location: storage,\n    suggested_product_key: suggestedProductKey\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "c4422d8b-bff9-4e92-9d7f-4f048a669089",
      "name": "Code - Produktvorschlaege vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        592
      ]
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Produktvorschlaege",
              "fieldType": "textarea",
              "defaultValue": "={{ $json.form_info }}"
            },
            {
              "fieldLabel": "Auswahl",
              "placeholder": "1, 2, 3, NEW, KEY oder REJECT",
              "requiredField": true
            },
            {
              "fieldLabel": "manual_existing_product_key",
              "placeholder": "Nur bei Auswahl KEY: z.B. SKU_KINDER_BUENO_KLASSIK"
            },
            {
              "fieldLabel": "alias_name",
              "defaultValue": "={{ $json.default_alias_name }}"
            },
            {
              "fieldLabel": "quantity_override",
              "fieldType": "number",
              "defaultValue": "={{ $json.default_quantity }}"
            },
            {
              "fieldLabel": "unit_cost_override",
              "defaultValue": "={{ $json.default_unit_cost_brutto }}",
              "placeholder": "EK brutto pro Einheit; Netto wird aus MwSt berechnet"
            },
            {
              "fieldLabel": "unit_cost_netto_override",
              "defaultValue": "={{ $json.default_unit_cost_netto }}",
              "placeholder": "Optional: Netto-EK direkt setzen"
            },
            {
              "fieldLabel": "mwst_satz_override",
              "fieldType": "number",
              "defaultValue": "={{ $json.default_mwst_satz }}",
              "placeholder": "7 oder 19"
            },
            {
              "fieldLabel": "produktart_override",
              "defaultValue": "={{ $json.default_produktart }}",
              "placeholder": "snack oder getraenk"
            },
            {
              "fieldLabel": "mhd_override",
              "fieldType": "date",
              "defaultValue": "={{ $json.default_mhd }}"
            },
            {
              "fieldLabel": "storage_location_override",
              "defaultValue": "={{ $json.default_storage_location }}"
            },
            {
              "fieldLabel": "mdb_code_new_optional"
            },
            {
              "fieldLabel": "sale_price_eur_new_optional"
            },
            {
              "fieldLabel": "notes",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Produkt direkt in Automaten einsetzen?",
              "fieldName": "product_direct_slot_assignment",
              "placeholder": "JA oder NEIN",
              "defaultValue": "NEIN"
            },
            {
              "fieldLabel": "machine_id fuer Slot",
              "fieldName": "slot_machine_id",
              "defaultValue": "457107528"
            },
            {
              "fieldLabel": "MDB-Code fuer Slot",
              "fieldName": "slot_mdb_code",
              "defaultValue": "={{ $json.source.mdb_code || '' }}"
            },
            {
              "fieldLabel": "Aktueller Maschinenbestand",
              "fieldName": "slot_current_machine_qty",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Slot-Kapazitaet",
              "fieldName": "slot_machine_capacity",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Zielbestand",
              "fieldName": "slot_target_stock",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Mindestbestand",
              "fieldName": "slot_min_stock",
              "fieldType": "number"
            }
          ]
        },
        "options": {
          "formTitle": "Produktvorschlag pruefen",
          "formDescription": "Waehle 1, 2, 3, NEW, KEY oder REJECT. Die Vorschlagsfelder kannst du bei Bedarf ueberschreiben.",
          "buttonLabel": "Freigabe absenden"
        }
      },
      "id": "c0f7f495-bc48-4fdd-b422-87b2be81434e",
      "name": "Form - Produktentscheidung",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1504,
        592
      ],
      "webhookId": "5899931a-3895-4dcc-b30a-8382185f0339"
    },
    {
      "parameters": {
        "jsCode": "const prepared = $('Code - Produktvorschlaege vorbereiten').first().json;\nconst formDecision = $('Form - Produktentscheidung').first().json;\nconst currentInput = $input.first().json;\n\nfunction clean(v) {\n  return String(v ?? '').replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction normalize(v) {\n  return clean(v)\n    .toLowerCase()\n    .replace(/&/g, 'und')\n    .replace(/\\+/g, 'plus')\n    .replace(/ä/g, 'ae')\n    .replace(/ö/g, 'oe')\n    .replace(/ü/g, 'ue')\n    .replace(/ß/g, 'ss')\n    .replace(/[^a-z0-9]/g, '');\n}\n\nfunction first(...vals) {\n  return vals.map(clean).find(v => v !== '') || '';\n}\n\nfunction parseNumber(v) {\n  const raw = clean(v).replace(/[^\\d,.\\-]/g, '');\n  if (!raw) return NaN;\n  let normalized = raw;\n  const lastComma = raw.lastIndexOf(',');\n  const lastDot = raw.lastIndexOf('.');\n  if (lastComma >= 0 && lastDot >= 0) {\n    normalized = lastComma > lastDot\n      ? raw.replace(/\\./g, '').replace(',', '.')\n      : raw.replace(/,/g, '');\n  } else if (lastComma >= 0) {\n    normalized = raw.replace(',', '.');\n  }\n  const value = Number(normalized);\n  return Number.isFinite(value) ? value : NaN;\n}\n\nfunction formatDecimal(v) {\n  if (!Number.isFinite(v)) return '';\n  return String(Math.round(v * 10000) / 10000);\n}\n\nfunction normalizeProduktart(v) {\n  const n = normalize(v);\n  if (!n) return '';\n  if (['getraenk', 'getraenke', 'drink', 'drinks', 'beverage', 'beverages'].includes(n)) return 'getraenk';\n  if (['snack', 'snacks', 'food', 'lebensmittel', 'suessware', 'suesswaren'].includes(n)) return 'snack';\n  return '';\n}\n\nfunction inferProduktart(...vals) {\n  const explicit = vals.map(normalizeProduktart).find(Boolean);\n  if (explicit) return explicit;\n\n  const text = normalize(vals.map(clean).join(' '));\n  const drinkHints = [\n    'getraenk', 'getraenke', 'drink', 'cola', 'fanta', 'sprite', 'mezzo', 'wasser',\n    'water', 'saft', 'juice', 'eistee', 'icetea', 'mate', 'redbull', 'energy',\n    'kaffee', 'cappuccino', 'espresso', 'bier', 'limo', 'schorle',\n  ];\n\n  return drinkHints.some(hint => text.includes(hint)) ? 'getraenk' : 'snack';\n}\n\nfunction normalizeMwst(v) {\n  const parsed = parseNumber(v);\n  if (!Number.isFinite(parsed) || parsed <= 0) return NaN;\n  const percent = parsed > 0 && parsed < 1 ? parsed * 100 : parsed;\n  return Math.round(percent * 100) / 100;\n}\n\nfunction inferMwstSatz(produktart, ...vals) {\n  for (const val of vals) {\n    const parsed = normalizeMwst(val);\n    if (Number.isFinite(parsed)) return parsed;\n  }\n  return produktart === 'getraenk' ? 19 : 7;\n}\n\nfunction calculateCosts(bruttoRaw, nettoRaw, mwstSatz) {\n  let brutto = parseNumber(bruttoRaw);\n  let netto = parseNumber(nettoRaw);\n  const factor = 1 + (Number(mwstSatz) || 0) / 100;\n\n  if (!Number.isFinite(brutto) && Number.isFinite(netto) && factor > 0) {\n    brutto = netto * factor;\n  }\n  if (!Number.isFinite(netto) && Number.isFinite(brutto) && factor > 0) {\n    netto = brutto / factor;\n  }\n\n  return {\n    brutto: formatDecimal(brutto),\n    netto: formatDecimal(netto),\n  };\n}\n\nfunction keyFromName(name) {\n  const base = clean(name)\n    .toUpperCase()\n    .replace(/Ä/g, 'AE')\n    .replace(/Ö/g, 'OE')\n    .replace(/Ü/g, 'UE')\n    .replace(/ẞ/g, 'SS')\n    .replace(/ß/g, 'SS')\n    .replace(/&/g, 'UND')\n    .replace(/\\+/g, 'PLUS')\n    .replace(/[^A-Z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '');\n  return `SKU_${base || 'UNBEKANNT'}`;\n}\n\nconst choice = clean(formDecision.Auswahl).toUpperCase();\n\nif (!['1', '2', '3', 'KEY', 'NEW', 'REJECT'].includes(choice)) {\n  throw new Error('Ungueltige Auswahl. Erlaubt sind 1, 2, 3, KEY, NEW oder REJECT.');\n}\n\nconst source = prepared.source;\nconst now = new Date().toISOString();\n\nif (choice === 'REJECT') {\n  return [{\n    json: {\n      approval_id: prepared.approval_id,\n      decision: 'reject',\n      rejected: true,\n      processed_at: now,\n      status: 'rejected',\n      notes: clean(formDecision.notes || source.notes),\n\n      source_file: clean(source.source_file_name || source.source_file),\n      source_file_id: clean(source.source_file_id),\n      source_file_name: clean(source.source_file_name),\n\n      invoice_number: clean(source.invoice_number || source.invoice_id),\n      invoice_date: clean(source.invoice_date || source.purchase_date),\n      invoice_id: clean(source.invoice_id),\n      invoice_key: clean(source.invoice_key),\n\n      supplier: clean(source.supplier),\n      purchase_date: clean(source.purchase_date),\n      line_number: clean(source.line_number),\n      source_item: clean(source.source_item),\n      raw_item_name: clean(source.source_item || source.raw_item_name),\n\n      recognized_product_name: clean(source.recognized_product_name || source.nayax_product_name),\n      suggested_product_key: clean(source.suggested_product_key),\n      matched_product_key: clean(source.matched_product_key),\n\n      quantity: clean(source.detected_quantity || source.quantity),\n      unit_cost: clean(source.detected_ek_preis_netto || source.detected_unit_cost || source.unit_cost),\n      mhd_invoice: clean(source.detected_mhd || source.mhd_invoice),\n      mhd_final: clean(source.mhd_final),\n\n      confidence: 'abgelehnt_manuell',\n      mdb_code: clean(source.mdb_code),\n      nayax_product_name: clean(source.nayax_product_name),\n\n      existing_product_key: clean(source.existing_product_key),\n      existing_product_name: clean(source.existing_product_name),\n\n      suggested_batch_id: clean(source.suggested_batch_id),\n      suggested_storage_location: clean(source.suggested_storage_location),\n      suggested_action: clean(source.suggested_action),\n\n      needs_user_input: clean(source.needs_user_input),\n      missing_fields: clean(source.missing_fields),\n\n      detected_quantity: clean(source.detected_quantity),\n      detected_mhd: clean(source.detected_mhd),\n      detected_unit_cost: clean(source.detected_unit_cost),\n      detected_unit_cost_brutto: clean(source.detected_unit_cost_brutto || source.unit_cost_brutto),\n      detected_ek_preis_netto: clean(source.detected_ek_preis_netto || source.ek_preis_netto),\n      detected_mwst_satz: clean(source.detected_mwst_satz || source.mwst_satz),\n      detected_produktart: clean(source.detected_produktart || source.produktart),\n\n      final_product_key: '',\n      final_product_name: '',\n      final_mdb_code: '',\n      final_sale_price_eur: '',\n      final_quantity: '',\n      final_mhd: '',\n      final_unit_cost: '',\n      final_storage_location: '',\n      final_ek_preis_netto: '',\n      final_ek_preis_brutto: '',\n      final_mwst_satz: '',\n      final_produktart: '',\n      error_message: ''\n    }\n  }];\n}\n\nlet selectedProduct = null;\nlet decision = '';\n\nif (['1', '2', '3'].includes(choice)) {\n  const candidate = prepared.candidates.find(c => c.number === choice);\n\n  if (!candidate) {\n    throw new Error('Kandidat nicht gefunden fuer Auswahl: ' + choice);\n  }\n\n  selectedProduct = {\n    product_key: clean(candidate.product_key),\n    internal_product_name: clean(candidate.internal_product_name),\n    nayax_product_name: clean(candidate.nayax_product_name),\n    mdb_code: clean(candidate.mdb_code),\n    sale_price_eur: clean(candidate.sale_price_eur),\n    produktart: clean(candidate.produktart),\n    mwst_satz: clean(candidate.mwst_satz)\n  };\n\n  decision = 'use_existing_product';\n}\n\nif (choice === 'KEY') {\n  const manualKey = clean(formDecision.manual_existing_product_key);\n\n  if (!manualKey) {\n    throw new Error('Bitte manual_existing_product_key angeben, wenn KEY gewaehlt wurde.');\n  }\n\n  const found = prepared.all_products.find(p => clean(p.product_key) === manualKey);\n\n  if (!found) {\n    throw new Error('Kein vorhandenes Produkt mit diesem product_key gefunden: ' + manualKey);\n  }\n\n  selectedProduct = {\n    product_key: clean(found.product_key),\n    internal_product_name: clean(found.internal_product_name),\n    nayax_product_name: clean(found.nayax_product_name),\n    mdb_code: clean(found.mdb_code),\n    sale_price_eur: clean(found.sale_price_eur),\n    produktart: clean(found.produktart),\n    mwst_satz: clean(found.mwst_satz)\n  };\n\n  decision = 'use_existing_product_manual_key';\n}\n\nif (choice === 'NEW') {\n  const newName = first(\n    currentInput.new_nayax_product_name,\n    prepared.default_new_nayax_product_name,\n    source.nayax_product_name,\n    source.source_item\n  );\n\n  if (!newName) {\n    throw new Error('Nayax-Produktname fuer NEW fehlt.');\n  }\n\n  selectedProduct = {\n    product_key: clean(prepared.suggested_product_key) || keyFromName(newName),\n    internal_product_name: newName,\n    nayax_product_name: newName,\n    mdb_code: clean(currentInput.mdb_code_new_optional || formDecision.mdb_code_new_optional),\n    sale_price_eur: clean(currentInput.sale_price_eur_new_optional || formDecision.sale_price_eur_new_optional),\n    produktart: '',\n    mwst_satz: ''\n  };\n\n  decision = 'create_new_product';\n}\n\nconst quantityRaw = first(formDecision.quantity_override, prepared.default_quantity);\nconst quantity = Number(String(quantityRaw).replace(',', '.'));\n\nif (!Number.isFinite(quantity) || quantity <= 0) {\n  throw new Error('Menge fehlt oder ist ungueltig: ' + quantityRaw);\n}\n\nconst produktart = inferProduktart(\n  formDecision.produktart_override,\n  prepared.default_produktart,\n  selectedProduct.produktart,\n  source.detected_produktart,\n  source.produktart,\n  source.source_item,\n  source.nayax_product_name\n);\nconst mwstSatzNumber = inferMwstSatz(\n  produktart,\n  formDecision.mwst_satz_override,\n  prepared.default_mwst_satz,\n  selectedProduct.mwst_satz,\n  source.detected_mwst_satz,\n  source.mwst_satz\n);\nconst mwstSatz = formatDecimal(mwstSatzNumber);\nconst unitCostBruttoRaw = first(\n  formDecision.unit_cost_override,\n  prepared.default_unit_cost_brutto,\n  prepared.default_unit_cost,\n  source.detected_unit_cost_brutto,\n  source.unit_cost_brutto,\n  source.detected_unit_cost,\n  source.unit_cost\n);\nconst unitCostNettoRaw = first(\n  formDecision.unit_cost_netto_override,\n  prepared.default_unit_cost_netto,\n  source.detected_ek_preis_netto,\n  source.ek_preis_netto\n);\nconst costs = calculateCosts(unitCostBruttoRaw, unitCostNettoRaw, mwstSatzNumber);\n\nconst purchaseDate = first(source.purchase_date, source.invoice_date, new Date().toISOString().slice(0, 10));\nconst ymd = purchaseDate.replace(/-/g, '');\nconst safeProduct = selectedProduct.product_key.replace(/^SKU_/, '').replace(/[^A-Za-z0-9_]/g, '_');\nconst stableId = prepared.approval_id.replace(/[^A-Za-z0-9]/g, '_');\n\nconst aliasName = first(formDecision.alias_name, prepared.default_alias_name, source.source_item);\nconst unitCost = costs.netto || unitCostNettoRaw;\nconst mhd = first(formDecision.mhd_override, prepared.default_mhd, source.detected_mhd);\nconst storageLocation = first(formDecision.storage_location_override, prepared.default_storage_location, 'Lager');\nconst notes = clean(formDecision.notes || source.notes);\n\nreturn [{\n  json: {\n    approval_id: prepared.approval_id,\n    decision,\n    rejected: false,\n    selected_choice: choice,\n\n    product_key: selectedProduct.product_key,\n    product_name: selectedProduct.internal_product_name || selectedProduct.nayax_product_name,\n    internal_product_name: selectedProduct.internal_product_name,\n    nayax_product_name: selectedProduct.nayax_product_name,\n    mdb_code: selectedProduct.mdb_code,\n    sale_price_eur: selectedProduct.sale_price_eur,\n    produktart,\n\n    alias_name: aliasName,\n    normalized_alias: normalize(aliasName),\n\n    batch_id: `B_${safeProduct}_${ymd}_${stableId}`,\n    purchase_date: purchaseDate,\n    mhd,\n    initial_qty: quantity,\n    remaining_qty: quantity,\n    quantity,\n    unit_cost: unitCost,\n    ek_preis_netto: costs.netto || unitCost,\n    ek_preis_brutto: costs.brutto || unitCostBruttoRaw,\n    unit_cost_brutto: costs.brutto || unitCostBruttoRaw,\n    mwst_satz: mwstSatz,\n    supplier: clean(source.supplier),\n    storage_location: storageLocation,\n    status: 'active',\n    notes,\n\n    source_invoice: first(source.invoice_id, source.invoice_number, source.invoice_key),\n    source_item: first(source.source_item, source.raw_item_name),\n    confidence: choice === 'NEW'\n      ? 'neu_manuell_bestaetigt'\n      : 'bestehendes_produkt_manuell_bestaetigt',\n\n    processed_at: now,\n    is_new_product: choice === 'NEW',\n    start_wf4_assignment: ['ja','yes','true','1'].includes(normalize(formDecision.product_direct_slot_assignment || '')),\n    slot_machine_id: first(formDecision.slot_machine_id, '457107528'),\n    slot_mdb_code: first(formDecision.slot_mdb_code, selectedProduct.mdb_code),\n    slot_current_machine_qty: first(formDecision.slot_current_machine_qty),\n    slot_machine_capacity: first(formDecision.slot_machine_capacity),\n    slot_target_stock: first(formDecision.slot_target_stock),\n    slot_min_stock: first(formDecision.slot_min_stock)\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "6c8804e2-057c-4c26-90e5-b8c7998dfe3e",
      "name": "Code - Entscheidung auswerten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-rejected",
              "leftValue": "={{ $json.rejected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dd1d2500-a5d4-45b4-a660-b283a803c909",
      "name": "IF - Abgelehnt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2432,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-new",
              "leftValue": "={{ $json.decision }}",
              "rightValue": "create_new_product",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3cca7f1d-f864-4ce8-977a-4506dc9d5768",
      "name": "IF - Neues Produkt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2896,
        704
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF3').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Produkte",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "product_key": "={{ $json.product_key }}",
            "nayax_product_name": "={{ $json.nayax_product_name }}",
            "internal_product_name": "={{ $json.product_name }}",
            "sale_price_eur": "={{ $json.sale_price_eur }}",
            "valid_from": "={{ $now.toISODate() }}",
            "active": "FALSE",
            "stock_source": "Rechnungseingang_Produktstamm",
            "notes": "={{ [$json.notes, 'WF2: Produktstamm ohne Slotzuordnung. Slotdaten werden nur durch WF4 gesetzt.'].filter(Boolean).join(' | ') }}",
            "produktart": "={{ $json.produktart }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "product_key",
              "displayName": "product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mdb_code",
              "displayName": "mdb_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nayax_product_name",
              "displayName": "nayax_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "internal_product_name",
              "displayName": "internal_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sale_price_eur",
              "displayName": "sale_price_eur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valid_from",
              "displayName": "valid_from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valid_to",
              "displayName": "valid_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "replenishment_status",
              "displayName": "replenishment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "min_stock",
              "displayName": "min_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_stock",
              "displayName": "target_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_machine_qty",
              "displayName": "current_machine_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_capacity",
              "displayName": "machine_capacity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stock_source",
              "displayName": "stock_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "produktart",
              "displayName": "produktart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "52d7fec9-d8af-4cd6-866b-ee11e987af16",
      "name": "Google Sheets - Produkt anlegen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3536,
        528
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF3').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Produkt_Aliase",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "alias_name": "={{ $('Code - Entscheidung auswerten').item.json.alias_name }}",
            "normalized_alias": "={{ $('Code - Entscheidung auswerten').item.json.normalized_alias }}",
            "product_key": "={{ $('Code - Entscheidung auswerten').item.json.product_key }}",
            "source": "Rechnungseingang_Smart_Selection",
            "confidence": "={{ $('Code - Entscheidung auswerten').item.json.confidence }}",
            "approved": "TRUE",
            "created_at": "={{ $('Code - Entscheidung auswerten').item.json.processed_at }}",
            "last_seen_at": "={{ $('Code - Entscheidung auswerten').item.json.processed_at }}\n",
            "supplier": "={{ $('Code - Entscheidung auswerten').item.json.supplier }}",
            "invoice_item_example": "={{ $('Code - Entscheidung auswerten').item.json.source_item }}",
            "notes": "={{ $('Code - Entscheidung auswerten').item.json.notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "alias_name",
              "displayName": "alias_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "normalized_alias",
              "displayName": "normalized_alias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_key",
              "displayName": "product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved",
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_seen_at",
              "displayName": "last_seen_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "supplier",
              "displayName": "supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_item_example",
              "displayName": "invoice_item_example",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "47b56752-ac7c-4edc-ae3d-fcc5deb0aa94",
      "name": "Google Sheets - Produktalias anlegen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3872,
        656
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF3').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Lagerchargen",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "batch_id": "={{ $('Code - Entscheidung auswerten').item.json.batch_id }}",
            "product_key": "={{ $('Code - Entscheidung auswerten').item.json.product_key }}",
            "purchase_date": "={{ $('Code - Entscheidung auswerten').item.json.purchase_date }}",
            "mhd": "={{ $('Code - Entscheidung auswerten').item.json.mhd }}",
            "initial_qty": "={{ $('Code - Entscheidung auswerten').item.json.initial_qty }}",
            "remaining_qty": "={{ $('Code - Entscheidung auswerten').item.json.remaining_qty }}",
            "unit_cost": "={{ $('Code - Entscheidung auswerten').item.json.ek_preis_netto }}",
            "supplier": "={{ $('Code - Entscheidung auswerten').item.json.supplier }}",
            "storage_location": "={{ $('Code - Entscheidung auswerten').item.json.storage_location }}",
            "status": "={{ $('Code - Entscheidung auswerten').item.json.status }}",
            "source_invoice": "={{ $('Code - Entscheidung auswerten').item.json.source_invoice }}",
            "source_item": "={{ $('Code - Entscheidung auswerten').item.json.source_item }}",
            "confidence": "={{ $('Code - Entscheidung auswerten').item.json.confidence }}",
            "mwst_satz": "={{ $('Code - Entscheidung auswerten').item.json.mwst_satz }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "batch_id",
              "displayName": "batch_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_key",
              "displayName": "product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "purchase_date",
              "displayName": "purchase_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mhd",
              "displayName": "mhd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "initial_qty",
              "displayName": "initial_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remaining_qty",
              "displayName": "remaining_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit_cost",
              "displayName": "unit_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "supplier",
              "displayName": "supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "storage_location",
              "displayName": "storage_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_invoice",
              "displayName": "source_invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_item",
              "displayName": "source_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mwst_satz",
              "displayName": "mwst_satz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "576fec81-0d5b-4f17-ad53-066bea1d506c",
      "name": "Google Sheets - Lagercharge anlegen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4128,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF3').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Rechnungseingang_Pruefung",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "approval_id": "={{ $('Code - Entscheidung auswerten').item.json.approval_id }}",
            "approved": "TRUE",
            "processed": "TRUE",
            "processed_at": "={{ $('Code - Entscheidung auswerten').item.json.processed_at }}",
            "status": "approved",
            "form_decision": "={{ $('Code - Entscheidung auswerten').item.json.decision }}",
            "final_product_key": "={{ $('Code - Entscheidung auswerten').item.json.product_key }}",
            "final_product_name": "={{ $('Code - Entscheidung auswerten').item.json.product_name }}",
            "final_mdb_code": "={{ $('Code - Entscheidung auswerten').item.json.mdb_code }}",
            "final_sale_price_eur": "={{ $('Code - Entscheidung auswerten').item.json.sale_price_eur }}",
            "final_quantity": "={{ $('Code - Entscheidung auswerten').item.json.quantity }}",
            "final_mhd": "={{ $('Code - Entscheidung auswerten').item.json.mhd }}",
            "final_unit_cost": "={{ $('Code - Entscheidung auswerten').item.json.ek_preis_netto }}",
            "final_storage_location": "={{ $('Code - Entscheidung auswerten').item.json.storage_location }}",
            "notes": "={{ $('Code - Entscheidung auswerten').item.json.notes }}",
            "source_file": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.source_file_name }}",
            "invoice_number": "={{ $('Code - Entscheidung auswerten').item.json.source_invoice }}",
            "invoice_date": "={{ $('Code - Entscheidung auswerten').item.json.purchase_date }}",
            "raw_item_name": "={{ $('Code - Entscheidung auswerten').item.json.source_item }}",
            "recognized_product_name": "={{ $('Code - Entscheidung auswerten').item.json.product_name }}",
            "matched_product_key": "={{ $('Code - Entscheidung auswerten').item.json.product_key }}",
            "quantity": "={{ $('Code - Entscheidung auswerten').item.json.quantity }}",
            "unit_cost": "={{ $('Code - Entscheidung auswerten').item.json.ek_preis_netto }}",
            "mhd_invoice": "={{ $('Google Sheets - Pruefung lesen').item.json.mhd_invoice }}",
            "mhd_final": "={{ $('Code - Entscheidung auswerten').item.json.mhd }}",
            "confidence": "={{ $('Code - Entscheidung auswerten').item.json.confidence }}",
            "invoice_key": "={{ $('Google Sheets - Pruefung lesen').item.json.invoice_key }}",
            "nayax_product_name": "={{ $('Code - Entscheidung auswerten').item.json.nayax_product_name }}",
            "existing_product_key": "={{ $('Code - Entscheidung auswerten').item.json.product_key }}",
            "existing_product_name": "={{ $('Code - Entscheidung auswerten').item.json.product_name }}",
            "supplier": "={{ $('Code - Entscheidung auswerten').item.json.supplier }}",
            "purchase_date": "={{ $('Code - Entscheidung auswerten').item.json.purchase_date }}",
            "source_item": "={{ $('Code - Entscheidung auswerten').item.json.source_item }}",
            "mdb_code": "={{ $('Code - Entscheidung auswerten').item.json.mdb_code }}",
            "detected_quantity": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.detected_quantity }}",
            "detected_mhd": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.detected_mhd }}",
            "detected_unit_cost": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.detected_unit_cost }}",
            "line_number": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.line_number }}",
            "invoice_id": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.invoice_id }}",
            "source_file_name": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.source_file_name }}",
            "source_file_id": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.source_file_id }}",
            "suggested_product_key": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.suggested_product_key }}",
            "suggested_batch_id": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.suggested_batch_id }}",
            "suggested_storage_location": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.suggested_storage_location }}",
            "suggested_action": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.suggested_action }}",
            "needs_user_input": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.needs_user_input }}",
            "missing_fields": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.missing_fields }}",
            "error_message": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.error_message }}",
            "detected_unit_cost_brutto": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.detected_unit_cost_brutto }}",
            "detected_ek_preis_netto": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.detected_ek_preis_netto }}",
            "detected_mwst_satz": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.detected_mwst_satz }}",
            "detected_produktart": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.source.detected_produktart }}",
            "unit_cost_brutto": "={{ $('Code - Entscheidung auswerten').item.json.ek_preis_brutto }}",
            "ek_preis_netto": "={{ $('Code - Entscheidung auswerten').item.json.ek_preis_netto }}",
            "mwst_satz": "={{ $('Code - Entscheidung auswerten').item.json.mwst_satz }}",
            "produktart": "={{ $('Code - Entscheidung auswerten').item.json.produktart }}",
            "final_ek_preis_netto": "={{ $('Code - Entscheidung auswerten').item.json.ek_preis_netto }}",
            "final_ek_preis_brutto": "={{ $('Code - Entscheidung auswerten').item.json.ek_preis_brutto }}",
            "final_mwst_satz": "={{ $('Code - Entscheidung auswerten').item.json.mwst_satz }}",
            "final_produktart": "={{ $('Code - Entscheidung auswerten').item.json.produktart }}"
          },
          "matchingColumns": [
            "approval_id"
          ],
          "schema": [
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_file",
              "displayName": "source_file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "supplier",
              "displayName": "supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw_item_name",
              "displayName": "raw_item_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recognized_product_name",
              "displayName": "recognized_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "suggested_product_key",
              "displayName": "suggested_product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "matched_product_key",
              "displayName": "matched_product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unit_cost",
              "displayName": "unit_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mhd_invoice",
              "displayName": "mhd_invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mhd_final",
              "displayName": "mhd_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_key",
              "displayName": "invoice_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "approved",
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_file_id",
              "displayName": "source_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_file_name",
              "displayName": "source_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "purchase_date",
              "displayName": "purchase_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "line_number",
              "displayName": "line_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_item",
              "displayName": "source_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_quantity",
              "displayName": "detected_quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_mhd",
              "displayName": "detected_mhd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_unit_cost",
              "displayName": "detected_unit_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mdb_code",
              "displayName": "mdb_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nayax_product_name",
              "displayName": "nayax_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "existing_product_key",
              "displayName": "existing_product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "existing_product_name",
              "displayName": "existing_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "suggested_batch_id",
              "displayName": "suggested_batch_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "suggested_storage_location",
              "displayName": "suggested_storage_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "suggested_action",
              "displayName": "suggested_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "needs_user_input",
              "displayName": "needs_user_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "missing_fields",
              "displayName": "missing_fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "approval_id",
              "displayName": "approval_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_product_key",
              "displayName": "final_product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_product_name",
              "displayName": "final_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_mdb_code",
              "displayName": "final_mdb_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_sale_price_eur",
              "displayName": "final_sale_price_eur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_quantity",
              "displayName": "final_quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_mhd",
              "displayName": "final_mhd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_unit_cost",
              "displayName": "final_unit_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_storage_location",
              "displayName": "final_storage_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "form_decision",
              "displayName": "form_decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detected_unit_cost_brutto",
              "displayName": "detected_unit_cost_brutto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_ek_preis_netto",
              "displayName": "detected_ek_preis_netto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_mwst_satz",
              "displayName": "detected_mwst_satz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_produktart",
              "displayName": "detected_produktart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unit_cost_brutto",
              "displayName": "unit_cost_brutto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ek_preis_netto",
              "displayName": "ek_preis_netto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mwst_satz",
              "displayName": "mwst_satz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "produktart",
              "displayName": "produktart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_ek_preis_netto",
              "displayName": "final_ek_preis_netto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_ek_preis_brutto",
              "displayName": "final_ek_preis_brutto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_mwst_satz",
              "displayName": "final_mwst_satz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_produktart",
              "displayName": "final_produktart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "69942f42-dff1-4be5-bc35-7f54e7d0b691",
      "name": "Google Sheets - Pruefung aktualisieren",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4400,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF3').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "=Rechnungseingang_Pruefung",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "approval_id": "={{ $json.approval_id }}",
            "approved": "FALSE",
            "processed": "TRUE",
            "status": "rejected",
            "form_decision": "reject",
            "notes": "={{ $json.notes }}",
            "processed_at": "={{ $now }}",
            "source_file_name": "={{ $json.source_file_name }}",
            "source_file_id": "={{ $json.source_file_id }}",
            "invoice_number": "={{ $json.invoice_number || $json.invoice_id }}",
            "invoice_date": "={{ $json.invoice_date || $json.purchase_date }}",
            "supplier": "={{ $json.supplier }}",
            "raw_item_name": "={{ $json.source_item }}",
            "recognized_product_name": "={{ $json.recognized_product_name }}",
            "suggested_product_key": "={{ $json.suggested_product_key }}",
            "confidence": "={{ $json.confidence }}",
            "quantity": "={{ $json.detected_quantity }}",
            "unit_cost": "={{ $json.detected_ek_preis_netto || $json.detected_unit_cost }}",
            "mhd_invoice": "={{ $json.detected_mhd }}",
            "mdb_code": "={{ $json.mdb_code }}",
            "nayax_product_name": "={{ $json.nayax_product_name }}",
            "invoice_id": "={{ $json.invoice_id }}",
            "purchase_date": "={{ $json.purchase_date }}",
            "line_number": "={{ $json.line_number }}",
            "source_item": "={{ $json.source_item }}",
            "detected_quantity": "={{ $json.detected_quantity }}",
            "detected_mhd": "={{ $json.detected_mhd }}",
            "detected_unit_cost": "={{ $json.detected_unit_cost }}",
            "mhd_final": "={{ $json.mhd || $json.detected_mhd }}",
            "invoice_key": "={{ $json.invoice_key || '' }}",
            "matched_product_key": "={{ $json.existing_product_key || $json.final_product_key || '' }}",
            "source_file": "={{ $json.source_file_name || $json.source_file || '' }}",
            "existing_product_key": "={{ $json.existing_product_key || '' }}",
            "existing_product_name": "={{ $json.existing_product_name || '' }}",
            "suggested_batch_id": "={{ $json.suggested_batch_id || '' }}",
            "suggested_storage_location": "={{ $json.suggested_storage_location || '' }}",
            "suggested_action": "={{ $json.suggested_action || '' }}",
            "needs_user_input": "={{ $json.needs_user_input || false }}",
            "missing_fields": "={{ $json.missing_fields || '' }}",
            "detected_unit_cost_brutto": "={{ $json.detected_unit_cost_brutto }}",
            "detected_ek_preis_netto": "={{ $json.detected_ek_preis_netto }}",
            "detected_mwst_satz": "={{ $json.detected_mwst_satz }}",
            "detected_produktart": "={{ $json.detected_produktart }}",
            "unit_cost_brutto": "={{ $json.detected_unit_cost_brutto }}",
            "ek_preis_netto": "={{ $json.detected_ek_preis_netto }}",
            "mwst_satz": "={{ $json.detected_mwst_satz }}",
            "produktart": "={{ $json.detected_produktart }}",
            "final_ek_preis_netto": "={{ $json.final_ek_preis_netto }}",
            "final_ek_preis_brutto": "={{ $json.final_ek_preis_brutto }}",
            "final_mwst_satz": "={{ $json.final_mwst_satz }}",
            "final_produktart": "={{ $json.final_produktart }}"
          },
          "matchingColumns": [
            "approval_id"
          ],
          "schema": [
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_file",
              "displayName": "source_file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "supplier",
              "displayName": "supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw_item_name",
              "displayName": "raw_item_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recognized_product_name",
              "displayName": "recognized_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "suggested_product_key",
              "displayName": "suggested_product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "matched_product_key",
              "displayName": "matched_product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unit_cost",
              "displayName": "unit_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mhd_invoice",
              "displayName": "mhd_invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mhd_final",
              "displayName": "mhd_final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_key",
              "displayName": "invoice_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "approved",
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_file_id",
              "displayName": "source_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_file_name",
              "displayName": "source_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "purchase_date",
              "displayName": "purchase_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "line_number",
              "displayName": "line_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_item",
              "displayName": "source_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_quantity",
              "displayName": "detected_quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_mhd",
              "displayName": "detected_mhd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_unit_cost",
              "displayName": "detected_unit_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mdb_code",
              "displayName": "mdb_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nayax_product_name",
              "displayName": "nayax_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "existing_product_key",
              "displayName": "existing_product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "existing_product_name",
              "displayName": "existing_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "suggested_batch_id",
              "displayName": "suggested_batch_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "suggested_storage_location",
              "displayName": "suggested_storage_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "suggested_action",
              "displayName": "suggested_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "needs_user_input",
              "displayName": "needs_user_input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "missing_fields",
              "displayName": "missing_fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "approval_id",
              "displayName": "approval_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_product_key",
              "displayName": "final_product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_product_name",
              "displayName": "final_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_mdb_code",
              "displayName": "final_mdb_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_sale_price_eur",
              "displayName": "final_sale_price_eur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_quantity",
              "displayName": "final_quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_mhd",
              "displayName": "final_mhd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_unit_cost",
              "displayName": "final_unit_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_storage_location",
              "displayName": "final_storage_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "form_decision",
              "displayName": "form_decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "detected_unit_cost_brutto",
              "displayName": "detected_unit_cost_brutto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_ek_preis_netto",
              "displayName": "detected_ek_preis_netto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_mwst_satz",
              "displayName": "detected_mwst_satz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "detected_produktart",
              "displayName": "detected_produktart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unit_cost_brutto",
              "displayName": "unit_cost_brutto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ek_preis_netto",
              "displayName": "ek_preis_netto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mwst_satz",
              "displayName": "mwst_satz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "produktart",
              "displayName": "produktart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_ek_preis_netto",
              "displayName": "final_ek_preis_netto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_ek_preis_brutto",
              "displayName": "final_ek_preis_brutto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_mwst_satz",
              "displayName": "final_mwst_satz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "final_produktart",
              "displayName": "final_produktart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ac960b7a-75c4-473d-b0d0-de92964b2d8f",
      "name": "Google Sheets - Ablehnung aktualisieren",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2736,
        448
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Freigabe verarbeitet",
        "completionMessage": "Der Vorschlag wurde verarbeitet. Produkt wurde bei Bedarf angelegt, Alias wurde gespeichert, Lagercharge wurde angelegt und die Pruefzeile wurde aktualisiert.",
        "options": {}
      },
      "id": "c078c4f3-2dfb-4b47-a0ba-7aa67bbcb623",
      "name": "Form Ending - Erfolg",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        4656,
        720
      ],
      "webhookId": "acd75844-dce3-41d3-bdb5-75c8b4368a47"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Vorschlag abgelehnt",
        "completionMessage": "Der Vorschlag wurde abgelehnt und in Rechnungseingang_Pruefung aktualisiert.",
        "options": {}
      },
      "id": "2855615c-8f50-48cd-b92b-435f154ce564",
      "name": "Form Ending - Abgelehnt",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        2992,
        448
      ],
      "webhookId": "c7c304e2-0433-466a-8d58-6b7632743264"
    },
    {
      "parameters": {
        "formTitle": "Rechnungsvorschlag auswählen",
        "formDescription": "Starte die Bearbeitung des nächsten offenen Rechnungsvorschlags.",
        "formFields": {
          "values": []
        },
        "options": {}
      },
      "id": "de9aeb38-f76f-4a3c-b534-1c29ef25b1a2",
      "name": "Nächsten Rechnungsvorschlag bearbeiten",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        80,
        592
      ],
      "webhookId": "43233219-e474-4a50-8b3e-526067ad993a"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\nfunction clean(v) {\n  return String(v ?? '').trim();\n}\n\nfunction isTrue(v) {\n  return clean(v).toUpperCase() === 'TRUE' || v === true;\n}\n\nconst openRows = rows.filter(r =>\n  clean(r.approval_id) &&\n  !isTrue(r.processed)\n);\n\nif (!openRows.length) {\n  throw new Error('Keine offenen Rechnungsvorschläge gefunden.');\n}\n\nopenRows.sort((a, b) => {\n  const da = clean(a.created_at);\n  const db = clean(b.created_at);\n  return da.localeCompare(db);\n});\n\nreturn [{\n  json: {\n    approval_id: clean(openRows[0].approval_id)\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        592
      ],
      "id": "b153e7eb-3ad4-4b31-8652-755eabb4761a",
      "name": "naechsten offenen Vorschlag waehlen"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ffe68549-d462-407d-a265-3afe72a172de",
              "leftValue": "={{ $json.Auswahl }}",
              "rightValue": "NEW",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1728,
        592
      ],
      "id": "ce3fded0-2666-416a-b7e6-c0b49d4a3343",
      "name": "If"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Neues Produkt (Nayax Name prüfen)",
              "fieldName": "new_nayax_product_name",
              "defaultValue": "={{ $('Code - Produktvorschlaege vorbereiten').item.json.default_new_nayax_product_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        1936,
        512
      ],
      "id": "4d11b7cb-d593-48d4-a590-c194f5cb929e",
      "name": "Neues Produkt prüfen",
      "webhookId": "e007711d-78fc-411a-b05e-a8a48388fae7"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
          "mode": "list",
          "cachedResultName": "nayax_lager_google_sheets_import_aktualisiert_v3_kitkat_2026-05-02",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1288547484,
          "mode": "list",
          "cachedResultName": "Rechnungseingang_Pruefung",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit#gid=1288547484"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "approval_id",
              "lookupValue": "={{ $('Code - Entscheidung auswerten').item.json.approval_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2576,
        704
      ],
      "id": "17f4489a-3501-4204-b9d9-60d1ef90b188",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst finalData = $('Code - Entscheidung auswerten').item.json;\n\nif (!row || !row.approval_id) {\n  throw new Error('Pruefzeile nicht gefunden: ' + finalData.approval_id);\n}\n\nconst processed = String(row.processed ?? '').trim().toUpperCase();\n\nif (processed === 'TRUE' || row.processed === true) {\n  throw new Error('Dieser Vorschlag wurde bereits verarbeitet. Alias und Lagercharge werden nicht erneut angelegt.');\n}\n\nreturn [{ json: finalData }];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        704
      ],
      "id": "417bd35d-8ddf-49f6-ad22-f030b10958fb",
      "name": "Doppelverarbeitung stoppen"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
          "mode": "list",
          "cachedResultName": "nayax_lager_google_sheets_import_aktualisiert_v3_kitkat_2026-05-02",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 725370489,
          "mode": "list",
          "cachedResultName": "Produkt_Aliase",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit#gid=725370489"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "product_key",
              "lookupValue": "={{ $('Code - Entscheidung auswerten').item.json.product_key }}"
            },
            {
              "lookupColumn": "normalized_alias",
              "lookupValue": "={{ $('Code - Entscheidung auswerten').item.json.normalized_alias }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3472,
        800
      ],
      "id": "1b6cb796-5028-4eec-8edf-3d36e014869d",
      "name": "Produktalias",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b238c8bb-8554-4497-8ff6-1e26d36eba5c",
              "leftValue": "={{ $input.all().length === 0 }}",
              "rightValue": "0",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3648,
        768
      ],
      "id": "27e54d9e-fd35-4897-abc4-8e46d70d9495",
      "name": "Alias existiert noch nicht?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
          "mode": "list",
          "cachedResultName": "nayax_lager_google_sheets_import_aktualisiert_v3_kitkat_2026-05-02",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1505466008,
          "mode": "list",
          "cachedResultName": "Produkte",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit#gid=1505466008"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "product_key",
              "lookupValue": "={{ $('Code - Entscheidung auswerten').item.json.product_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3152,
        640
      ],
      "id": "9a41e2cd-9abf-4a6c-b0e2-a970ba7f7438",
      "name": "Produkt prüfen",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7dc202e1-1a15-4d64-8fd7-d4b8a8f8beba",
              "leftValue": "={{ $input.all().length === 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3312,
        640
      ],
      "id": "bca2abec-8841-400a-9c6b-1378eaee5dfb",
      "name": "Produkt existiert noch nicht?"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function clean(v){return String(v ?? '').replace(/\\n/g,' ').replace(/\\s+/g,' ').trim();}\nconst data = $('Code - Entscheidung auswerten').item.json;\nif(!data.start_wf4_assignment) return [];\nif(!clean(data.slot_mdb_code)) throw new Error('WF4-Start gewünscht, aber slot_mdb_code fehlt.');\n\nreturn [{json:{\n  source:'WF2_Rechnungseingang',\n  detected_reason:'NEW_PRODUCT_READY_FOR_SLOT_ASSIGNMENT',\n  machine_id:clean(data.slot_machine_id || '457107528'),\n  product_key:clean(data.product_key),\n  suggested_product_key:clean(data.product_key),\n  nayax_product_name:clean(data.nayax_product_name || data.product_name),\n  product_label:clean(data.nayax_product_name || data.product_name),\n  actual_mdb_code:clean(data.slot_mdb_code),\n  new_mdb_code:clean(data.slot_mdb_code),\n  suggested_change_type:'Produkt im Slot austauschen',\n  current_machine_qty:clean(data.slot_current_machine_qty),\n  machine_capacity:clean(data.slot_machine_capacity),\n  target_stock:clean(data.slot_target_stock),\n  min_stock:clean(data.slot_min_stock),\n  settlement_datetime_gmt:clean(data.processed_at),\n  notes:'Aus WF2 nach Produkt-/Lagerfreigabe zur Slotzuordnung gestartet.'\n}}];"
      },
      "id": "cfb6a352-a4d9-4d6b-824e-640c86df09db",
      "name": "Code - WF4 Slotzuordnung vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        864
      ]
    },
    {
      "parameters": {
        "options": {
          "waitForSubWorkflow": false
        },
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "z8O2ExZWeQZVepbt",
          "cachedResultName": "WF4 - MDB Produktzuordnung bearbeiten"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "source": "={{ $json.source }}",
            "detected_reason": "={{ $json.detected_reason }}",
            "machine_id": "={{ $json.machine_id }}",
            "product_key": "={{ $json.product_key }}",
            "suggested_product_key": "={{ $json.suggested_product_key }}",
            "nayax_product_name": "={{ $json.nayax_product_name }}",
            "product_label": "={{ $json.product_label }}",
            "actual_mdb_code": "={{ $json.actual_mdb_code }}",
            "new_mdb_code": "={{ $json.new_mdb_code }}",
            "suggested_change_type": "={{ $json.suggested_change_type }}",
            "current_machine_qty": "={{ $json.current_machine_qty }}",
            "machine_capacity": "={{ $json.machine_capacity }}",
            "target_stock": "={{ $json.target_stock }}",
            "min_stock": "={{ $json.min_stock }}",
            "settlement_datetime_gmt": "={{ $json.settlement_datetime_gmt }}",
            "notes": "={{ $json.notes }}"
          },
          "schema": [],
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each"
      },
      "id": "49a9fc18-32ab-405b-b77a-a9695a65390f",
      "name": "Execute Workflow - WF4 Slotzuordnung",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1456,
        864
      ]
    },
    {
      "parameters": {},
      "id": "11e7eb8e-9103-42c7-ad55-81fb637a75c8",
      "name": "Execute Workflow Trigger - aus WF1",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        80,
        760
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Config - WF3": {
      "main": [
        [
          {
            "node": "Google Sheets - Pruefung lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Pruefung lesen": {
      "main": [
        [
          {
            "node": "naechsten offenen Vorschlag waehlen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Produkte lesen": {
      "main": [
        [
          {
            "node": "Code - Produktvorschlaege vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Produktvorschlaege vorbereiten": {
      "main": [
        [
          {
            "node": "Form - Produktentscheidung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form - Produktentscheidung": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Entscheidung auswerten": {
      "main": [
        [
          {
            "node": "IF - Abgelehnt?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Abgelehnt?": {
      "main": [
        [
          {
            "node": "Google Sheets - Ablehnung aktualisieren",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Neues Produkt?": {
      "main": [
        [
          {
            "node": "Produkt prüfen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Produktalias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Produkt anlegen": {
      "main": [
        [
          {
            "node": "Google Sheets - Produktalias anlegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Produktalias anlegen": {
      "main": [
        [
          {
            "node": "Google Sheets - Lagercharge anlegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Lagercharge anlegen": {
      "main": [
        [
          {
            "node": "Google Sheets - Pruefung aktualisieren",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - WF4 Slotzuordnung vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Pruefung aktualisieren": {
      "main": [
        [
          {
            "node": "Form Ending - Erfolg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Ablehnung aktualisieren": {
      "main": [
        [
          {
            "node": "Form Ending - Abgelehnt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nächsten Rechnungsvorschlag bearbeiten": {
      "main": [
        [
          {
            "node": "Config - WF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "naechsten offenen Vorschlag waehlen": {
      "main": [
        [
          {
            "node": "Google Sheets - Produkte lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Neues Produkt prüfen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code - Entscheidung auswerten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neues Produkt prüfen": {
      "main": [
        [
          {
            "node": "Code - Entscheidung auswerten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Doppelverarbeitung stoppen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Doppelverarbeitung stoppen": {
      "main": [
        [
          {
            "node": "IF - Neues Produkt?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produktalias": {
      "main": [
        [
          {
            "node": "Alias existiert noch nicht?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alias existiert noch nicht?": {
      "main": [
        [
          {
            "node": "Google Sheets - Produktalias anlegen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - Lagercharge anlegen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produkt prüfen": {
      "main": [
        [
          {
            "node": "Produkt existiert noch nicht?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Produkt existiert noch nicht?": {
      "main": [
        [
          {
            "node": "Google Sheets - Produkt anlegen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Produktalias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - WF4 Slotzuordnung vorbereiten": {
      "main": [
        [
          {
            "node": "Execute Workflow - WF4 Slotzuordnung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger - aus WF1": {
      "main": [
        [
          {
            "node": "Config - WF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eb7d7b13-1f3c-4621-b02b-1fc84e5a046f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "436e48b4989df60636199a0b3597a57e91e68cd7883152d5895761ecc592158a"
  },
  "id": "pFdvZVMsM0V6PweI",
  "tags": []
}
