WF3 Nayax Lynx FIFO Lagerbestand - manueller Abruf - mit WF4 Integration.json
{
  "updatedAt": "2026-05-11T16:24:12.288Z",
  "createdAt": "2026-05-07T16:44:11.100Z",
  "id": "2PFfPf0sVmMW7Fpp",
  "name": "WF3 Nayax Lynx FIFO Lagerbestand - manueller Abruf",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "51ae94ee-f1d2-41cd-9b07-7e78d34c04a1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2768,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "machine_id",
              "name": "machine_id",
              "value": "457107528",
              "type": "string"
            },
            {
              "id": "nayax_base_url",
              "name": "nayax_base_url",
              "value": "https://lynx.nayax.com",
              "type": "string"
            },
            {
              "id": "google_sheet_id",
              "name": "google_sheet_id",
              "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
              "type": "string"
            },
            {
              "id": "mhd_warning_days",
              "name": "mhd_warning_days",
              "value": 30,
              "type": "number"
            },
            {
              "id": "default_quantity_per_sale",
              "name": "default_quantity_per_sale",
              "value": 1,
              "type": "number"
            },
            {
              "id": "e2038ef9-e2e7-4d7c-a68d-d83a44570d16",
              "name": "inventory_cutover_datetime",
              "value": "2026-05-02T10:10:00.000Z",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cb1881ca-5349-4ec9-b888-ce9cd103893f",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2544,
        480
      ],
      "notes": "Hier MachineID, Base-URL und Google-Sheet-ID ersetzen. Produktive Nayax-Base-URL mit Nayax klären."
    },
    {
      "parameters": {
        "url": "={{ $json.nayax_base_url + '/operational/v1/machines/' + $json.machine_id + '/lastSales' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer NAYAX_TOKEN_IN_N8N_CREDENTIAL_EINTRAGEN"
            }
          ]
        },
        "options": {}
      },
      "id": "ed9e4993-0a7d-4259-9925-30439cdbec6b",
      "name": "Nayax - Last Sales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2304,
        480
      ],
      "notes": "Credential in n8n anlegen. Header: Authorization. Wert: API-Key oder Bearer <Token>, je nachdem was Nayax für euren Account freischaltet."
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\n\nlet sales = [];\n\nfor (const item of inputItems) {\n  const data = item.json;\n\n  if (Array.isArray(data)) {\n    sales.push(...data);\n  } else if (Array.isArray(data.body)) {\n    sales.push(...data.body);\n  } else {\n    sales.push(data);\n  }\n}\n\nreturn sales.map(sale => ({\n  json: sale\n}));"
      },
      "id": "eafa9a7f-5de1-4c31-ad51-09b8fade5a8a",
      "name": "Normalize Sales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        480
      ],
      "notes": "Macht aus der Nayax-Antwort einzelne Items je Verkauf."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').item.json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Produkte",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "active",
              "lookupValue": "TRUE"
            },
            {
              "lookupColumn": "machine_id",
              "lookupValue": "={{ $json.MachineID }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e7708220-6c74-4818-82c6-437d5dd75046",
      "name": "Google Sheets - Produkte lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1824,
        224
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Lagerchargen",
          "mode": "name"
        },
        "options": {}
      },
      "id": "f0038ce6-e19d-4539-8ced-d6191bee089d",
      "name": "Google Sheets - Lagerchargen lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1616,
        496
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Verarbeitete_Transaktionen",
          "mode": "name"
        },
        "options": {}
      },
      "id": "cf64cbee-a9e0-49b8-a0d4-d5479c088109",
      "name": "Google Sheets - Transaktionen lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1824,
        736
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "product_key",
        "options": {}
      },
      "id": "846177cb-62af-4151-99e7-ac6e1ba60342",
      "name": "Merge - Produkte + Lagerchargen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1360,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').first().json;\nconst sales = $items('Code in JavaScript').map(i => i.json);\nconst products = $items('Google Sheets - Produkte lesen').map(i => i.json);\nconst originalBatches = $items('Google Sheets - Lagerchargen lesen').map(i => i.json);\nconst processed = new Set(\n  $items('Google Sheets - Transaktionen lesen')\n    .map(i => String(i.json.transaction_id || '').trim())\n    .filter(Boolean)\n);\n\nconst productQtyUpdates = new Map();\nconst now = new Date().toISOString();\nconst batchMap = new Map(originalBatches.map(b => [String(b.batch_id), { ...b }]));\nconst transactionLogs = [];\nconst warnings = [];\nconst productChangeSuggestions = [];\nconst cutoverDate = new Date(config.inventory_cutover_datetime || '2026-05-02T10:00:00.000Z');\nconst warningDays = Number(config.mhd_warning_days ?? 14);\n\nfunction clean(value) {\n  return String(value ?? '').replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nconst workflowStateRows = $items('Google Sheets - letzter Verkaufsworkflow lesen').map(i => i.json);\n\nconst workflowState = workflowStateRows.find(r =>\n  clean(r.workflow_key) === 'WF3_NAYAX_FIFO'\n);\n\nconst lastSuccessfulSaleDate = new Date(\n  clean(workflowState?.last_inventory_review_at) ||\n  config.inventory_cutover_datetime ||\n  '1970-01-01T00:00:00.000Z'\n);\n\nlet maxProcessedSaleDate = lastSuccessfulSaleDate;\n\nfunction firstNonEmpty(...values) {\n  return values.map(clean).find(value => value !== '') || '';\n}\n\nfunction normalizeName(value) {\n  return clean(value).toLowerCase()\n    .replace(/&/g, 'und')\n    .replace(/\\+/g, 'plus')\n    .replace(/ä/g, 'ae')\n    .replace(/ö/g, 'oe')\n    .replace(/ü/g, 'ue')\n    .replace(/ß/g, 'ss')\n    .replace(/[^a-z0-9]/g, '');\n}\n\nfunction generateProductKey(name) {\n  const base = clean(name).toUpperCase()\n    .replace(/Ä/g, 'AE')\n    .replace(/Ö/g, 'OE')\n    .replace(/Ü/g, 'UE')\n    .replace(/ẞ/g, 'SS')\n    .replace(/ß/g, 'SS')\n    .replace(/&/g, 'UND')\n    .replace(/\\+/g, 'PLUS')\n    .replace(/[^A-Z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '');\n  return `SKU_${base || 'UNBEKANNT'}`;\n}\n\nfunction parseProductName(raw) {\n  const text = clean(raw);\n  const match = text.match(/^(.*?)\\s*\\((\\d+)\\s*=\\s*([0-9]+(?:[.,][0-9]+)?)\\s*\\)/);\n  return {\n    raw,\n    label: match ? clean(match[1]) : text,\n    mdb_code: match ? String(match[2]) : '',\n    price: match ? String(match[3]).replace(',', '.') : ''\n  };\n}\n\nfunction saleDate(sale) {\n  return new Date(\n    sale.SettlementDateTimeGMT ||\n    sale.MachineAuthorizationTime ||\n    sale.AuthorizationDateTimeGMT ||\n    0\n  );\n}\n\nfunction saleDatetime(sale) {\n  return clean(\n    sale.SettlementDateTimeGMT ||\n    sale.MachineAuthorizationTime ||\n    sale.AuthorizationDateTimeGMT ||\n    ''\n  );\n}\n\nfunction isActiveProduct(p) {\n  return clean(p.active).toUpperCase() === 'TRUE' &&\n    !clean(p.valid_to) &&\n    !clean(p.valid_to_datetime);\n}\n\nfunction namesMatch(a, b) {\n  const aa = normalizeName(a);\n  const bb = normalizeName(b);\n  if (!aa || !bb) return false;\n  if (aa === bb) return true;\n  if (aa.length >= 8 && bb.includes(aa)) return true;\n  if (bb.length >= 8 && aa.includes(bb)) return true;\n  return false;\n}\n\nfunction productName(product) {\n  return clean(product.nayax_product_name || product.internal_product_name || product.product_key);\n}\n\nfunction activeProductsForMachine(machineId) {\n  return products.filter(p =>\n    clean(p.machine_id || machineId) === clean(machineId) &&\n    isActiveProduct(p)\n  );\n}\n\nfunction getMdbCode(sale, parsed) {\n  return firstNonEmpty(\n    sale.mdb_code_extracted,\n    sale.mdb_code,\n    sale.MDBCode,\n    sale.MdbCode,\n    sale.MDB_CODE,\n    sale.MDB,\n    sale.ProductMDBCode,\n    sale.ProductMdbCode,\n    parsed.mdb_code\n  );\n}\n\nfunction findProductByName(machineId, label, mdbCode) {\n  const candidates = activeProductsForMachine(machineId)\n    .filter(p => namesMatch(productName(p), label));\n\n  if (!candidates.length) return null;\n\n  const exactNorm = normalizeName(label);\n  const exactCandidates = candidates.filter(p =>\n    normalizeName(productName(p)) === exactNorm\n  );\n\n  const pool = exactCandidates.length ? exactCandidates : candidates;\n\n  if (mdbCode) {\n    const sameMdb = pool.find(p => clean(p.mdb_code) === clean(mdbCode));\n    if (sameMdb) return sameMdb;\n  }\n\n  return pool[0];\n}\n\nfunction getProductForSale(sale) {\n  const parsed = parseProductName(sale.ProductName);\n  const machineId = clean(sale.MachineID || config.machine_id);\n  const mdbCode = getMdbCode(sale, parsed);\n  const product = findProductByName(machineId, parsed.label, mdbCode);\n\n  if (!product) {\n    return { product: null, parsed, mdbCode, expectedMdb: '', reason: 'UNKNOWN_PRODUCT' };\n  }\n\n  const expectedMdb = clean(product.mdb_code);\n\n  if (!mdbCode) {\n    return { product, parsed, mdbCode, expectedMdb, reason: 'MDB_CODE_MISSING_CONTROL' };\n  }\n\n  if (!expectedMdb) {\n    return { product, parsed, mdbCode, expectedMdb, reason: 'MDB_EXPECTED_CODE_MISSING' };\n  }\n\n  if (expectedMdb !== mdbCode) {\n    const productOnActualMdb = activeProductsForMachine(machineId)\n      .find(p => clean(p.mdb_code) === mdbCode);\n\n    const differentProductOnActualMdb =\n      productOnActualMdb &&\n      clean(productOnActualMdb.product_key) !== clean(product.product_key);\n\n    return {\n      product,\n      parsed,\n      mdbCode,\n      expectedMdb,\n      productOnActualMdb,\n      reason: differentProductOnActualMdb\n        ? 'MDB_PRODUCT_MAPPING_MISMATCH'\n        : 'MDB_CODE_CHANGED_FOR_PRODUCT'\n    };\n  }\n\n  return { product, parsed, mdbCode, expectedMdb, reason: 'OK' };\n}\n\nfunction getSoldQty(sale) {\n  // Phase A2: Nayax API always returns Quantity=0 for individual sales.\n  // Each transaction = 1 unit sold. Use default_quantity_per_sale (= 1).\n  const multivendQty = Number(\n    sale.MultivendNumverOfProducts ??\n    sale.MultivendNumberOfProducts ??\n    0\n  );\n  return multivendQty > 0\n    ? multivendQty\n    : Number(config.default_quantity_per_sale ?? 1);\n}\n\nfunction sortByMhd(a, b) {\n  const aDate = clean(a.mhd) ? new Date(a.mhd) : new Date('9999-12-31');\n  const bDate = clean(b.mhd) ? new Date(b.mhd) : new Date('9999-12-31');\n  return aDate - bDate;\n}\n\nfunction productUpdateKey(product, machineId, mdbCode) {\n  return clean(product.product_slot_id) ||\n    [\n      clean(machineId),\n      clean(mdbCode || product.mdb_code),\n      clean(product.product_key)\n    ].join('|');\n}\n\nfunction queueProductQtyDeduction(product, machineId, mdbCode, soldQty) {\n  const key = productUpdateKey(product, machineId, mdbCode);\n\n  const currentQty = Number(\n    String(product.current_machine_qty ?? '').replace(',', '.')\n  );\n\n  if (!Number.isFinite(currentQty)) {\n    warnings.push({\n      created_at: now,\n      type: 'CURRENT_MACHINE_QTY_MISSING',\n      severity: 'warning',\n      machine_id: machineId,\n      product_key: clean(product.product_key),\n      nayax_product_name: productName(product),\n      message: `current_machine_qty fehlt oder ist ungueltig fuer ${productName(product)}. Maschinenbestand wurde nicht aktualisiert.`,\n      resolved: 'FALSE'\n    });\n\n    return;\n  }\n\n  const existing = productQtyUpdates.get(key);\n\n  if (existing) {\n    existing.deduct_qty += soldQty;\n\n    existing.current_machine_qty = Math.max(\n      0,\n      currentQty - existing.deduct_qty\n    );\n\n    return;\n  }\n\n  productQtyUpdates.set(key, {\n    product_slot_id: clean(product.product_slot_id),\n    product_key: clean(product.product_key),\n    machine_id: clean(machineId),\n    mdb_code: clean(mdbCode || product.mdb_code),\n    old_current_machine_qty: currentQty,\n    deduct_qty: soldQty,\n    current_machine_qty: Math.max(0, currentQty - soldQty),\n    last_stock_update_at: now,\n    last_stock_update_source: 'WF3_NAYAX_LAST_SALES',\n    last_change_id: `WF3_SALE_${now}`,\n    notes: `WF3: Maschinenbestand durch Verkauf reduziert. Alt=${currentQty}, Abzug=${soldQty}.`\n  });\n}\n\nfunction addProductChangeSuggestionOnce(suggestion) {\n  const key = [\n    suggestion.change_type,\n    suggestion.machine_id,\n    suggestion.expected_mdb_code,\n    suggestion.actual_mdb_code,\n    suggestion.nayax_product_name,\n    suggestion.existing_product_key,\n    suggestion.suggested_product_key\n  ].join('|');\n\n  const exists = productChangeSuggestions.some(s => [\n    s.change_type,\n    s.machine_id,\n    s.expected_mdb_code,\n    s.actual_mdb_code,\n    s.nayax_product_name,\n    s.existing_product_key,\n    s.suggested_product_key\n  ].join('|') === key);\n\n  if (!exists) productChangeSuggestions.push(suggestion);\n}\n\nfunction suggestedChangeTypeDe(reason) {\n  if (reason === 'MDB_PRODUCT_MAPPING_MISMATCH') return 'Produkt im Slot austauschen';\n  if (reason === 'MDB_CODE_CHANGED_FOR_PRODUCT') return 'Produkt auf anderen MDB-Slot umziehen';\n  return '';\n}\n\nfunction addMdbWarning(sale, match) {\n  if (![\n    'MDB_CODE_CHANGED_FOR_PRODUCT',\n    'MDB_PRODUCT_MAPPING_MISMATCH',\n    'MDB_CODE_MISSING_CONTROL',\n    'MDB_EXPECTED_CODE_MISSING'\n  ].includes(match.reason)) return;\n\n  const machineId = clean(sale.MachineID || config.machine_id);\n\n  warnings.push({\n    created_at: now,\n    type: match.reason,\n    severity: 'warning',\n    machine_id: machineId,\n    product_key: match.product ? clean(match.product.product_key) : '',\n    nayax_product_name: clean(sale.ProductName),\n    message: `MDB-Kontrolle fuer ${clean(sale.ProductName)}: erwartet ${match.expectedMdb || 'leer'}, Nayax meldet ${match.mdbCode || 'leer'}. Verkauf wird weiter verarbeitet.`,\n    resolved: 'FALSE'\n  });\n}\n\nfunction detectProductChangeSuggestion(sale, match) {\n  const parsed = match.parsed || parseProductName(sale.ProductName);\n  const machineId = clean(sale.MachineID || config.machine_id);\n  const mdbCode = clean(match.mdbCode || getMdbCode(sale, parsed));\n\n  if (!parsed.label || !mdbCode) return;\n\n  if (match.product && [\n    'MDB_CODE_CHANGED_FOR_PRODUCT',\n    'MDB_PRODUCT_MAPPING_MISMATCH'\n  ].includes(match.reason)) {\n    const productOnActualMdb = match.productOnActualMdb ||\n      activeProductsForMachine(machineId).find(p => clean(p.mdb_code) === mdbCode);\n\n    const existingProduct = productOnActualMdb || match.product;\n    const changeTypeDe = suggestedChangeTypeDe(match.reason);\n\n    addProductChangeSuggestionOnce({\n      created_at: now,\n      source: 'WF3_NAYAX_LAST_SALES',\n      detected_reason: match.reason,\n      change_type: match.reason,\n      machine_id: machineId,\n      old_mdb_code: match.expectedMdb,\n      new_mdb_code: mdbCode,\n      expected_mdb_code: match.expectedMdb,\n      actual_mdb_code: mdbCode,\n      mdb_code: mdbCode,\n      transaction_id: clean(sale.TransactionID),\n      settlement_datetime_gmt: saleDatetime(sale),\n      raw_product_name: clean(sale.ProductName),\n      nayax_product_name: parsed.label,\n      existing_product_key: clean(existingProduct.product_key),\n      existing_nayax_product_name: productName(existingProduct),\n      product_key: clean(match.product.product_key),\n      suggested_product_key: clean(match.product.product_key),\n      suggested_action: changeTypeDe,\n      suggested_change_type: changeTypeDe,\n      confidence: 'hoch',\n      approved: 'FALSE',\n      processed: 'FALSE',\n      wf4_auto_start: 'TRUE',\n      notes: match.reason === 'MDB_PRODUCT_MAPPING_MISMATCH'\n        ? 'ProductName passt zu einem bekannten Produkt, aber der gemeldete MDB-Slot ist in Google Sheets einem anderen aktiven Produkt zugeordnet.'\n        : 'ProductName passt zu einem bekannten Produkt, aber Nayax meldet einen anderen MDB-Code als Google Sheets.'\n    });\n\n    return;\n  }\n\n  if (!match.product) {\n    const productOnActualMdb = activeProductsForMachine(machineId)\n      .find(p => clean(p.mdb_code) === mdbCode);\n\n    addProductChangeSuggestionOnce({\n      created_at: now,\n      source: 'WF3_NAYAX_LAST_SALES',\n      detected_reason: productOnActualMdb ? 'PRODUCT_CHANGE' : 'NEW_PRODUCT',\n      change_type: productOnActualMdb ? 'PRODUCT_CHANGE' : 'NEW_PRODUCT',\n      machine_id: machineId,\n      old_mdb_code: productOnActualMdb ? clean(productOnActualMdb.mdb_code) : '',\n      new_mdb_code: mdbCode,\n      expected_mdb_code: productOnActualMdb ? clean(productOnActualMdb.mdb_code) : '',\n      actual_mdb_code: mdbCode,\n      mdb_code: mdbCode,\n      transaction_id: clean(sale.TransactionID),\n      settlement_datetime_gmt: saleDatetime(sale),\n      raw_product_name: clean(sale.ProductName),\n      nayax_product_name: parsed.label,\n      existing_product_key: productOnActualMdb ? clean(productOnActualMdb.product_key) : '',\n      existing_nayax_product_name: productOnActualMdb ? productName(productOnActualMdb) : '',\n      product_key: '',\n      suggested_product_key: generateProductKey(parsed.label),\n      suggested_action: productOnActualMdb\n        ? 'Alte MDB-Zuordnung pruefen und neues Produkt erst im Stammdatenprozess anlegen'\n        : 'Neues Produkt im Stammdatenprozess anlegen',\n      suggested_change_type: 'Produkt im Slot austauschen',\n      confidence: productOnActualMdb ? 'mittel' : 'pruefen',\n      approved: 'FALSE',\n      processed: 'FALSE',\n      wf4_auto_start: 'FALSE',\n      notes: productOnActualMdb\n        ? 'Nayax-Produktname ist nicht bekannt, aber der MDB-Slot ist bereits einem anderen Produkt zugeordnet. WF4 wird nicht automatisch gestartet, weil das Zielprodukt noch nicht sicher existiert.'\n        : 'Produktname wurde in den aktiven Produktstammdaten nicht gefunden. WF4 wird nicht automatisch gestartet, weil das Produkt erst angelegt werden muss.'\n    });\n  }\n}\n\nfor (const batch of originalBatches) {\n  const status = clean(batch.status).toLowerCase();\n  if (status !== 'aktiv') continue;\n\n  const remainingQty = Number(batch.remaining_qty);\n  if (!Number.isFinite(remainingQty) || remainingQty <= 0) continue;\n\n  if (!clean(batch.mhd)) {\n    warnings.push({\n      created_at: now,\n      type: 'MHD_MISSING',\n      severity: 'warning',\n      machine_id: config.machine_id,\n      product_key: batch.product_key,\n      nayax_product_name: '',\n      message: `Aktive Charge ${batch.batch_id} hat kein MHD.`,\n      resolved: 'FALSE'\n    });\n    continue;\n  }\n\n  const mhdDate = new Date(batch.mhd);\n  const daysLeft = Math.ceil((mhdDate - new Date()) / (1000 * 60 * 60 * 24));\n\n  if (daysLeft < 0) {\n    warnings.push({\n      created_at: now,\n      type: 'MHD_EXPIRED',\n      severity: 'error',\n      machine_id: config.machine_id,\n      product_key: batch.product_key,\n      nayax_product_name: '',\n      message: `Charge ${batch.batch_id} ist abgelaufen. MHD: ${batch.mhd}.`,\n      resolved: 'FALSE'\n    });\n  } else if (daysLeft <= warningDays) {\n    warnings.push({\n      created_at: now,\n      type: 'MHD_WARNING',\n      severity: 'warning',\n      machine_id: config.machine_id,\n      product_key: batch.product_key,\n      nayax_product_name: '',\n      message: `Charge ${batch.batch_id} laeuft in ${daysLeft} Tagen ab. MHD: ${batch.mhd}.`,\n      resolved: 'FALSE'\n    });\n  }\n}\n\nfor (const sale of sales) {\n  const transactionId = clean(sale.TransactionID);\n  const machineId = clean(sale.MachineID || config.machine_id);\n  const rawProductName = clean(sale.ProductName);\n  const sDate = saleDate(sale);\n\n  if (!transactionId) {\n    warnings.push({\n      created_at: now,\n      type: 'MISSING_TRANSACTION_ID',\n      severity: 'error',\n      machine_id: machineId,\n      product_key: '',\n      nayax_product_name: rawProductName,\n      message: 'Verkauf ohne TransactionID erhalten. Nicht verarbeitet.',\n      resolved: 'FALSE'\n    });\n    continue;\n  }\n\n  if (sDate <= lastSuccessfulSaleDate) continue;\n  if (sDate < cutoverDate) continue;\n  if (processed.has(transactionId)) continue;\n\n  processed.add(transactionId);\n\n  // Phase A2: Filter zero-value transactions (Prepaid Credits, Stornos, Testtransaktionen).\n  // SettlementValue=0 bedeutet kein echter Produktverkauf. Kein Log, keine FIFO-Abbuchung.\n  const settlementValue = Number(sale.SettlementValue);\n  if (!Number.isFinite(settlementValue) || settlementValue <= 0) {\n    if (sDate > maxProcessedSaleDate) maxProcessedSaleDate = sDate;\n    continue;\n  }\n  const vkPreisBrutto = settlementValue;\n\n  // Phase A2: mdb_code_extracted already enriched by 'Code in JavaScript' node\n  const mdbExtracted = clean(sale.mdb_code_extracted || '');\n\n  if (!rawProductName) {\n    transactionLogs.push({\n      transaction_id: transactionId,\n      machine_id: machineId,\n      nayax_product_name: '',\n      product_key: '',\n      quantity: getSoldQty(sale),\n      settlement_datetime_gmt: saleDatetime(sale),\n      processed_at: now,\n      status: 'MISSING_PRODUCT_NAME',\n      notes: 'Transaktion ohne Produktname erhalten. Nicht abgebucht.',\n      vk_preis_brutto: vkPreisBrutto,\n      umsatz_brutto: 0,\n      mdb_code_extracted: mdbExtracted,\n      batch_id_abgebucht: ''\n    });\n\n    warnings.push({\n      created_at: now,\n      type: 'MISSING_PRODUCT_NAME',\n      severity: 'error',\n      machine_id: machineId,\n      product_key: '',\n      nayax_product_name: '',\n      message: `Transaktion ${transactionId} enthaelt keinen Produktnamen.`,\n      resolved: 'FALSE'\n    });\n\n    if (sDate > maxProcessedSaleDate) maxProcessedSaleDate = sDate;\n    continue;\n  }\n\n  const match = getProductForSale(sale);\n  detectProductChangeSuggestion(sale, match);\n\n  const { product, mdbCode, expectedMdb, reason } = match;\n  const soldQty = getSoldQty(sale);\n\n  if (!product) {\n    transactionLogs.push({\n      transaction_id: transactionId,\n      machine_id: machineId,\n      nayax_product_name: rawProductName,\n      product_key: '',\n      quantity: soldQty,\n      settlement_datetime_gmt: saleDatetime(sale),\n      processed_at: now,\n      status: reason,\n      notes: `Keine gueltige Produktzuordnung ueber ProductName gefunden. MDB: ${mdbCode || 'leer'}`,\n      vk_preis_brutto: vkPreisBrutto,\n      umsatz_brutto: 0,\n      mdb_code_extracted: mdbExtracted,\n      batch_id_abgebucht: ''\n    });\n\n    warnings.push({\n      created_at: now,\n      type: reason,\n      severity: 'error',\n      machine_id: machineId,\n      product_key: '',\n      nayax_product_name: rawProductName,\n      message: `Keine gueltige Produktzuordnung ueber ProductName gefunden. MDB: ${mdbCode || 'leer'}`,\n      resolved: 'FALSE'\n    });\n\n    if (sDate > maxProcessedSaleDate) maxProcessedSaleDate = sDate;\n    continue;\n  }\n\n  addMdbWarning(sale, match);\n\n  let remainingToDeduct = soldQty;\n\n  const productBatches = [...batchMap.values()]\n    .filter(b =>\n      clean(b.product_key) === clean(product.product_key) &&\n      clean(b.status).toLowerCase() === 'aktiv' &&\n      Number(b.remaining_qty) > 0\n    )\n    .sort(sortByMhd);\n\n  // Phase A2: Track which batch IDs were actually deducted\n  const deductedBatches = [];\n\n  for (const batch of productBatches) {\n    if (remainingToDeduct <= 0) break;\n\n    const available = Number(batch.remaining_qty);\n    const deduct = Math.min(available, remainingToDeduct);\n\n    batch.remaining_qty = available - deduct;\n    remainingToDeduct -= deduct;\n\n    if (batch.remaining_qty <= 0) batch.status = 'leer';\n\n    batchMap.set(String(batch.batch_id), batch);\n    deductedBatches.push(String(batch.batch_id));\n  }\n\n  const transactionStatus = remainingToDeduct > 0\n    ? 'INSUFFICIENT_BATCH_STOCK'\n    : 'OK';\n\n  const mdbNote = reason === 'OK'\n    ? `MDB ${mdbCode || 'leer'} bestaetigt.`\n    : `MDB-Kontrolle ${reason}: erwartet ${expectedMdb || 'leer'}, Nayax meldet ${mdbCode || 'leer'}.`;\n\n  transactionLogs.push({\n    transaction_id: transactionId,\n    machine_id: machineId,\n    nayax_product_name: rawProductName,\n    product_key: product.product_key,\n    quantity: soldQty,\n    settlement_datetime_gmt: saleDatetime(sale),\n    processed_at: now,\n    status: transactionStatus,\n    notes: remainingToDeduct > 0\n      ? `Nicht genug aktiver Lagerbestand. Fehlmenge: ${remainingToDeduct}. ${mdbNote}`\n      : `Abgebucht ueber product_key ${product.product_key}. ${mdbNote}`,\n    vk_preis_brutto: vkPreisBrutto,\n    umsatz_brutto: soldQty * vkPreisBrutto,\n    mdb_code_extracted: mdbExtracted,\n    batch_id_abgebucht: deductedBatches.join(', ')\n  });\n\n  if (transactionStatus === 'OK') {\n    queueProductQtyDeduction(product, machineId, mdbCode, soldQty);\n  }\n\n  if (remainingToDeduct > 0) {\n    warnings.push({\n      created_at: now,\n      type: 'INSUFFICIENT_BATCH_STOCK',\n      severity: 'error',\n      machine_id: machineId,\n      product_key: product.product_key,\n      nayax_product_name: rawProductName,\n      message: `Nicht genug aktiver Lagerbestand. Fehlmenge: ${remainingToDeduct}`,\n      resolved: 'FALSE'\n    });\n  }\n\n  if (sDate > maxProcessedSaleDate) {\n    maxProcessedSaleDate = sDate;\n  }\n}\n\nconst updatedBatches = [...batchMap.values()].filter(newBatch => {\n  const oldBatch = originalBatches.find(b =>\n    String(b.batch_id) === String(newBatch.batch_id)\n  );\n\n  return oldBatch &&\n    (\n      String(oldBatch.remaining_qty) !== String(newBatch.remaining_qty) ||\n      String(oldBatch.status) !== String(newBatch.status)\n    );\n});\n\nreturn [{\n  json: {\n    updatedBatches,\n    transactionLogs,\n    warnings,\n    productChangeSuggestions,\n    productQtyUpdates: [...productQtyUpdates.values()],\n    summary: {\n      sales_received: sales.length,\n      processed_transaction_logs: transactionLogs.length,\n      batch_updates: updatedBatches.length,\n      warnings: warnings.length,\n      product_change_suggestions: productChangeSuggestions.length,\n      product_qty_updates: productQtyUpdates.size,\n      wf4_auto_start_candidates: productChangeSuggestions\n        .filter(s => clean(s.wf4_auto_start).toUpperCase() === 'TRUE')\n        .length,\n      processed_at: now,\n      previous_last_inventory_review_at: lastSuccessfulSaleDate.toISOString(),\n      last_successful_sale_datetime_gmt: maxProcessedSaleDate.toISOString(),\n      should_update_watermark: maxProcessedSaleDate > lastSuccessfulSaleDate\n    }\n  }\n}];"
      },
      "id": "600dda20-cd91-4729-ae26-2a52a59df09f",
      "name": "Code - FIFO berechnen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        496
      ],
      "notes": "Zentrale Logik: neue Transaktionen erkennen, Produkt über MachineID + ProductName zuordnen und Lagerchargen nach MHD/FIFO abbuchen."
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.updatedBatches || [];\nreturn data.map(row => ({ json: row }));"
      },
      "id": "ffa49cdd-9ca2-4486-aaac-842461166807",
      "name": "Extract - Batch Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        256
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.transactionLogs || [];\nreturn data.map(row => ({ json: row }));"
      },
      "id": "0f0cffac-dada-41dd-b775-910c0042e1d2",
      "name": "Extract - Transaction Logs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.warnings || [];\nreturn data.map(row => ({ json: row }));"
      },
      "id": "d6e13b6d-539c-4323-bad1-2a4022ec4c92",
      "name": "Extract - Warnings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        704
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Lagerchargen",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "batch_id": "={{ $json.batch_id }}",
            "remaining_qty": "={{ $json.remaining_qty }}",
            "status": "={{ $json.status }}",
            "row_number": 0
          },
          "matchingColumns": [
            "batch_id"
          ],
          "schema": [
            {
              "id": "batch_id",
              "displayName": "batch_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_key",
              "displayName": "product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "purchase_date",
              "displayName": "purchase_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mhd",
              "displayName": "mhd",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "initial_qty",
              "displayName": "initial_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "remaining_qty",
              "displayName": "remaining_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unit_cost",
              "displayName": "unit_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "supplier",
              "displayName": "supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "storage_location",
              "displayName": "storage_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_invoice",
              "displayName": "source_invoice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_item",
              "displayName": "source_item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d5e41d8a-9454-4db8-a8ba-0b046d5e6804",
      "name": "Google Sheets - Lagerchargen aktualisieren",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -160,
        256
      ],
      "notes": "Nach Import: Spaltenzuordnung im Node prüfen und ggf. 'Map automatically' / Matching Column batch_id setzen.",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Verarbeitete_Transaktionen",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "transaction_id": "={{ $json.transaction_id }}",
            "machine_id": "={{ $json.machine_id }}",
            "nayax_product_name": "={{ $json.nayax_product_name }}",
            "product_key": "={{ $json.product_key }}",
            "quantity": "={{ $json.quantity }}",
            "settlement_datetime_gmt": "={{ $json.settlement_datetime_gmt }}",
            "processed_at": "={{ $json.processed_at }}",
            "notes": "={{ $json.notes }}",
            "status": "={{ $json.status }}",
            "vk_preis_brutto": "={{ $json.vk_preis_brutto }}",
            "umsatz_brutto": "={{ $json.umsatz_brutto }}",
            "mdb_code_extracted": "={{ $json.mdb_code_extracted }}",
            "batch_id_abgebucht": "={{ $json.batch_id_abgebucht }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "transaction_id",
              "displayName": "transaction_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nayax_product_name",
              "displayName": "nayax_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_key",
              "displayName": "product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "settlement_datetime_gmt",
              "displayName": "settlement_datetime_gmt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vk_preis_brutto",
              "displayName": "vk_preis_brutto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "umsatz_brutto",
              "displayName": "umsatz_brutto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "mdb_code_extracted",
              "displayName": "mdb_code_extracted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "batch_id_abgebucht",
              "displayName": "batch_id_abgebucht",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3ee54f92-2838-497d-b62d-ec172ffa4f00",
      "name": "Google Sheets - Transaktionen anhängen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -160,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Fehler_und_Hinweise",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "severity",
              "displayName": "severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_key",
              "displayName": "product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nayax_product_name",
              "displayName": "nayax_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resolved",
              "displayName": "resolved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "56ee12e0-82f7-4144-8fea-3c219e93972f",
      "name": "Google Sheets - Hinweise anhängen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -368,
        704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function clean(value) {\n  return String(value ?? '').replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction firstNonEmpty(...values) {\n  return values.map(clean).find(value => value !== '') || '';\n}\n\nfunction parseProductName(raw) {\n  const text = clean(raw);\n  const match = text.match(/^(.*?)\\s*\\((\\d+)\\s*=\\s*([0-9]+(?:[.,][0-9]+)?)\\s*\\)/);\n  return {\n    label: match ? clean(match[1]) : text,\n    mdb_code: match ? String(match[2]) : '',\n    sale_price_eur: match ? String(match[3]).replace(',', '.') : ''\n  };\n}\n\nreturn $input.all().map(item => {\n  const productName = clean(item.json.ProductName || item.json.product_name || item.json.nayax_product_name);\n  const parsed = parseProductName(productName);\n  const explicitMdb = firstNonEmpty(\n    item.json.mdb_code,\n    item.json.MDBCode,\n    item.json.MdbCode,\n    item.json.MDB_CODE,\n    item.json.MDB,\n    item.json.ProductMDBCode,\n    item.json.ProductMdbCode,\n    item.json.SlotNumber,\n    item.json.SlotId\n  );\n\n  return {\n    json: {\n      ...item.json,\n      ProductName: productName || item.json.ProductName,\n      nayax_product_label: parsed.label,\n      mdb_code_extracted: firstNonEmpty(explicitMdb, parsed.mdb_code),\n      sale_price_eur_extracted: parsed.sale_price_eur\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        480
      ],
      "id": "47c77ac8-9126-460d-99d3-1ca65b72956f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.productChangeSuggestions || [];\nreturn data.map(row => ({ json: row }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        96
      ],
      "id": "ad57a352-0445-4ddf-958f-831009c865c1",
      "name": "Extract - Product Change Suggestions",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config').item.json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Produkt_Aenderungsvorschlaege",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $json.created_at }}",
            "change_type": "={{ $json.change_type }}",
            "machine_id": "={{ $json.machine_id }}",
            "mdb_code": "={{ $json.mdb_code }}",
            "nayax_product_name": "={{ $json.nayax_product_name }}",
            "existing_product_key": "={{ $json.existing_product_key }}",
            "existing_nayax_product_name": "={{ $json.existing_nayax_product_name }}",
            "suggested_action": "={{ $json.suggested_action }}",
            "suggested_product_key": "={{ $json.suggested_product_key }}",
            "confidence": "={{ $json.confidence }}",
            "approved": "FALSE",
            "processed": "FALSE",
            "notes": "={{ $json.notes }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "change_type",
              "displayName": "change_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mdb_code",
              "displayName": "mdb_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nayax_product_name",
              "displayName": "nayax_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "existing_product_key",
              "displayName": "existing_product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "existing_nayax_product_name",
              "displayName": "existing_nayax_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "suggested_product_key",
              "displayName": "suggested_product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "suggested_action",
              "displayName": "suggested_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "suggested_sale_price_eur",
              "displayName": "suggested_sale_price_eur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valid_from",
              "displayName": "valid_from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "approved_at",
              "displayName": "approved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "approved",
              "displayName": "approved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        128
      ],
      "id": "6bf271d3-abd1-4da4-96a9-fc73b3f71f81",
      "name": "Append row in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4646f121-8bd5-47dc-9c77-1ae207e8d063",
              "leftValue": "={{ $json.productChangeSuggestions.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -912,
        192
      ],
      "id": "06b525cf-d4b5-4e8c-ae35-009a964bd4f9",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "function clean(value) {\n  return String(value ?? '').replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nconst defaultChangeType = {\n  MDB_CODE_CHANGED_FOR_PRODUCT: 'Produkt auf anderen MDB-Slot umziehen',\n  MDB_PRODUCT_MAPPING_MISMATCH: 'Produkt im Slot austauschen'\n};\n\nreturn $input.all()\n  .map(item => item.json)\n  .filter(row => clean(row.wf4_auto_start).toUpperCase() === 'TRUE')\n  .map(row => ({\n    json: {\n      source: 'WF3_NAYAX_LAST_SALES',\n      detected_reason: clean(row.detected_reason || row.change_type),\n      machine_id: clean(row.machine_id),\n      nayax_product_name: clean(row.raw_product_name || row.nayax_product_name),\n      raw_product_name: clean(row.raw_product_name || row.nayax_product_name),\n      product_label: clean(row.nayax_product_name),\n      expected_mdb_code: clean(row.expected_mdb_code || row.old_mdb_code),\n      actual_mdb_code: clean(row.actual_mdb_code || row.new_mdb_code || row.mdb_code),\n      old_mdb_code: clean(row.expected_mdb_code || row.old_mdb_code),\n      new_mdb_code: clean(row.actual_mdb_code || row.new_mdb_code || row.mdb_code),\n      product_key: clean(row.suggested_product_key || row.product_key),\n      suggested_product_key: clean(row.suggested_product_key || row.product_key),\n      settlement_datetime_gmt: clean(row.settlement_datetime_gmt),\n      sale_datetime_utc: clean(row.settlement_datetime_gmt),\n      transaction_id: clean(row.transaction_id),\n      suggested_change_type: clean(row.suggested_change_type || defaultChangeType[row.detected_reason || row.change_type]),\n      notes: clean(row.notes)\n    }\n  }));"
      },
      "id": "b122e50a-5770-4ea6-805f-48556917b48f",
      "name": "Code - WF4 Input vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Tz2o62qXQyeJdlbE",
          "mode": "id",
          "cachedResultUrl": "/workflow/Tz2o62qXQyeJdlbE"
        },
        "workflowInputs": {
          "value": {
            "source": "={{ $json.source }}",
            "detected_reason": "={{ $json.detected_reason }}",
            "machine_id": "={{ $json.machine_id }}",
            "nayax_product_name": "={{ $json.nayax_product_name }}",
            "raw_product_name": "={{ $json.raw_product_name }}",
            "product_label": "={{ $json.product_label }}",
            "expected_mdb_code": "={{ $json.expected_mdb_code }}",
            "actual_mdb_code": "={{ $json.actual_mdb_code }}",
            "old_mdb_code": "={{ $json.old_mdb_code }}",
            "new_mdb_code": "={{ $json.new_mdb_code }}",
            "product_key": "={{ $json.product_key }}",
            "suggested_product_key": "={{ $json.suggested_product_key }}",
            "settlement_datetime_gmt": "={{ $json.settlement_datetime_gmt }}",
            "sale_datetime_utc": "={{ $json.sale_datetime_utc }}",
            "transaction_id": "={{ $json.transaction_id }}",
            "suggested_change_type": "={{ $json.suggested_change_type }}",
            "notes": "={{ $json.notes }}"
          },
          "schema": [
            {
              "id": "source",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "source",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "detected_reason",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "detected_reason",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "machine_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "nayax_product_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "nayax_product_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_product_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "raw_product_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "product_label",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "product_label",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "expected_mdb_code",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "expected_mdb_code",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "actual_mdb_code",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "actual_mdb_code",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "old_mdb_code",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "old_mdb_code",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "new_mdb_code",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "new_mdb_code",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "product_key",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "product_key",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "suggested_product_key",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "suggested_product_key",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "settlement_datetime_gmt",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "settlement_datetime_gmt",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sale_datetime_utc",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "sale_datetime_utc",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "transaction_id",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "transaction_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "suggested_change_type",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "suggested_change_type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "notes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "8da36cec-651b-44a2-b01f-9fdff0d0e062",
      "name": "Execute Workflow - WF4 MDB Zuordnung",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1136,
        496
      ],
      "id": "94f68db3-573b-496e-9c7d-cb0593acfc3f",
      "name": "Merge - Mit Transaktionen"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
          "mode": "list",
          "cachedResultName": "nayax_lager_google_sheets_import_aktualisiert_v3_kitkat_2026-05-02",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1189419178,
          "mode": "list",
          "cachedResultName": "letzter Verkaufsworkflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit#gid=1189419178"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "workflow_key",
              "lookupValue": "WF3_NAYAX_FIFO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1424,
        752
      ],
      "id": "dad89991-9680-43f4-a686-c3dc9a0c92a9",
      "name": "Google Sheets - letzter Verkaufsworkflow lesen",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const summary = $input.first().json.summary || {};\n\nif (!summary.should_update_watermark) {\n  return [];\n}\n\nreturn [{\n  json: {\n    workflow_key: 'WF3_NAYAX_FIFO',\n    last_inventory_review_at: summary.last_successful_sale_datetime_gmt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -144
      ],
      "id": "d5915cb7-8047-4309-b412-a87209ce902f",
      "name": "Extract - letzter Verkaufsworkflow Update"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
          "mode": "list",
          "cachedResultName": "nayax_lager_google_sheets_import_aktualisiert_v3_kitkat_2026-05-02",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1189419178,
          "mode": "list",
          "cachedResultName": "letzter Verkaufsworkflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit#gid=1189419178"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_key": "={{ $json.workflow_key }}",
            "last_inventory_review_at": "={{ $json.last_inventory_review_at }}"
          },
          "matchingColumns": [
            "workflow_key"
          ],
          "schema": [
            {
              "id": "workflow_key",
              "displayName": "workflow_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_inventory_review_at",
              "displayName": "last_inventory_review_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -400,
        -144
      ],
      "id": "df4a2bea-f8ca-4433-8533-3292bc5ac563",
      "name": "Google Sheets - letzter Verkaufsworkflow aktualisieren",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -992,
        496
      ],
      "id": "2cc624b4-4a4c-40f4-b798-3e3daae3d04a",
      "name": "Merge - Mit letztem Verkaufsworkflow"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
          "mode": "list",
          "cachedResultName": "nayax_lager_google_sheets_import_aktualisiert_v3_kitkat_2026-05-02",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1505466008,
          "mode": "list",
          "cachedResultName": "Produkte",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit#gid=1505466008"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "product_slot_id": "={{ $json.product_slot_id }}",
            "product_key": "=",
            "last_change_id": "={{ $json.last_change_id }}",
            "notes": "={{ $json.notes }}",
            "current_machine_qty": "={{ $json.current_machine_qty }}"
          },
          "matchingColumns": [
            "product_slot_id"
          ],
          "schema": [
            {
              "id": "product_key",
              "displayName": "product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mdb_code",
              "displayName": "mdb_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nayax_product_name",
              "displayName": "nayax_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "internal_product_name",
              "displayName": "internal_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sale_price_eur",
              "displayName": "sale_price_eur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "valid_from",
              "displayName": "valid_from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "valid_to",
              "displayName": "valid_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "replenishment_status",
              "displayName": "replenishment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "min_stock",
              "displayName": "min_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "target_stock",
              "displayName": "target_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_machine_qty",
              "displayName": "current_machine_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_capacity",
              "displayName": "machine_capacity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stock_source",
              "displayName": "stock_source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_slot_id",
              "displayName": "product_slot_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "valid_from_datetime",
              "displayName": "valid_from_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "valid_to_datetime",
              "displayName": "valid_to_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_change_id",
              "displayName": "last_change_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        960
      ],
      "id": "a9fc4181-1a1d-47dc-8641-64b2586ec784",
      "name": "Produktbestand Update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.productQtyUpdates || [];\n\nreturn data.map(row => ({\n  json: row\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        880
      ],
      "id": "56fae311-dda3-4041-9f54-9d3ca58ae324",
      "name": "Extract - Produktbestand Updates"
    },
    {
      "parameters": {
        "path": "5fed350b-9f51-4027-8ecd-957daed17c7a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2768,
        656
      ],
      "id": "b1c96c06-1fc1-4137-b684-4a83524e8bee",
      "name": "Webhook",
      "webhookId": "5fed350b-9f51-4027-8ecd-957daed17c7a"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Nayax - Last Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nayax - Last Sales": {
      "main": [
        [
          {
            "node": "Normalize Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Sales": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Produkte lesen": {
      "main": [
        [
          {
            "node": "Merge - Produkte + Lagerchargen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Lagerchargen lesen": {
      "main": [
        [
          {
            "node": "Merge - Produkte + Lagerchargen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Produkte + Lagerchargen": {
      "main": [
        [
          {
            "node": "Merge - Mit Transaktionen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Transaktionen lesen": {
      "main": [
        [
          {
            "node": "Merge - Mit Transaktionen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code - FIFO berechnen": {
      "main": [
        [
          {
            "node": "Extract - Batch Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract - Transaction Logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract - Warnings",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract - letzter Verkaufsworkflow Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract - Produktbestand Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Batch Updates": {
      "main": [
        [
          {
            "node": "Google Sheets - Lagerchargen aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Transaction Logs": {
      "main": [
        [
          {
            "node": "Google Sheets - Transaktionen anhängen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Warnings": {
      "main": [
        [
          {
            "node": "Google Sheets - Hinweise anhängen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Google Sheets - Produkte lesen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Transaktionen lesen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - letzter Verkaufsworkflow lesen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Lagerchargen lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Product Change Suggestions": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - WF4 Input vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract - Product Change Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - WF4 Input vorbereiten": {
      "main": [
        [
          {
            "node": "Execute Workflow - WF4 MDB Zuordnung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Mit Transaktionen": {
      "main": [
        [
          {
            "node": "Merge - Mit letztem Verkaufsworkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - letzter Verkaufsworkflow Update": {
      "main": [
        [
          {
            "node": "Google Sheets - letzter Verkaufsworkflow aktualisieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - letzter Verkaufsworkflow lesen": {
      "main": [
        [
          {
            "node": "Merge - Mit letztem Verkaufsworkflow",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - Mit letztem Verkaufsworkflow": {
      "main": [
        [
          {
            "node": "Code - FIFO berechnen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Produktbestand Updates": {
      "main": [
        [
          {
            "node": "Produktbestand Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "765aaf95-7b1c-4592-a6e3-8442ac1a3309",
  "activeVersionId": "765aaf95-7b1c-4592-a6e3-8442ac1a3309",
  "versionCounter": 121,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-07T16:44:11.102Z",
      "createdAt": "2026-05-07T16:44:11.102Z",
      "role": "workflow:owner",
      "workflowId": "2PFfPf0sVmMW7Fpp",
      "projectId": "zeRVaMsDAPaDSWHo",
      "project": {
        "updatedAt": "2026-04-30T17:19:50.968Z",
        "createdAt": "2026-04-30T17:15:04.288Z",
        "id": "zeRVaMsDAPaDSWHo",
        "name": "Patrick Matthes <patrickzinke@gmx.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "120361c7-55fb-4132-84f7-3db7136ad7b6"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-11T16:24:12.290Z",
    "createdAt": "2026-05-11T16:24:12.290Z",
    "versionId": "765aaf95-7b1c-4592-a6e3-8442ac1a3309",
    "workflowId": "2PFfPf0sVmMW7Fpp",
    "nodes": [
      {
        "parameters": {},
        "id": "51ae94ee-f1d2-41cd-9b07-7e78d34c04a1",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -2768,
          480
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "machine_id",
                "name": "machine_id",
                "value": "457107528",
                "type": "string"
              },
              {
                "id": "nayax_base_url",
                "name": "nayax_base_url",
                "value": "https://lynx.nayax.com",
                "type": "string"
              },
              {
                "id": "google_sheet_id",
                "name": "google_sheet_id",
                "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
                "type": "string"
              },
              {
                "id": "mhd_warning_days",
                "name": "mhd_warning_days",
                "value": 30,
                "type": "number"
              },
              {
                "id": "default_quantity_per_sale",
                "name": "default_quantity_per_sale",
                "value": 1,
                "type": "number"
              },
              {
                "id": "e2038ef9-e2e7-4d7c-a68d-d83a44570d16",
                "name": "inventory_cutover_datetime",
                "value": "2026-05-02T10:10:00.000Z",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "cb1881ca-5349-4ec9-b888-ce9cd103893f",
        "name": "Config",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -2544,
          480
        ],
        "notes": "Hier MachineID, Base-URL und Google-Sheet-ID ersetzen. Produktive Nayax-Base-URL mit Nayax klären."
      },
      {
        "parameters": {
          "url": "={{ $json.nayax_base_url + '/operational/v1/machines/' + $json.machine_id + '/lastSales' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer NAYAX_TOKEN_IN_N8N_CREDENTIAL_EINTRAGEN"
              }
            ]
          },
          "options": {}
        },
        "id": "ed9e4993-0a7d-4259-9925-30439cdbec6b",
        "name": "Nayax - Last Sales",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2304,
          480
        ],
        "notes": "Credential in n8n anlegen. Header: Authorization. Wert: API-Key oder Bearer <Token>, je nachdem was Nayax für euren Account freischaltet."
      },
      {
        "parameters": {
          "jsCode": "const inputItems = $input.all();\n\nlet sales = [];\n\nfor (const item of inputItems) {\n  const data = item.json;\n\n  if (Array.isArray(data)) {\n    sales.push(...data);\n  } else if (Array.isArray(data.body)) {\n    sales.push(...data.body);\n  } else {\n    sales.push(data);\n  }\n}\n\nreturn sales.map(sale => ({\n  json: sale\n}));"
        },
        "id": "eafa9a7f-5de1-4c31-ad51-09b8fade5a8a",
        "name": "Normalize Sales",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2064,
          480
        ],
        "notes": "Macht aus der Nayax-Antwort einzelne Items je Verkauf."
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config').item.json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Produkte",
            "mode": "name"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "active",
                "lookupValue": "TRUE"
              },
              {
                "lookupColumn": "machine_id",
                "lookupValue": "={{ $json.MachineID }}"
              }
            ]
          },
          "options": {}
        },
        "id": "e7708220-6c74-4818-82c6-437d5dd75046",
        "name": "Google Sheets - Produkte lesen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -1824,
          224
        ],
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Lagerchargen",
            "mode": "name"
          },
          "options": {}
        },
        "id": "f0038ce6-e19d-4539-8ced-d6191bee089d",
        "name": "Google Sheets - Lagerchargen lesen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -1616,
          496
        ],
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Verarbeitete_Transaktionen",
            "mode": "name"
          },
          "options": {}
        },
        "id": "cf64cbee-a9e0-49b8-a0d4-d5479c088109",
        "name": "Google Sheets - Transaktionen lesen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -1824,
          736
        ],
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "product_key",
          "options": {}
        },
        "id": "846177cb-62af-4151-99e7-ac6e1ba60342",
        "name": "Merge - Produkte + Lagerchargen",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          -1360,
          352
        ]
      },
      {
        "parameters": {
          "jsCode": "const config = $('Config').first().json;\nconst sales = $items('Code in JavaScript').map(i => i.json);\nconst products = $items('Google Sheets - Produkte lesen').map(i => i.json);\nconst originalBatches = $items('Google Sheets - Lagerchargen lesen').map(i => i.json);\nconst processed = new Set(\n  $items('Google Sheets - Transaktionen lesen')\n    .map(i => String(i.json.transaction_id || '').trim())\n    .filter(Boolean)\n);\n\nconst productQtyUpdates = new Map();\nconst now = new Date().toISOString();\nconst batchMap = new Map(originalBatches.map(b => [String(b.batch_id), { ...b }]));\nconst transactionLogs = [];\nconst warnings = [];\nconst productChangeSuggestions = [];\nconst cutoverDate = new Date(config.inventory_cutover_datetime || '2026-05-02T10:00:00.000Z');\nconst warningDays = Number(config.mhd_warning_days ?? 14);\n\nfunction clean(value) {\n  return String(value ?? '').replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nconst workflowStateRows = $items('Google Sheets - letzter Verkaufsworkflow lesen').map(i => i.json);\n\nconst workflowState = workflowStateRows.find(r =>\n  clean(r.workflow_key) === 'WF3_NAYAX_FIFO'\n);\n\nconst lastSuccessfulSaleDate = new Date(\n  clean(workflowState?.last_inventory_review_at) ||\n  config.inventory_cutover_datetime ||\n  '1970-01-01T00:00:00.000Z'\n);\n\nlet maxProcessedSaleDate = lastSuccessfulSaleDate;\n\nfunction firstNonEmpty(...values) {\n  return values.map(clean).find(value => value !== '') || '';\n}\n\nfunction normalizeName(value) {\n  return clean(value).toLowerCase()\n    .replace(/&/g, 'und')\n    .replace(/\\+/g, 'plus')\n    .replace(/ä/g, 'ae')\n    .replace(/ö/g, 'oe')\n    .replace(/ü/g, 'ue')\n    .replace(/ß/g, 'ss')\n    .replace(/[^a-z0-9]/g, '');\n}\n\nfunction generateProductKey(name) {\n  const base = clean(name).toUpperCase()\n    .replace(/Ä/g, 'AE')\n    .replace(/Ö/g, 'OE')\n    .replace(/Ü/g, 'UE')\n    .replace(/ẞ/g, 'SS')\n    .replace(/ß/g, 'SS')\n    .replace(/&/g, 'UND')\n    .replace(/\\+/g, 'PLUS')\n    .replace(/[^A-Z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '');\n  return `SKU_${base || 'UNBEKANNT'}`;\n}\n\nfunction parseProductName(raw) {\n  const text = clean(raw);\n  const match = text.match(/^(.*?)\\s*\\((\\d+)\\s*=\\s*([0-9]+(?:[.,][0-9]+)?)\\s*\\)/);\n  return {\n    raw,\n    label: match ? clean(match[1]) : text,\n    mdb_code: match ? String(match[2]) : '',\n    price: match ? String(match[3]).replace(',', '.') : ''\n  };\n}\n\nfunction saleDate(sale) {\n  return new Date(\n    sale.SettlementDateTimeGMT ||\n    sale.MachineAuthorizationTime ||\n    sale.AuthorizationDateTimeGMT ||\n    0\n  );\n}\n\nfunction saleDatetime(sale) {\n  return clean(\n    sale.SettlementDateTimeGMT ||\n    sale.MachineAuthorizationTime ||\n    sale.AuthorizationDateTimeGMT ||\n    ''\n  );\n}\n\nfunction isActiveProduct(p) {\n  return clean(p.active).toUpperCase() === 'TRUE' &&\n    !clean(p.valid_to) &&\n    !clean(p.valid_to_datetime);\n}\n\nfunction namesMatch(a, b) {\n  const aa = normalizeName(a);\n  const bb = normalizeName(b);\n  if (!aa || !bb) return false;\n  if (aa === bb) return true;\n  if (aa.length >= 8 && bb.includes(aa)) return true;\n  if (bb.length >= 8 && aa.includes(bb)) return true;\n  return false;\n}\n\nfunction productName(product) {\n  return clean(product.nayax_product_name || product.internal_product_name || product.product_key);\n}\n\nfunction activeProductsForMachine(machineId) {\n  return products.filter(p =>\n    clean(p.machine_id || machineId) === clean(machineId) &&\n    isActiveProduct(p)\n  );\n}\n\nfunction getMdbCode(sale, parsed) {\n  return firstNonEmpty(\n    sale.mdb_code_extracted,\n    sale.mdb_code,\n    sale.MDBCode,\n    sale.MdbCode,\n    sale.MDB_CODE,\n    sale.MDB,\n    sale.ProductMDBCode,\n    sale.ProductMdbCode,\n    parsed.mdb_code\n  );\n}\n\nfunction findProductByName(machineId, label, mdbCode) {\n  const candidates = activeProductsForMachine(machineId)\n    .filter(p => namesMatch(productName(p), label));\n\n  if (!candidates.length) return null;\n\n  const exactNorm = normalizeName(label);\n  const exactCandidates = candidates.filter(p =>\n    normalizeName(productName(p)) === exactNorm\n  );\n\n  const pool = exactCandidates.length ? exactCandidates : candidates;\n\n  if (mdbCode) {\n    const sameMdb = pool.find(p => clean(p.mdb_code) === clean(mdbCode));\n    if (sameMdb) return sameMdb;\n  }\n\n  return pool[0];\n}\n\nfunction getProductForSale(sale) {\n  const parsed = parseProductName(sale.ProductName);\n  const machineId = clean(sale.MachineID || config.machine_id);\n  const mdbCode = getMdbCode(sale, parsed);\n  const product = findProductByName(machineId, parsed.label, mdbCode);\n\n  if (!product) {\n    return { product: null, parsed, mdbCode, expectedMdb: '', reason: 'UNKNOWN_PRODUCT' };\n  }\n\n  const expectedMdb = clean(product.mdb_code);\n\n  if (!mdbCode) {\n    return { product, parsed, mdbCode, expectedMdb, reason: 'MDB_CODE_MISSING_CONTROL' };\n  }\n\n  if (!expectedMdb) {\n    return { product, parsed, mdbCode, expectedMdb, reason: 'MDB_EXPECTED_CODE_MISSING' };\n  }\n\n  if (expectedMdb !== mdbCode) {\n    const productOnActualMdb = activeProductsForMachine(machineId)\n      .find(p => clean(p.mdb_code) === mdbCode);\n\n    const differentProductOnActualMdb =\n      productOnActualMdb &&\n      clean(productOnActualMdb.product_key) !== clean(product.product_key);\n\n    return {\n      product,\n      parsed,\n      mdbCode,\n      expectedMdb,\n      productOnActualMdb,\n      reason: differentProductOnActualMdb\n        ? 'MDB_PRODUCT_MAPPING_MISMATCH'\n        : 'MDB_CODE_CHANGED_FOR_PRODUCT'\n    };\n  }\n\n  return { product, parsed, mdbCode, expectedMdb, reason: 'OK' };\n}\n\nfunction getSoldQty(sale) {\n  // Phase A2: Nayax API always returns Quantity=0 for individual sales.\n  // Each transaction = 1 unit sold. Use default_quantity_per_sale (= 1).\n  const multivendQty = Number(\n    sale.MultivendNumverOfProducts ??\n    sale.MultivendNumberOfProducts ??\n    0\n  );\n  return multivendQty > 0\n    ? multivendQty\n    : Number(config.default_quantity_per_sale ?? 1);\n}\n\nfunction sortByMhd(a, b) {\n  const aDate = clean(a.mhd) ? new Date(a.mhd) : new Date('9999-12-31');\n  const bDate = clean(b.mhd) ? new Date(b.mhd) : new Date('9999-12-31');\n  return aDate - bDate;\n}\n\nfunction productUpdateKey(product, machineId, mdbCode) {\n  return clean(product.product_slot_id) ||\n    [\n      clean(machineId),\n      clean(mdbCode || product.mdb_code),\n      clean(product.product_key)\n    ].join('|');\n}\n\nfunction queueProductQtyDeduction(product, machineId, mdbCode, soldQty) {\n  const key = productUpdateKey(product, machineId, mdbCode);\n\n  const currentQty = Number(\n    String(product.current_machine_qty ?? '').replace(',', '.')\n  );\n\n  if (!Number.isFinite(currentQty)) {\n    warnings.push({\n      created_at: now,\n      type: 'CURRENT_MACHINE_QTY_MISSING',\n      severity: 'warning',\n      machine_id: machineId,\n      product_key: clean(product.product_key),\n      nayax_product_name: productName(product),\n      message: `current_machine_qty fehlt oder ist ungueltig fuer ${productName(product)}. Maschinenbestand wurde nicht aktualisiert.`,\n      resolved: 'FALSE'\n    });\n\n    return;\n  }\n\n  const existing = productQtyUpdates.get(key);\n\n  if (existing) {\n    existing.deduct_qty += soldQty;\n\n    existing.current_machine_qty = Math.max(\n      0,\n      currentQty - existing.deduct_qty\n    );\n\n    return;\n  }\n\n  productQtyUpdates.set(key, {\n    product_slot_id: clean(product.product_slot_id),\n    product_key: clean(product.product_key),\n    machine_id: clean(machineId),\n    mdb_code: clean(mdbCode || product.mdb_code),\n    old_current_machine_qty: currentQty,\n    deduct_qty: soldQty,\n    current_machine_qty: Math.max(0, currentQty - soldQty),\n    last_stock_update_at: now,\n    last_stock_update_source: 'WF3_NAYAX_LAST_SALES',\n    last_change_id: `WF3_SALE_${now}`,\n    notes: `WF3: Maschinenbestand durch Verkauf reduziert. Alt=${currentQty}, Abzug=${soldQty}.`\n  });\n}\n\nfunction addProductChangeSuggestionOnce(suggestion) {\n  const key = [\n    suggestion.change_type,\n    suggestion.machine_id,\n    suggestion.expected_mdb_code,\n    suggestion.actual_mdb_code,\n    suggestion.nayax_product_name,\n    suggestion.existing_product_key,\n    suggestion.suggested_product_key\n  ].join('|');\n\n  const exists = productChangeSuggestions.some(s => [\n    s.change_type,\n    s.machine_id,\n    s.expected_mdb_code,\n    s.actual_mdb_code,\n    s.nayax_product_name,\n    s.existing_product_key,\n    s.suggested_product_key\n  ].join('|') === key);\n\n  if (!exists) productChangeSuggestions.push(suggestion);\n}\n\nfunction suggestedChangeTypeDe(reason) {\n  if (reason === 'MDB_PRODUCT_MAPPING_MISMATCH') return 'Produkt im Slot austauschen';\n  if (reason === 'MDB_CODE_CHANGED_FOR_PRODUCT') return 'Produkt auf anderen MDB-Slot umziehen';\n  return '';\n}\n\nfunction addMdbWarning(sale, match) {\n  if (![\n    'MDB_CODE_CHANGED_FOR_PRODUCT',\n    'MDB_PRODUCT_MAPPING_MISMATCH',\n    'MDB_CODE_MISSING_CONTROL',\n    'MDB_EXPECTED_CODE_MISSING'\n  ].includes(match.reason)) return;\n\n  const machineId = clean(sale.MachineID || config.machine_id);\n\n  warnings.push({\n    created_at: now,\n    type: match.reason,\n    severity: 'warning',\n    machine_id: machineId,\n    product_key: match.product ? clean(match.product.product_key) : '',\n    nayax_product_name: clean(sale.ProductName),\n    message: `MDB-Kontrolle fuer ${clean(sale.ProductName)}: erwartet ${match.expectedMdb || 'leer'}, Nayax meldet ${match.mdbCode || 'leer'}. Verkauf wird weiter verarbeitet.`,\n    resolved: 'FALSE'\n  });\n}\n\nfunction detectProductChangeSuggestion(sale, match) {\n  const parsed = match.parsed || parseProductName(sale.ProductName);\n  const machineId = clean(sale.MachineID || config.machine_id);\n  const mdbCode = clean(match.mdbCode || getMdbCode(sale, parsed));\n\n  if (!parsed.label || !mdbCode) return;\n\n  if (match.product && [\n    'MDB_CODE_CHANGED_FOR_PRODUCT',\n    'MDB_PRODUCT_MAPPING_MISMATCH'\n  ].includes(match.reason)) {\n    const productOnActualMdb = match.productOnActualMdb ||\n      activeProductsForMachine(machineId).find(p => clean(p.mdb_code) === mdbCode);\n\n    const existingProduct = productOnActualMdb || match.product;\n    const changeTypeDe = suggestedChangeTypeDe(match.reason);\n\n    addProductChangeSuggestionOnce({\n      created_at: now,\n      source: 'WF3_NAYAX_LAST_SALES',\n      detected_reason: match.reason,\n      change_type: match.reason,\n      machine_id: machineId,\n      old_mdb_code: match.expectedMdb,\n      new_mdb_code: mdbCode,\n      expected_mdb_code: match.expectedMdb,\n      actual_mdb_code: mdbCode,\n      mdb_code: mdbCode,\n      transaction_id: clean(sale.TransactionID),\n      settlement_datetime_gmt: saleDatetime(sale),\n      raw_product_name: clean(sale.ProductName),\n      nayax_product_name: parsed.label,\n      existing_product_key: clean(existingProduct.product_key),\n      existing_nayax_product_name: productName(existingProduct),\n      product_key: clean(match.product.product_key),\n      suggested_product_key: clean(match.product.product_key),\n      suggested_action: changeTypeDe,\n      suggested_change_type: changeTypeDe,\n      confidence: 'hoch',\n      approved: 'FALSE',\n      processed: 'FALSE',\n      wf4_auto_start: 'TRUE',\n      notes: match.reason === 'MDB_PRODUCT_MAPPING_MISMATCH'\n        ? 'ProductName passt zu einem bekannten Produkt, aber der gemeldete MDB-Slot ist in Google Sheets einem anderen aktiven Produkt zugeordnet.'\n        : 'ProductName passt zu einem bekannten Produkt, aber Nayax meldet einen anderen MDB-Code als Google Sheets.'\n    });\n\n    return;\n  }\n\n  if (!match.product) {\n    const productOnActualMdb = activeProductsForMachine(machineId)\n      .find(p => clean(p.mdb_code) === mdbCode);\n\n    addProductChangeSuggestionOnce({\n      created_at: now,\n      source: 'WF3_NAYAX_LAST_SALES',\n      detected_reason: productOnActualMdb ? 'PRODUCT_CHANGE' : 'NEW_PRODUCT',\n      change_type: productOnActualMdb ? 'PRODUCT_CHANGE' : 'NEW_PRODUCT',\n      machine_id: machineId,\n      old_mdb_code: productOnActualMdb ? clean(productOnActualMdb.mdb_code) : '',\n      new_mdb_code: mdbCode,\n      expected_mdb_code: productOnActualMdb ? clean(productOnActualMdb.mdb_code) : '',\n      actual_mdb_code: mdbCode,\n      mdb_code: mdbCode,\n      transaction_id: clean(sale.TransactionID),\n      settlement_datetime_gmt: saleDatetime(sale),\n      raw_product_name: clean(sale.ProductName),\n      nayax_product_name: parsed.label,\n      existing_product_key: productOnActualMdb ? clean(productOnActualMdb.product_key) : '',\n      existing_nayax_product_name: productOnActualMdb ? productName(productOnActualMdb) : '',\n      product_key: '',\n      suggested_product_key: generateProductKey(parsed.label),\n      suggested_action: productOnActualMdb\n        ? 'Alte MDB-Zuordnung pruefen und neues Produkt erst im Stammdatenprozess anlegen'\n        : 'Neues Produkt im Stammdatenprozess anlegen',\n      suggested_change_type: 'Produkt im Slot austauschen',\n      confidence: productOnActualMdb ? 'mittel' : 'pruefen',\n      approved: 'FALSE',\n      processed: 'FALSE',\n      wf4_auto_start: 'FALSE',\n      notes: productOnActualMdb\n        ? 'Nayax-Produktname ist nicht bekannt, aber der MDB-Slot ist bereits einem anderen Produkt zugeordnet. WF4 wird nicht automatisch gestartet, weil das Zielprodukt noch nicht sicher existiert.'\n        : 'Produktname wurde in den aktiven Produktstammdaten nicht gefunden. WF4 wird nicht automatisch gestartet, weil das Produkt erst angelegt werden muss.'\n    });\n  }\n}\n\nfor (const batch of originalBatches) {\n  const status = clean(batch.status).toLowerCase();\n  if (status !== 'aktiv') continue;\n\n  const remainingQty = Number(batch.remaining_qty);\n  if (!Number.isFinite(remainingQty) || remainingQty <= 0) continue;\n\n  if (!clean(batch.mhd)) {\n    warnings.push({\n      created_at: now,\n      type: 'MHD_MISSING',\n      severity: 'warning',\n      machine_id: config.machine_id,\n      product_key: batch.product_key,\n      nayax_product_name: '',\n      message: `Aktive Charge ${batch.batch_id} hat kein MHD.`,\n      resolved: 'FALSE'\n    });\n    continue;\n  }\n\n  const mhdDate = new Date(batch.mhd);\n  const daysLeft = Math.ceil((mhdDate - new Date()) / (1000 * 60 * 60 * 24));\n\n  if (daysLeft < 0) {\n    warnings.push({\n      created_at: now,\n      type: 'MHD_EXPIRED',\n      severity: 'error',\n      machine_id: config.machine_id,\n      product_key: batch.product_key,\n      nayax_product_name: '',\n      message: `Charge ${batch.batch_id} ist abgelaufen. MHD: ${batch.mhd}.`,\n      resolved: 'FALSE'\n    });\n  } else if (daysLeft <= warningDays) {\n    warnings.push({\n      created_at: now,\n      type: 'MHD_WARNING',\n      severity: 'warning',\n      machine_id: config.machine_id,\n      product_key: batch.product_key,\n      nayax_product_name: '',\n      message: `Charge ${batch.batch_id} laeuft in ${daysLeft} Tagen ab. MHD: ${batch.mhd}.`,\n      resolved: 'FALSE'\n    });\n  }\n}\n\nfor (const sale of sales) {\n  const transactionId = clean(sale.TransactionID);\n  const machineId = clean(sale.MachineID || config.machine_id);\n  const rawProductName = clean(sale.ProductName);\n  const sDate = saleDate(sale);\n\n  if (!transactionId) {\n    warnings.push({\n      created_at: now,\n      type: 'MISSING_TRANSACTION_ID',\n      severity: 'error',\n      machine_id: machineId,\n      product_key: '',\n      nayax_product_name: rawProductName,\n      message: 'Verkauf ohne TransactionID erhalten. Nicht verarbeitet.',\n      resolved: 'FALSE'\n    });\n    continue;\n  }\n\n  if (sDate <= lastSuccessfulSaleDate) continue;\n  if (sDate < cutoverDate) continue;\n  if (processed.has(transactionId)) continue;\n\n  processed.add(transactionId);\n\n  // Phase A2: Filter zero-value transactions (Prepaid Credits, Stornos, Testtransaktionen).\n  // SettlementValue=0 bedeutet kein echter Produktverkauf. Kein Log, keine FIFO-Abbuchung.\n  const settlementValue = Number(sale.SettlementValue);\n  if (!Number.isFinite(settlementValue) || settlementValue <= 0) {\n    if (sDate > maxProcessedSaleDate) maxProcessedSaleDate = sDate;\n    continue;\n  }\n  const vkPreisBrutto = settlementValue;\n\n  // Phase A2: mdb_code_extracted already enriched by 'Code in JavaScript' node\n  const mdbExtracted = clean(sale.mdb_code_extracted || '');\n\n  if (!rawProductName) {\n    transactionLogs.push({\n      transaction_id: transactionId,\n      machine_id: machineId,\n      nayax_product_name: '',\n      product_key: '',\n      quantity: getSoldQty(sale),\n      settlement_datetime_gmt: saleDatetime(sale),\n      processed_at: now,\n      status: 'MISSING_PRODUCT_NAME',\n      notes: 'Transaktion ohne Produktname erhalten. Nicht abgebucht.',\n      vk_preis_brutto: vkPreisBrutto,\n      umsatz_brutto: 0,\n      mdb_code_extracted: mdbExtracted,\n      batch_id_abgebucht: ''\n    });\n\n    warnings.push({\n      created_at: now,\n      type: 'MISSING_PRODUCT_NAME',\n      severity: 'error',\n      machine_id: machineId,\n      product_key: '',\n      nayax_product_name: '',\n      message: `Transaktion ${transactionId} enthaelt keinen Produktnamen.`,\n      resolved: 'FALSE'\n    });\n\n    if (sDate > maxProcessedSaleDate) maxProcessedSaleDate = sDate;\n    continue;\n  }\n\n  const match = getProductForSale(sale);\n  detectProductChangeSuggestion(sale, match);\n\n  const { product, mdbCode, expectedMdb, reason } = match;\n  const soldQty = getSoldQty(sale);\n\n  if (!product) {\n    transactionLogs.push({\n      transaction_id: transactionId,\n      machine_id: machineId,\n      nayax_product_name: rawProductName,\n      product_key: '',\n      quantity: soldQty,\n      settlement_datetime_gmt: saleDatetime(sale),\n      processed_at: now,\n      status: reason,\n      notes: `Keine gueltige Produktzuordnung ueber ProductName gefunden. MDB: ${mdbCode || 'leer'}`,\n      vk_preis_brutto: vkPreisBrutto,\n      umsatz_brutto: 0,\n      mdb_code_extracted: mdbExtracted,\n      batch_id_abgebucht: ''\n    });\n\n    warnings.push({\n      created_at: now,\n      type: reason,\n      severity: 'error',\n      machine_id: machineId,\n      product_key: '',\n      nayax_product_name: rawProductName,\n      message: `Keine gueltige Produktzuordnung ueber ProductName gefunden. MDB: ${mdbCode || 'leer'}`,\n      resolved: 'FALSE'\n    });\n\n    if (sDate > maxProcessedSaleDate) maxProcessedSaleDate = sDate;\n    continue;\n  }\n\n  addMdbWarning(sale, match);\n\n  let remainingToDeduct = soldQty;\n\n  const productBatches = [...batchMap.values()]\n    .filter(b =>\n      clean(b.product_key) === clean(product.product_key) &&\n      clean(b.status).toLowerCase() === 'aktiv' &&\n      Number(b.remaining_qty) > 0\n    )\n    .sort(sortByMhd);\n\n  // Phase A2: Track which batch IDs were actually deducted\n  const deductedBatches = [];\n\n  for (const batch of productBatches) {\n    if (remainingToDeduct <= 0) break;\n\n    const available = Number(batch.remaining_qty);\n    const deduct = Math.min(available, remainingToDeduct);\n\n    batch.remaining_qty = available - deduct;\n    remainingToDeduct -= deduct;\n\n    if (batch.remaining_qty <= 0) batch.status = 'leer';\n\n    batchMap.set(String(batch.batch_id), batch);\n    deductedBatches.push(String(batch.batch_id));\n  }\n\n  const transactionStatus = remainingToDeduct > 0\n    ? 'INSUFFICIENT_BATCH_STOCK'\n    : 'OK';\n\n  const mdbNote = reason === 'OK'\n    ? `MDB ${mdbCode || 'leer'} bestaetigt.`\n    : `MDB-Kontrolle ${reason}: erwartet ${expectedMdb || 'leer'}, Nayax meldet ${mdbCode || 'leer'}.`;\n\n  transactionLogs.push({\n    transaction_id: transactionId,\n    machine_id: machineId,\n    nayax_product_name: rawProductName,\n    product_key: product.product_key,\n    quantity: soldQty,\n    settlement_datetime_gmt: saleDatetime(sale),\n    processed_at: now,\n    status: transactionStatus,\n    notes: remainingToDeduct > 0\n      ? `Nicht genug aktiver Lagerbestand. Fehlmenge: ${remainingToDeduct}. ${mdbNote}`\n      : `Abgebucht ueber product_key ${product.product_key}. ${mdbNote}`,\n    vk_preis_brutto: vkPreisBrutto,\n    umsatz_brutto: soldQty * vkPreisBrutto,\n    mdb_code_extracted: mdbExtracted,\n    batch_id_abgebucht: deductedBatches.join(', ')\n  });\n\n  if (transactionStatus === 'OK') {\n    queueProductQtyDeduction(product, machineId, mdbCode, soldQty);\n  }\n\n  if (remainingToDeduct > 0) {\n    warnings.push({\n      created_at: now,\n      type: 'INSUFFICIENT_BATCH_STOCK',\n      severity: 'error',\n      machine_id: machineId,\n      product_key: product.product_key,\n      nayax_product_name: rawProductName,\n      message: `Nicht genug aktiver Lagerbestand. Fehlmenge: ${remainingToDeduct}`,\n      resolved: 'FALSE'\n    });\n  }\n\n  if (sDate > maxProcessedSaleDate) {\n    maxProcessedSaleDate = sDate;\n  }\n}\n\nconst updatedBatches = [...batchMap.values()].filter(newBatch => {\n  const oldBatch = originalBatches.find(b =>\n    String(b.batch_id) === String(newBatch.batch_id)\n  );\n\n  return oldBatch &&\n    (\n      String(oldBatch.remaining_qty) !== String(newBatch.remaining_qty) ||\n      String(oldBatch.status) !== String(newBatch.status)\n    );\n});\n\nreturn [{\n  json: {\n    updatedBatches,\n    transactionLogs,\n    warnings,\n    productChangeSuggestions,\n    productQtyUpdates: [...productQtyUpdates.values()],\n    summary: {\n      sales_received: sales.length,\n      processed_transaction_logs: transactionLogs.length,\n      batch_updates: updatedBatches.length,\n      warnings: warnings.length,\n      product_change_suggestions: productChangeSuggestions.length,\n      product_qty_updates: productQtyUpdates.size,\n      wf4_auto_start_candidates: productChangeSuggestions\n        .filter(s => clean(s.wf4_auto_start).toUpperCase() === 'TRUE')\n        .length,\n      processed_at: now,\n      previous_last_inventory_review_at: lastSuccessfulSaleDate.toISOString(),\n      last_successful_sale_datetime_gmt: maxProcessedSaleDate.toISOString(),\n      should_update_watermark: maxProcessedSaleDate > lastSuccessfulSaleDate\n    }\n  }\n}];"
        },
        "id": "600dda20-cd91-4729-ae26-2a52a59df09f",
        "name": "Code - FIFO berechnen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -864,
          496
        ],
        "notes": "Zentrale Logik: neue Transaktionen erkennen, Produkt über MachineID + ProductName zuordnen und Lagerchargen nach MHD/FIFO abbuchen."
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json.updatedBatches || [];\nreturn data.map(row => ({ json: row }));"
        },
        "id": "ffa49cdd-9ca2-4486-aaac-842461166807",
        "name": "Extract - Batch Updates",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -640,
          256
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json.transactionLogs || [];\nreturn data.map(row => ({ json: row }));"
        },
        "id": "0f0cffac-dada-41dd-b775-910c0042e1d2",
        "name": "Extract - Transaction Logs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -432,
          480
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json.warnings || [];\nreturn data.map(row => ({ json: row }));"
        },
        "id": "d6e13b6d-539c-4323-bad1-2a4022ec4c92",
        "name": "Extract - Warnings",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -640,
          704
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Lagerchargen",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "batch_id": "={{ $json.batch_id }}",
              "remaining_qty": "={{ $json.remaining_qty }}",
              "status": "={{ $json.status }}",
              "row_number": 0
            },
            "matchingColumns": [
              "batch_id"
            ],
            "schema": [
              {
                "id": "batch_id",
                "displayName": "batch_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "product_key",
                "displayName": "product_key",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "purchase_date",
                "displayName": "purchase_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "mhd",
                "displayName": "mhd",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "initial_qty",
                "displayName": "initial_qty",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "remaining_qty",
                "displayName": "remaining_qty",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "unit_cost",
                "displayName": "unit_cost",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "supplier",
                "displayName": "supplier",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "storage_location",
                "displayName": "storage_location",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "notes",
                "displayName": "notes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "source_invoice",
                "displayName": "source_invoice",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "source_item",
                "displayName": "source_item",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "confidence",
                "displayName": "confidence",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "d5e41d8a-9454-4db8-a8ba-0b046d5e6804",
        "name": "Google Sheets - Lagerchargen aktualisieren",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -160,
          256
        ],
        "notes": "Nach Import: Spaltenzuordnung im Node prüfen und ggf. 'Map automatically' / Matching Column batch_id setzen.",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Verarbeitete_Transaktionen",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "transaction_id": "={{ $json.transaction_id }}",
              "machine_id": "={{ $json.machine_id }}",
              "nayax_product_name": "={{ $json.nayax_product_name }}",
              "product_key": "={{ $json.product_key }}",
              "quantity": "={{ $json.quantity }}",
              "settlement_datetime_gmt": "={{ $json.settlement_datetime_gmt }}",
              "processed_at": "={{ $json.processed_at }}",
              "notes": "={{ $json.notes }}",
              "status": "={{ $json.status }}",
              "vk_preis_brutto": "={{ $json.vk_preis_brutto }}",
              "umsatz_brutto": "={{ $json.umsatz_brutto }}",
              "mdb_code_extracted": "={{ $json.mdb_code_extracted }}",
              "batch_id_abgebucht": "={{ $json.batch_id_abgebucht }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "transaction_id",
                "displayName": "transaction_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "machine_id",
                "displayName": "machine_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nayax_product_name",
                "displayName": "nayax_product_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "product_key",
                "displayName": "product_key",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "quantity",
                "displayName": "quantity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "settlement_datetime_gmt",
                "displayName": "settlement_datetime_gmt",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "processed_at",
                "displayName": "processed_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "status",
                "displayName": "status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "notes",
                "displayName": "notes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "vk_preis_brutto",
                "displayName": "vk_preis_brutto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "umsatz_brutto",
                "displayName": "umsatz_brutto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "mdb_code_extracted",
                "displayName": "mdb_code_extracted",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "batch_id_abgebucht",
                "displayName": "batch_id_abgebucht",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "3ee54f92-2838-497d-b62d-ec172ffa4f00",
        "name": "Google Sheets - Transaktionen anhängen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -160,
          480
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Fehler_und_Hinweise",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "type",
                "displayName": "type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "severity",
                "displayName": "severity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "machine_id",
                "displayName": "machine_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "product_key",
                "displayName": "product_key",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nayax_product_name",
                "displayName": "nayax_product_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "message",
                "displayName": "message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "resolved",
                "displayName": "resolved",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "56ee12e0-82f7-4144-8fea-3c219e93972f",
        "name": "Google Sheets - Hinweise anhängen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -368,
          704
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "function clean(value) {\n  return String(value ?? '').replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nfunction firstNonEmpty(...values) {\n  return values.map(clean).find(value => value !== '') || '';\n}\n\nfunction parseProductName(raw) {\n  const text = clean(raw);\n  const match = text.match(/^(.*?)\\s*\\((\\d+)\\s*=\\s*([0-9]+(?:[.,][0-9]+)?)\\s*\\)/);\n  return {\n    label: match ? clean(match[1]) : text,\n    mdb_code: match ? String(match[2]) : '',\n    sale_price_eur: match ? String(match[3]).replace(',', '.') : ''\n  };\n}\n\nreturn $input.all().map(item => {\n  const productName = clean(item.json.ProductName || item.json.product_name || item.json.nayax_product_name);\n  const parsed = parseProductName(productName);\n  const explicitMdb = firstNonEmpty(\n    item.json.mdb_code,\n    item.json.MDBCode,\n    item.json.MdbCode,\n    item.json.MDB_CODE,\n    item.json.MDB,\n    item.json.ProductMDBCode,\n    item.json.ProductMdbCode,\n    item.json.SlotNumber,\n    item.json.SlotId\n  );\n\n  return {\n    json: {\n      ...item.json,\n      ProductName: productName || item.json.ProductName,\n      nayax_product_label: parsed.label,\n      mdb_code_extracted: firstNonEmpty(explicitMdb, parsed.mdb_code),\n      sale_price_eur_extracted: parsed.sale_price_eur\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1920,
          480
        ],
        "id": "47c77ac8-9126-460d-99d3-1ca65b72956f",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json.productChangeSuggestions || [];\nreturn data.map(row => ({ json: row }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -640,
          96
        ],
        "id": "ad57a352-0445-4ddf-958f-831009c865c1",
        "name": "Extract - Product Change Suggestions",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config').item.json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Produkt_Aenderungsvorschlaege",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "created_at": "={{ $json.created_at }}",
              "change_type": "={{ $json.change_type }}",
              "machine_id": "={{ $json.machine_id }}",
              "mdb_code": "={{ $json.mdb_code }}",
              "nayax_product_name": "={{ $json.nayax_product_name }}",
              "existing_product_key": "={{ $json.existing_product_key }}",
              "existing_nayax_product_name": "={{ $json.existing_nayax_product_name }}",
              "suggested_action": "={{ $json.suggested_action }}",
              "suggested_product_key": "={{ $json.suggested_product_key }}",
              "confidence": "={{ $json.confidence }}",
              "approved": "FALSE",
              "processed": "FALSE",
              "notes": "={{ $json.notes }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "change_type",
                "displayName": "change_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "machine_id",
                "displayName": "machine_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "mdb_code",
                "displayName": "mdb_code",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "nayax_product_name",
                "displayName": "nayax_product_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "existing_product_key",
                "displayName": "existing_product_key",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "existing_nayax_product_name",
                "displayName": "existing_nayax_product_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "suggested_product_key",
                "displayName": "suggested_product_key",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "suggested_action",
                "displayName": "suggested_action",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "confidence",
                "displayName": "confidence",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "suggested_sale_price_eur",
                "displayName": "suggested_sale_price_eur",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valid_from",
                "displayName": "valid_from",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "approved_at",
                "displayName": "approved_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "approved",
                "displayName": "approved",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "processed_at",
                "displayName": "processed_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "processed",
                "displayName": "processed",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "notes",
                "displayName": "notes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -224,
          128
        ],
        "id": "6bf271d3-abd1-4da4-96a9-fc73b3f71f81",
        "name": "Append row in sheet",
        "alwaysOutputData": false,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4646f121-8bd5-47dc-9c77-1ae207e8d063",
                "leftValue": "={{ $json.productChangeSuggestions.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -912,
          192
        ],
        "id": "06b525cf-d4b5-4e8c-ae35-009a964bd4f9",
        "name": "If"
      },
      {
        "parameters": {
          "jsCode": "function clean(value) {\n  return String(value ?? '').replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nconst defaultChangeType = {\n  MDB_CODE_CHANGED_FOR_PRODUCT: 'Produkt auf anderen MDB-Slot umziehen',\n  MDB_PRODUCT_MAPPING_MISMATCH: 'Produkt im Slot austauschen'\n};\n\nreturn $input.all()\n  .map(item => item.json)\n  .filter(row => clean(row.wf4_auto_start).toUpperCase() === 'TRUE')\n  .map(row => ({\n    json: {\n      source: 'WF3_NAYAX_LAST_SALES',\n      detected_reason: clean(row.detected_reason || row.change_type),\n      machine_id: clean(row.machine_id),\n      nayax_product_name: clean(row.raw_product_name || row.nayax_product_name),\n      raw_product_name: clean(row.raw_product_name || row.nayax_product_name),\n      product_label: clean(row.nayax_product_name),\n      expected_mdb_code: clean(row.expected_mdb_code || row.old_mdb_code),\n      actual_mdb_code: clean(row.actual_mdb_code || row.new_mdb_code || row.mdb_code),\n      old_mdb_code: clean(row.expected_mdb_code || row.old_mdb_code),\n      new_mdb_code: clean(row.actual_mdb_code || row.new_mdb_code || row.mdb_code),\n      product_key: clean(row.suggested_product_key || row.product_key),\n      suggested_product_key: clean(row.suggested_product_key || row.product_key),\n      settlement_datetime_gmt: clean(row.settlement_datetime_gmt),\n      sale_datetime_utc: clean(row.settlement_datetime_gmt),\n      transaction_id: clean(row.transaction_id),\n      suggested_change_type: clean(row.suggested_change_type || defaultChangeType[row.detected_reason || row.change_type]),\n      notes: clean(row.notes)\n    }\n  }));"
        },
        "id": "b122e50a-5770-4ea6-805f-48556917b48f",
        "name": "Code - WF4 Input vorbereiten",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Tz2o62qXQyeJdlbE",
            "mode": "id",
            "cachedResultUrl": "/workflow/Tz2o62qXQyeJdlbE"
          },
          "workflowInputs": {
            "value": {
              "source": "={{ $json.source }}",
              "detected_reason": "={{ $json.detected_reason }}",
              "machine_id": "={{ $json.machine_id }}",
              "nayax_product_name": "={{ $json.nayax_product_name }}",
              "raw_product_name": "={{ $json.raw_product_name }}",
              "product_label": "={{ $json.product_label }}",
              "expected_mdb_code": "={{ $json.expected_mdb_code }}",
              "actual_mdb_code": "={{ $json.actual_mdb_code }}",
              "old_mdb_code": "={{ $json.old_mdb_code }}",
              "new_mdb_code": "={{ $json.new_mdb_code }}",
              "product_key": "={{ $json.product_key }}",
              "suggested_product_key": "={{ $json.suggested_product_key }}",
              "settlement_datetime_gmt": "={{ $json.settlement_datetime_gmt }}",
              "sale_datetime_utc": "={{ $json.sale_datetime_utc }}",
              "transaction_id": "={{ $json.transaction_id }}",
              "suggested_change_type": "={{ $json.suggested_change_type }}",
              "notes": "={{ $json.notes }}"
            },
            "schema": [
              {
                "id": "source",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "source",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "detected_reason",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "detected_reason",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "machine_id",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "machine_id",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "nayax_product_name",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "nayax_product_name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "raw_product_name",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "raw_product_name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "product_label",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "product_label",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "expected_mdb_code",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "expected_mdb_code",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "actual_mdb_code",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "actual_mdb_code",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "old_mdb_code",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "old_mdb_code",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "new_mdb_code",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "new_mdb_code",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "product_key",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "product_key",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "suggested_product_key",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "suggested_product_key",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "settlement_datetime_gmt",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "settlement_datetime_gmt",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "sale_datetime_utc",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "sale_datetime_utc",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "transaction_id",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "transaction_id",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "suggested_change_type",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "suggested_change_type",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "notes",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "notes",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {
            "waitForSubWorkflow": false
          }
        },
        "id": "8da36cec-651b-44a2-b01f-9fdff0d0e062",
        "name": "Execute Workflow - WF4 MDB Zuordnung",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -1136,
          496
        ],
        "id": "94f68db3-573b-496e-9c7d-cb0593acfc3f",
        "name": "Merge - Mit Transaktionen"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
            "mode": "list",
            "cachedResultName": "nayax_lager_google_sheets_import_aktualisiert_v3_kitkat_2026-05-02",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1189419178,
            "mode": "list",
            "cachedResultName": "letzter Verkaufsworkflow",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit#gid=1189419178"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "workflow_key",
                "lookupValue": "WF3_NAYAX_FIFO"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1424,
          752
        ],
        "id": "dad89991-9680-43f4-a686-c3dc9a0c92a9",
        "name": "Google Sheets - letzter Verkaufsworkflow lesen",
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const summary = $input.first().json.summary || {};\n\nif (!summary.should_update_watermark) {\n  return [];\n}\n\nreturn [{\n  json: {\n    workflow_key: 'WF3_NAYAX_FIFO',\n    last_inventory_review_at: summary.last_successful_sale_datetime_gmt\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -608,
          -144
        ],
        "id": "d5915cb7-8047-4309-b412-a87209ce902f",
        "name": "Extract - letzter Verkaufsworkflow Update"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
            "mode": "list",
            "cachedResultName": "nayax_lager_google_sheets_import_aktualisiert_v3_kitkat_2026-05-02",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1189419178,
            "mode": "list",
            "cachedResultName": "letzter Verkaufsworkflow",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit#gid=1189419178"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "workflow_key": "={{ $json.workflow_key }}",
              "last_inventory_review_at": "={{ $json.last_inventory_review_at }}"
            },
            "matchingColumns": [
              "workflow_key"
            ],
            "schema": [
              {
                "id": "workflow_key",
                "displayName": "workflow_key",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "last_inventory_review_at",
                "displayName": "last_inventory_review_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -400,
          -144
        ],
        "id": "df4a2bea-f8ca-4433-8533-3292bc5ac563",
        "name": "Google Sheets - letzter Verkaufsworkflow aktualisieren",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -992,
          496
        ],
        "id": "2cc624b4-4a4c-40f4-b798-3e3daae3d04a",
        "name": "Merge - Mit letztem Verkaufsworkflow"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
            "mode": "list",
            "cachedResultName": "nayax_lager_google_sheets_import_aktualisiert_v3_kitkat_2026-05-02",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1505466008,
            "mode": "list",
            "cachedResultName": "Produkte",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo/edit#gid=1505466008"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "product_slot_id": "={{ $json.product_slot_id }}",
              "product_key": "=",
              "last_change_id": "={{ $json.last_change_id }}",
              "notes": "={{ $json.notes }}",
              "current_machine_qty": "={{ $json.current_machine_qty }}"
            },
            "matchingColumns": [
              "product_slot_id"
            ],
            "schema": [
              {
                "id": "product_key",
                "displayName": "product_key",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "machine_id",
                "displayName": "machine_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "mdb_code",
                "displayName": "mdb_code",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "nayax_product_name",
                "displayName": "nayax_product_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "internal_product_name",
                "displayName": "internal_product_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "sale_price_eur",
                "displayName": "sale_price_eur",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "valid_from",
                "displayName": "valid_from",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "valid_to",
                "displayName": "valid_to",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "active",
                "displayName": "active",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "replenishment_status",
                "displayName": "replenishment_status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "min_stock",
                "displayName": "min_stock",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "target_stock",
                "displayName": "target_stock",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "current_machine_qty",
                "displayName": "current_machine_qty",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "machine_capacity",
                "displayName": "machine_capacity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "stock_source",
                "displayName": "stock_source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "notes",
                "displayName": "notes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "product_slot_id",
                "displayName": "product_slot_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "valid_from_datetime",
                "displayName": "valid_from_datetime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "valid_to_datetime",
                "displayName": "valid_to_datetime",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "last_change_id",
                "displayName": "last_change_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -192,
          960
        ],
        "id": "a9fc4181-1a1d-47dc-8641-64b2586ec784",
        "name": "Produktbestand Update",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json.productQtyUpdates || [];\n\nreturn data.map(row => ({\n  json: row\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -720,
          880
        ],
        "id": "56fae311-dda3-4041-9f54-9d3ca58ae324",
        "name": "Extract - Produktbestand Updates"
      },
      {
        "parameters": {
          "path": "5fed350b-9f51-4027-8ecd-957daed17c7a",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -2768,
          656
        ],
        "id": "b1c96c06-1fc1-4137-b684-4a83524e8bee",
        "name": "Webhook",
        "webhookId": "5fed350b-9f51-4027-8ecd-957daed17c7a"
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config": {
        "main": [
          [
            {
              "node": "Nayax - Last Sales",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Nayax - Last Sales": {
        "main": [
          [
            {
              "node": "Normalize Sales",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Sales": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - Produkte lesen": {
        "main": [
          [
            {
              "node": "Merge - Produkte + Lagerchargen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - Lagerchargen lesen": {
        "main": [
          [
            {
              "node": "Merge - Produkte + Lagerchargen",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge - Produkte + Lagerchargen": {
        "main": [
          [
            {
              "node": "Merge - Mit Transaktionen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - Transaktionen lesen": {
        "main": [
          [
            {
              "node": "Merge - Mit Transaktionen",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Code - FIFO berechnen": {
        "main": [
          [
            {
              "node": "Extract - Batch Updates",
              "type": "main",
              "index": 0
            },
            {
              "node": "Extract - Transaction Logs",
              "type": "main",
              "index": 0
            },
            {
              "node": "Extract - Warnings",
              "type": "main",
              "index": 0
            },
            {
              "node": "If",
              "type": "main",
              "index": 0
            },
            {
              "node": "Extract - letzter Verkaufsworkflow Update",
              "type": "main",
              "index": 0
            },
            {
              "node": "Extract - Produktbestand Updates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract - Batch Updates": {
        "main": [
          [
            {
              "node": "Google Sheets - Lagerchargen aktualisieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract - Transaction Logs": {
        "main": [
          [
            {
              "node": "Google Sheets - Transaktionen anhängen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract - Warnings": {
        "main": [
          [
            {
              "node": "Google Sheets - Hinweise anhängen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Google Sheets - Produkte lesen",
              "type": "main",
              "index": 0
            },
            {
              "node": "Google Sheets - Transaktionen lesen",
              "type": "main",
              "index": 0
            },
            {
              "node": "Google Sheets - letzter Verkaufsworkflow lesen",
              "type": "main",
              "index": 0
            },
            {
              "node": "Google Sheets - Lagerchargen lesen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract - Product Change Suggestions": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code - WF4 Input vorbereiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Extract - Product Change Suggestions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - WF4 Input vorbereiten": {
        "main": [
          [
            {
              "node": "Execute Workflow - WF4 MDB Zuordnung",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge - Mit Transaktionen": {
        "main": [
          [
            {
              "node": "Merge - Mit letztem Verkaufsworkflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract - letzter Verkaufsworkflow Update": {
        "main": [
          [
            {
              "node": "Google Sheets - letzter Verkaufsworkflow aktualisieren",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - letzter Verkaufsworkflow lesen": {
        "main": [
          [
            {
              "node": "Merge - Mit letztem Verkaufsworkflow",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge - Mit letztem Verkaufsworkflow": {
        "main": [
          [
            {
              "node": "Code - FIFO berechnen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract - Produktbestand Updates": {
        "main": [
          [
            {
              "node": "Produktbestand Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Patrick Matthes",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-11T16:24:12.454Z",
        "id": 17,
        "workflowId": "2PFfPf0sVmMW7Fpp",
        "versionId": "765aaf95-7b1c-4592-a6e3-8442ac1a3309",
        "event": "activated",
        "userId": "120361c7-55fb-4132-84f7-3db7136ad7b6"
      },
      {
        "createdAt": "2026-05-11T16:24:12.413Z",
        "id": 16,
        "workflowId": "2PFfPf0sVmMW7Fpp",
        "versionId": "765aaf95-7b1c-4592-a6e3-8442ac1a3309",
        "event": "deactivated",
        "userId": "120361c7-55fb-4132-84f7-3db7136ad7b6"
      }
    ]
  }
}