WF5 - MHD und niedrige Lagercharge ueberwachen.json
{
  "updatedAt": "2026-05-09T06:25:57.516Z",
  "createdAt": "2026-05-07T20:34:43.672Z",
  "id": "A1TQ7CnHXonafVIv",
  "name": "WF5 - MHD und niedrige Lagercharge ueberwachen",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "dbbf113d-9322-4344-bf45-7e65326ad596",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "c419b583-ac2d-4cb5-8da6-4e035026b446",
      "name": "Schedule Trigger - taeglich 07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "machine_id",
              "name": "machine_id",
              "value": "457107528",
              "type": "string"
            },
            {
              "id": "google_sheet_id",
              "name": "google_sheet_id",
              "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
              "type": "string"
            },
            {
              "id": "sheet_produkte",
              "name": "sheet_produkte",
              "value": "Produkte",
              "type": "string"
            },
            {
              "id": "sheet_lagerchargen",
              "name": "sheet_lagerchargen",
              "value": "Lagerchargen",
              "type": "string"
            },
            {
              "id": "sheet_hinweise",
              "name": "sheet_hinweise",
              "value": "Fehler_und_Hinweise",
              "type": "string"
            },
            {
              "id": "mhd_warning_days",
              "name": "mhd_warning_days",
              "value": 30,
              "type": "number"
            },
            {
              "id": "low_batch_qty_threshold",
              "name": "low_batch_qty_threshold",
              "value": 5,
              "type": "number"
            },
            {
              "id": "sheet_verarbeitete_transaktionen",
              "name": "sheet_verarbeitete_transaktionen",
              "value": "Verarbeitete_Transaktionen",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "06454264-b8d8-4b73-9821-8fc521055561",
      "name": "Config - WF5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        96
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF5').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config - WF5').first().json.sheet_lagerchargen }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "81911370-69a5-4e26-82f7-ef2fa51544c0",
      "name": "Google Sheets - Lagerchargen lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        496,
        -64
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF5').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config - WF5').first().json.sheet_produkte }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "31a20605-c63d-4abd-82fa-709ef3c0b4b9",
      "name": "Google Sheets - Produkte lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        544,
        80
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF5').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config - WF5').first().json.sheet_hinweise }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "bfafd88b-7892-400b-ab58-ee45b398bd03",
      "name": "Google Sheets - Hinweise lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        544,
        224
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config - WF5').first().json;\nconst products = $items('Google Sheets - Produkte lesen').map(i => i.json);\nconst batches = $items('Google Sheets - Lagerchargen lesen').map(i => i.json);\n\nconst alerts = [];\n\nfunction clean(value) {\n  return String(value ?? '')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction num(value) {\n  const n = Number(String(value ?? '').replace(',', '.'));\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction parseDate(value) {\n  const raw = clean(value);\n  if (!raw) return null;\n\n  const d = new Date(raw);\n  if (!Number.isNaN(d.getTime())) return d;\n\n  const m = raw.match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n  if (m) return new Date(`${m[1]}-${m[2]}-${m[3]}T00:00:00Z`);\n\n  return null;\n}\n\nfunction todayBerlinIso() {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Berlin',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).formatToParts(new Date());\n\n  return [\n    parts.find(p => p.type === 'year')?.value,\n    parts.find(p => p.type === 'month')?.value,\n    parts.find(p => p.type === 'day')?.value,\n  ].join('-');\n}\n\nfunction daysUntil(value) {\n  const d = parseDate(value);\n  if (!d) return null;\n\n  const today = new Date(`${todayBerlinIso()}T00:00:00+01:00`);\n  const target = new Date(d);\n  target.setHours(0, 0, 0, 0);\n\n  return Math.ceil((target - today) / 86400000);\n}\n\nfunction isActive(value) {\n  const v = clean(value).toUpperCase();\n  return ['TRUE', '1', 'JA', 'YES', 'AKTIV', 'ACTIVE'].includes(v);\n}\n\nfunction isActiveProduct(row) {\n  return isActive(row.active) && !clean(row.valid_to_datetime || row.valid_to);\n}\n\nfunction isActiveBatch(row) {\n  return isActive(row.status);\n}\n\nfunction productName(row) {\n  return clean(\n    row.internal_product_name ||\n    row.nayax_product_name ||\n    row.product_name ||\n    row.product_key ||\n    'Unbekanntes Produkt'\n  );\n}\n\nfunction productFor(productKey) {\n  return products.find(row => clean(row.product_key) === productKey) || {};\n}\n\nfunction activeBatchTotal(productKey) {\n  return batches\n    .filter(batch => clean(batch.product_key) === productKey)\n    .filter(isActiveBatch)\n    .reduce((sum, batch) => sum + (num(batch.remaining_qty) ?? 0), 0);\n}\n\nconst now = new Date().toISOString();\nconst mhdWarningDays = Number(config.mhd_warning_days ?? 30);\n\nfor (const batch of batches) {\n  const productKey = clean(batch.product_key);\n  if (!productKey || !isActiveBatch(batch)) continue;\n\n  const mhd = clean(batch.mhd);\n  const days = daysUntil(mhd);\n  if (!mhd || days === null || days > mhdWarningDays) continue;\n\n  const product = productFor(productKey);\n  const name = productName(product.product_key ? product : batch);\n  const currentMachineQty = num(product.current_machine_qty);\n  const warehouseStockQty = activeBatchTotal(productKey);\n  // remaining_qty der aktiven Lagerchargen ist bereits der Gesamtbestand inklusive Automatenbestand.\n  const totalStockQty = warehouseStockQty;\n\n  alerts.push({\n    created_at: now,\n    type: 'MHD_WARNING',\n    severity: days < 0 ? 'critical' : 'warning',\n    product_key: productKey,\n    product_name: name,\n    internal_product_name: clean(product.internal_product_name),\n    nayax_product_name: clean(product.nayax_product_name),\n    batch_id: clean(batch.batch_id),\n    mhd,\n    remaining_qty: num(batch.remaining_qty),\n    current_machine_qty: currentMachineQty,\n    warehouse_stock_qty: warehouseStockQty,\n    total_stock_qty: totalStockQty,\n    machine_id: clean(product.machine_id),\n    mdb_code: clean(product.mdb_code),\n    message: days < 0\n      ? `${name}: Charge ${clean(batch.batch_id)} ist seit ${Math.abs(days)} Tag(en) abgelaufen.`\n      : `${name}: Charge ${clean(batch.batch_id)} läuft in ${days} Tag(en) ab.`\n  });\n}\n\nfor (const product of products) {\n  const productKey = clean(product.product_key);\n  if (!productKey || !isActiveProduct(product)) continue;\n\n  const currentMachineQty = num(product.current_machine_qty);\n  const minStock = num(product.min_stock);\n  if (currentMachineQty === null || minStock === null) continue;\n  if (currentMachineQty > (minStock + 1)) continue;\n\n  const warehouseStockQty = activeBatchTotal(productKey);\n  // remaining_qty der aktiven Lagerchargen ist bereits der Gesamtbestand inklusive Automatenbestand.\n  const totalStockQty = warehouseStockQty;\n  const targetStock = num(product.target_stock);\n  const machineCapacity = num(product.machine_capacity);\n  const name = productName(product);\n\n  alerts.push({\n    created_at: now,\n    type: 'LOW_STOCK',\n    severity: 'warning',\n    product_key: productKey,\n    product_name: name,\n    internal_product_name: clean(product.internal_product_name),\n    nayax_product_name: clean(product.nayax_product_name),\n    machine_id: clean(product.machine_id),\n    mdb_code: clean(product.mdb_code),\n    current_machine_qty: currentMachineQty,\n    warehouse_stock_qty: warehouseStockQty,\n    total_stock_qty: totalStockQty,\n    min_stock: minStock,\n    target_stock: targetStock,\n    machine_capacity: machineCapacity,\n    message: `${name}: Nur noch ${currentMachineQty} Stück im Automaten. Bestand gesamt: ${totalStockQty}.`\n  });\n}\n\nreturn [{\n  json: {\n    alerts,\n    summary: {\n      checked_batches: batches.length,\n      checked_products: products.length,\n      alerts_created: alerts.length,\n      created_at: now\n    }\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "7319d132-3c09-4129-9825-d662d0871964",
      "name": "Code - MHD und Lagercharge pruefen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $input.all()\n  .map(i => i.json)\n  .find(item => Array.isArray(item.alerts) && item.summary && item.summary.alerts_created !== undefined);\n\nreturn ((source && source.alerts) || []).map(alert => ({ json: alert }));",
        "mode": "runOnceForAllItems"
      },
      "id": "75eda299-6b97-428d-9760-878a46d46ec0",
      "name": "Extract - Hinweise",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        96
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF5').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config - WF5').first().json.sheet_hinweise }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $json.created_at }}",
            "type": "={{ $json.type }}",
            "severity": "={{ $json.severity }}",
            "machine_id": "={{ $json.machine_id }}",
            "product_key": "={{ $json.product_key }}",
            "nayax_product_name": "={{ $json.nayax_product_name }}",
            "message": "={{ $json.message }}",
            "resolved": "={{ $json.resolved }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "severity",
              "displayName": "severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "machine_id",
              "displayName": "machine_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_key",
              "displayName": "product_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nayax_product_name",
              "displayName": "nayax_product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resolved",
              "displayName": "resolved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "change_id",
              "displayName": "change_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f919e09e-d2ea-4867-a303-a4b7fd35b0fb",
      "name": "Google Sheets - Hinweise anhaengen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1776,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all().map(i => i.json);\n\nconst alerts = inputItems.flatMap(item => {\n  if (Array.isArray(item.alerts)) return item.alerts;\n  return [];\n}).filter(a => a && typeof a === 'object');\n\nconst dailySales = inputItems.flatMap(item => {\n  if (Array.isArray(item.daily_sales)) return item.daily_sales;\n  return [];\n});\n\nconst dailySalesTotals = inputItems.reduce((acc, item) => {\n  const s = item.daily_sales_totals || {};\n  acc.products_sold_today += Number(s.products_sold_today || 0);\n  acc.transactions_today += Number(s.transactions_today || 0);\n  acc.quantity_sold_today += Number(s.quantity_sold_today || 0);\n  acc.checked_transaction_rows += Number(s.checked_transaction_rows || 0);\n  if (s.day) acc.day = s.day;\n  return acc;\n}, {\n  day: '',\n  products_sold_today: 0,\n  transactions_today: 0,\n  quantity_sold_today: 0,\n  checked_transaction_rows: 0\n});\n\nconst summary = inputItems.reduce((acc, item) => {\n  const s = item.summary || {};\n\n  acc.checked_batches += Number(s.checked_batches || 0);\n  acc.checked_products += Number(s.checked_products || 0);\n  acc.checked_hint_rows += Number(s.checked_hint_rows || 0);\n  acc.checked_transaction_rows += Number(s.checked_transaction_rows || 0);\n  acc.alerts_created += Number(s.alerts_created || 0);\n  acc.open_hints_today += Number(s.open_hints_today || 0);\n  acc.sales_today_quantity += Number(s.sales_today_quantity || 0);\n  acc.sales_today_transactions += Number(s.sales_today_transactions || 0);\n\n  return acc;\n}, {\n  checked_batches: 0,\n  checked_products: 0,\n  checked_hint_rows: 0,\n  checked_transaction_rows: 0,\n  alerts_created: 0,\n  open_hints_today: 0,\n  sales_today_quantity: 0,\n  sales_today_transactions: 0\n});\n\nfunction clean(value) {\n  return String(value ?? '')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction esc(value) {\n  return clean(value)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n}\n\nfunction num(value) {\n  const n = Number(String(value ?? '').replace(',', '.'));\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction value(alert, keys) {\n  for (const key of keys) {\n    const v = clean(alert[key]);\n    if (v) return v;\n  }\n  return '';\n}\n\nfunction parseDate(value) {\n  const raw = clean(value);\n  if (!raw) return null;\n\n  const d = new Date(raw);\n  if (!Number.isNaN(d.getTime())) return d;\n\n  const m1 = raw.match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n  if (m1) return new Date(`${m1[1]}-${m1[2]}-${m1[3]}T00:00:00Z`);\n\n  const m2 = raw.match(/^(\\d{2})\\.(\\d{2})\\.(\\d{4})$/);\n  if (m2) return new Date(`${m2[3]}-${m2[2]}-${m2[1]}T00:00:00Z`);\n\n  return null;\n}\n\nfunction formatDate(value) {\n  const d = parseDate(value);\n  if (!d) return clean(value) || '-';\n\n  return d.toLocaleDateString('de-DE', {\n    timeZone: 'Europe/Berlin',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n  });\n}\n\nfunction todayBerlinIso() {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Berlin',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).formatToParts(new Date());\n\n  return [\n    parts.find(p => p.type === 'year')?.value,\n    parts.find(p => p.type === 'month')?.value,\n    parts.find(p => p.type === 'day')?.value,\n  ].join('-');\n}\n\nfunction daysUntil(value) {\n  const d = parseDate(value);\n  if (!d) return null;\n\n  const today = new Date(`${todayBerlinIso()}T00:00:00+01:00`);\n  const target = new Date(d);\n  target.setHours(0, 0, 0, 0);\n\n  return Math.ceil((target - today) / 86400000);\n}\n\nfunction isResolved(alert) {\n  const resolved = clean(alert.resolved).toUpperCase();\n  return ['TRUE', 'JA', 'YES', '1', 'ERLEDIGT', 'RESOLVED'].includes(resolved);\n}\n\nfunction productName(alert) {\n  return value(alert, [\n    'product_name',\n    'internal_product_name',\n    'nayax_product_name',\n    'article_name',\n    'artikelname',\n    'artikelbezeichnung',\n    'name',\n    'product',\n    'item_name',\n    'product_key',\n  ]) || 'Unbekanntes Produkt';\n}\n\nfunction productKey(alert) {\n  return value(alert, ['product_key', 'sku', 'SKU']);\n}\n\nfunction batchId(alert) {\n  return value(alert, ['batch_id', 'charge_id', 'lagercharge', 'batch', 'charge']);\n}\n\nfunction machineId(alert) {\n  return value(alert, ['machine_id', 'MachineID', 'machine']);\n}\n\nfunction mdbCode(alert) {\n  return value(alert, ['mdb_code', 'MDB', 'mdb', 'actual_mdb_code', 'expected_mdb_code']);\n}\n\nfunction machineStock(alert) {\n  return num(alert.current_machine_qty ?? alert.machine_stock_qty ?? alert.bestand_im_automat);\n}\n\nfunction warehouseStock(alert) {\n  return num(alert.warehouse_stock_qty ?? alert.lagerbestand_qty ?? alert.remaining_qty);\n}\n\nfunction totalStock(alert) {\n  const explicit = num(alert.total_stock_qty ?? alert.bestand_gesamt);\n  if (explicit !== null) return explicit;\n\n  const warehouse = warehouseStock(alert);\n  if (warehouse !== null) return warehouse;\n\n  return machineStock(alert);\n}\n\nfunction minStock(alert) {\n  return num(alert.min_stock ?? alert.minimum_stock ?? alert.mindestbestand);\n}\n\nfunction targetStock(alert) {\n  return num(alert.target_stock ?? alert.sollbestand ?? alert.zielbestand);\n}\n\nfunction capacity(alert) {\n  return num(alert.machine_capacity ?? alert.capacity ?? alert.slot_capacity);\n}\n\nfunction mhd(alert) {\n  return value(alert, [\n    'mhd',\n    'expiry_date',\n    'best_before',\n    'valid_until',\n    'mhd_date',\n    'expiration_date'\n  ]);\n}\n\nfunction type(alert) {\n  return clean(alert.type).toUpperCase();\n}\n\nfunction severity(alert) {\n  return clean(alert.severity).toLowerCase();\n}\n\nfunction message(alert) {\n  return clean(alert.message || alert.hinweis || alert.description);\n}\n\nconst dateText = new Date().toLocaleDateString('de-DE', {\n  timeZone: 'Europe/Berlin',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n});\n\nconst relevantAlerts = alerts.filter(alert => {\n  if (!alert || typeof alert !== 'object') return false;\n  if (isResolved(alert)) return false;\n  return true;\n});\n\nconst mhdExpired = [];\nconst mhdSoon = [];\nconst lowStock = [];\nconst dataIssues = [];\nconst otherWarnings = [];\n\nfor (const alert of relevantAlerts) {\n  const t = type(alert);\n  const s = severity(alert);\n  const msg = message(alert).toLowerCase();\n  const mhdValue = mhd(alert);\n  const days = daysUntil(mhdValue);\n\n  const isMhd =\n    (t.includes('MHD') || t.includes('EXPIRY') || msg.includes('mhd')) &&\n    mhdValue &&\n    days !== null;\n\n  const isLowStock =\n    t.includes('LOW_STOCK') ||\n    t.includes('MIN_STOCK') ||\n    t.includes('REPLENISHMENT') ||\n    t.includes('BESTAND');\n\n  const isDataIssue =\n    ['error', 'critical'].includes(s) ||\n    t.includes('UNKNOWN') ||\n    t.includes('MISSING') ||\n    t.includes('MISMATCH') ||\n    t.includes('PRODUCT_MAPPING') ||\n    t.includes('SLOT') ||\n    t.includes('MDB') ||\n    msg.includes('fehler') ||\n    msg.includes('konnte nicht') ||\n    msg.includes('nicht sicher') ||\n    msg.includes('keine gueltige') ||\n    msg.includes('keine gültige');\n\n  if (isMhd && days < 0) {\n    mhdExpired.push(alert);\n  } else if (isMhd && days <= 30) {\n    mhdSoon.push(alert);\n  } else if (isLowStock) {\n    lowStock.push(alert);\n  } else if (isDataIssue) {\n    dataIssues.push(alert);\n  } else {\n    otherWarnings.push(alert);\n  }\n}\n\nfunction sortByMhd(a, b) {\n  const da = daysUntil(mhd(a));\n  const db = daysUntil(mhd(b));\n\n  if (da !== null && db !== null) return da - db;\n  if (da !== null) return -1;\n  if (db !== null) return 1;\n\n  return productName(a).localeCompare(productName(b), 'de');\n}\n\nfunction sortByQty(a, b) {\n  const qa = machineStock(a);\n  const qb = machineStock(b);\n\n  if (qa !== null && qb !== null) return qa - qb;\n  if (qa !== null) return -1;\n  if (qb !== null) return 1;\n\n  return productName(a).localeCompare(productName(b), 'de');\n}\n\nmhdExpired.sort(sortByMhd);\nmhdSoon.sort(sortByMhd);\nlowStock.sort(sortByQty);\ndataIssues.sort((a, b) => productName(a).localeCompare(productName(b), 'de'));\notherWarnings.sort((a, b) => productName(a).localeCompare(productName(b), 'de'));\n\nfunction card(title, count, color) {\n  return `\n    <td style=\"width:50%;padding:8px;\">\n      <div style=\"border:1px solid #e5e7eb;border-radius:12px;background:#ffffff;padding:14px;\">\n        <div style=\"font-size:12px;color:#6b7280;margin-bottom:4px;\">${esc(title)}</div>\n        <div style=\"font-size:26px;font-weight:700;color:${color};\">${count}</div>\n      </div>\n    </td>\n  `;\n}\n\nfunction section(title, itemsHtml) {\n  if (!itemsHtml) return '';\n  return `\n    <h2 style=\"font-size:18px;margin:28px 0 10px;color:#111827;\">${esc(title)}</h2>\n    <div style=\"border:1px solid #e5e7eb;border-radius:12px;overflow:hidden;background:#ffffff;\">\n      ${itemsHtml}\n    </div>\n  `;\n}\n\nfunction itemBlock(lines) {\n  return `\n    <div style=\"padding:14px 16px;border-bottom:1px solid #e5e7eb;\">\n      ${lines.filter(Boolean).map(line => `<div style=\"margin:4px 0;font-size:14px;line-height:1.35;\">${esc(line)}</div>`).join('')}\n    </div>\n  `;\n}\n\nfunction baseLine(alert) {\n  const parts = [productName(alert)];\n\n  if (productKey(alert)) parts.push(`SKU: ${productKey(alert)}`);\n  if (batchId(alert)) parts.push(`Charge: ${batchId(alert)}`);\n  if (machineId(alert)) parts.push(`Maschine: ${machineId(alert)}`);\n  if (mdbCode(alert)) parts.push(`MDB: ${mdbCode(alert)}`);\n\n  return parts.join(' | ');\n}\n\nfunction mhdBlock(alert) {\n  const days = daysUntil(mhd(alert));\n  const qty = warehouseStock(alert);\n\n  const daysText = days !== null\n    ? days < 0\n      ? `seit ${Math.abs(days)} Tag(en) abgelaufen`\n      : `in ${days} Tag(en)`\n    : 'Datum prüfen';\n\n  return itemBlock([\n    baseLine(alert),\n    `MHD: ${formatDate(mhd(alert))} | ${daysText}`,\n    qty !== null ? `Aktive Lagercharge gesamt: ${qty}` : '',\n    message(alert) ? `Hinweis: ${message(alert)}` : ''\n  ]);\n}\n\nfunction stockBlock(alert) {\n  return itemBlock([\n    baseLine(alert),\n    `Bestand im Automat: ${machineStock(alert) ?? '-'}`,\n    `Bestand gesamt: ${totalStock(alert) ?? '-'}`,\n    `Mindestbestand: ${minStock(alert) ?? '-'} | Zielbestand: ${targetStock(alert) ?? '-'} | Kapazität: ${capacity(alert) ?? '-'}`,\n    message(alert) ? `Hinweis: ${message(alert)}` : ''\n  ]);\n}\n\nfunction issueBlock(alert) {\n  return itemBlock([\n    baseLine(alert),\n    `Typ: ${type(alert) || '-'} | Schweregrad: ${severity(alert) || '-'}`,\n    message(alert) ? `Hinweis: ${message(alert)}` : ''\n  ]);\n}\n\nfunction salesBlock(sale) {\n  return itemBlock([\n    `${clean(sale.product_name || sale.nayax_product_name || sale.product_key)}`,\n    `SKU: ${clean(sale.product_key) || '-'}`,\n    `Verkauft heute: ${Number(sale.quantity_sold_today || 0)} Stück | Transaktionen: ${Number(sale.transactions_today || 0)}`,\n    `Zeitraum: ${clean(sale.first_sale_time) || '-'} bis ${clean(sale.last_sale_time) || '-'}`,\n    clean(sale.statuses) ? `Status: ${clean(sale.statuses)}` : '',\n  ]);\n}\n\nconst subjectParts = [];\nif (mhdExpired.length) subjectParts.push(`${mhdExpired.length} MHD abgelaufen`);\nif (mhdSoon.length) subjectParts.push(`${mhdSoon.length} MHD bald`);\nif (lowStock.length) subjectParts.push(`${lowStock.length} niedriger Bestand`);\nif (dailySalesTotals.quantity_sold_today) subjectParts.push(`${dailySalesTotals.quantity_sold_today} verkauft`);\nif (dataIssues.length) subjectParts.push(`${dataIssues.length} Datenfehler`);\n\nconst subject = subjectParts.length\n  ? `Automatenlager Check ${dateText}: ${subjectParts.join(' · ')}`\n  : `Automatenlager Check ${dateText}: keine akuten Punkte`;\n\nconst nextSteps = [];\nif (mhdExpired.length) nextSteps.push('Abgelaufene Produkte sofort prüfen und aus Automat/Lager entfernen.');\nif (mhdSoon.length) nextSteps.push('Produkte mit nahendem MHD priorisiert verkaufen, reduzieren oder austauschen.');\nif (lowStock.length) nextSteps.push('Niedrige Bestände für die nächste Befüllung einplanen.');\nif (dataIssues.length) nextSteps.push('Daten-/Workflowfehler im Tab Fehler_und_Hinweise prüfen und bereinigen.');\nif (!nextSteps.length) nextSteps.push('Keine Aktion erforderlich.');\n\nconst html = `\n<div style=\"font-family:Arial,Helvetica,sans-serif;background:#f3f4f6;padding:24px;color:#111827;\">\n  <div style=\"max-width:780px;margin:0 auto;background:#ffffff;border-radius:16px;padding:24px;border:1px solid #e5e7eb;\">\n\n    <h1 style=\"font-size:24px;margin:0 0 4px;\">Automatenlager Check</h1>\n    <div style=\"font-size:14px;color:#6b7280;margin-bottom:22px;\">Datum: ${esc(dateText)}</div>\n\n    <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:separate;border-spacing:0;margin-bottom:18px;\">\n      <tr>\n        ${card('MHD abgelaufen', mhdExpired.length, '#b91c1c')}\n        ${card('MHD läuft bald ab', mhdSoon.length, '#b45309')}\n      </tr>\n      <tr>\n        ${card('Niedriger Bestand', lowStock.length, '#1d4ed8')}\n        ${card('Daten-/Workflowfehler', dataIssues.length, '#7f1d1d')}\n      </tr>\n      <tr>\n        ${card('Heute verkauft', dailySalesTotals.quantity_sold_today, '#047857')}\n        ${card('Produkte verkauft', dailySalesTotals.products_sold_today, '#0f766e')}\n      </tr>\n    </table>\n\n    <div style=\"font-size:14px;color:#374151;background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;padding:12px 14px;margin-bottom:22px;\">\n      <div><strong>Ausgewertete Alerts:</strong> ${alerts.length}</div>\n      <div><strong>Geprüfte Produkte:</strong> ${summary.checked_products || '-'}</div>\n      <div><strong>Geprüfte Lagerchargen:</strong> ${summary.checked_batches || '-'}</div>\n      <div><strong>Geprüfte Transaktionen:</strong> ${summary.checked_transaction_rows || dailySalesTotals.checked_transaction_rows || '-'}</div>\n      <div><strong>Geprüfte Hinweiszeilen:</strong> ${summary.checked_hint_rows || '-'}</div>\n    </div>\n\n    ${section('Heute verkauft', dailySales.map(salesBlock).join(''))}\n    ${section('MHD abgelaufen', mhdExpired.map(mhdBlock).join(''))}\n    ${section('MHD läuft bald ab', mhdSoon.map(mhdBlock).join(''))}\n    ${section('Niedriger Bestand', lowStock.map(stockBlock).join(''))}\n    ${section('Daten-/Workflowfehler', dataIssues.map(issueBlock).join(''))}\n    ${section('Sonstige Hinweise', otherWarnings.map(issueBlock).join(''))}\n\n    <h2 style=\"font-size:18px;margin:28px 0 10px;\">Nächste Schritte</h2>\n    <ul style=\"margin:0;padding-left:20px;\">\n      ${nextSteps.map(step => `<li style=\"margin:6px 0;font-size:14px;line-height:1.35;\">${esc(step)}</li>`).join('')}\n    </ul>\n\n    <div style=\"font-size:12px;color:#6b7280;margin-top:28px;border-top:1px solid #e5e7eb;padding-top:12px;\">\n      Automatisch erstellt durch n8n.\n    </div>\n\n  </div>\n</div>\n`;\n\nconst text = [\n  `Automatenlager Check ${dateText}`,\n  '',\n  `Heute verkauft: ${dailySalesTotals.quantity_sold_today} Stück in ${dailySalesTotals.transactions_today} Transaktion(en)`,\n  `Produkte verkauft: ${dailySalesTotals.products_sold_today}`,\n  `MHD abgelaufen: ${mhdExpired.length}`,\n  `MHD läuft bald ab: ${mhdSoon.length}`,\n  `Niedriger Bestand: ${lowStock.length}`,\n  `Daten-/Workflowfehler: ${dataIssues.length}`,\n].join('\\n');\n\nreturn [{\n  json: {\n    email_subject: subject,\n    email_body: html,\n    email_text: text,\n    alerts_count: alerts.length,\n    mhd_expired_count: mhdExpired.length,\n    mhd_soon_count: mhdSoon.length,\n    low_stock_count: lowStock.length,\n    data_issue_count: dataIssues.length,\n    other_warning_count: otherWarnings.length,\n    sales_today_products: dailySalesTotals.products_sold_today,\n    sales_today_transactions: dailySalesTotals.transactions_today,\n    sales_today_quantity: dailySalesTotals.quantity_sold_today\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "id": "1784fcf5-6dd5-4d53-ae4d-8ec3ae76f7c1",
      "name": "Code - Email Zusammenfassung erstellen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        320
      ]
    },
    {
      "parameters": {
        "sendTo": "patrickzinke@gmx.net",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1728,
        320
      ],
      "id": "75e9a17e-57d3-4ee1-8f77-95da51a201f0",
      "name": "Send a message",
      "webhookId": "59e4e8ad-234e-4d38-a361-399e7b425c6c",
      "credentials": {
        "gmailOAuth2": {
          "id": "bax1uHt0MPHbk8Jp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "product_key",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        -64
      ],
      "id": "e28e2f3d-5594-49f2-8f2c-d9f601172149",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\nfunction clean(v) {\n  return String(v ?? '')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction isResolved(v) {\n  const s = clean(v).toUpperCase();\n  return ['TRUE', 'JA', 'YES', '1', 'ERLEDIGT', 'RESOLVED'].includes(s);\n}\n\nfunction parseDate(v) {\n  const raw = clean(v);\n  if (!raw) return null;\n  const d = new Date(raw);\n  if (!Number.isNaN(d.getTime())) return d;\n  return null;\n}\n\nfunction todayBerlinIso() {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Berlin',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).formatToParts(new Date());\n  return [\n    parts.find(p => p.type === 'year')?.value,\n    parts.find(p => p.type === 'month')?.value,\n    parts.find(p => p.type === 'day')?.value,\n  ].join('-');\n}\n\nfunction isFromToday(row) {\n  const raw = clean(row.created_at);\n  if (!raw) return true;\n  const d = parseDate(raw);\n  if (!d) return true;\n  const day = d.toLocaleDateString('en-CA', {\n    timeZone: 'Europe/Berlin',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  });\n  return day === todayBerlinIso();\n}\n\n// Typen die frisch berechnet werden – nicht aus Fehler_und_Hinweise lesen\nconst SKIP_TYPES = new Set(['LOW_STOCK', 'MHD_WARNING', 'MHD_EXPIRED']);\n\nconst seen = new Set();\n\nconst alerts = rows\n  .filter(row => !isResolved(row.resolved))\n  .filter(row => isFromToday(row))\n  .filter(row => !SKIP_TYPES.has(clean(row.type).toUpperCase()))\n  .filter(row => {\n    const key = `${clean(row.type)}|${clean(row.product_key)}`;\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  })\n  .map(row => ({\n    created_at: clean(row.created_at),\n    type: clean(row.type || 'OPEN_HINT'),\n    severity: clean(row.severity || 'warning'),\n    machine_id: clean(row.machine_id),\n    product_key: clean(row.product_key),\n    nayax_product_name: clean(row.nayax_product_name),\n    internal_product_name: clean(row.internal_product_name),\n    product_name: clean(row.product_name || row.nayax_product_name || row.internal_product_name || row.product_key),\n    mdb_code: clean(row.mdb_code || row.actual_mdb_code || row.expected_mdb_code),\n    message: clean(row.message),\n    resolved: clean(row.resolved),\n    change_id: clean(row.change_id),\n    source: 'Fehler_und_Hinweise'\n  }));\n\nreturn [{\n  json: {\n    alerts,\n    summary: {\n      checked_hint_rows: rows.length,\n      open_hints_today: alerts.length,\n      created_at: new Date().toISOString()\n    }\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        176
      ],
      "id": "42000d5a-2970-49a6-a322-4891f49ab840",
      "name": "Code - Offene Hinweise vorbereiten"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        144
      ],
      "id": "6fd523fa-b65e-456e-966a-cf9e63ac6f9b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "path": "357edb5f-d83d-4e9e-8033-9f3d099cd9c8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        384
      ],
      "id": "5c8085f8-a3c7-4e04-beeb-e985ba064b40",
      "name": "Webhook",
      "webhookId": "357edb5f-d83d-4e9e-8033-9f3d099cd9c8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Config - WF5').first().json.google_sheet_id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Config - WF5').first().json.sheet_verarbeitete_transaktionen }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "96e19211-e099-439c-bf3a-d3f489958099",
      "name": "Google Sheets - Verarbeitete Transaktionen lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        544,
        368
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5XfHt3SzjHCj8B5H",
          "name": "Sheets Automatenlager"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(i => i.json);\n\nfunction clean(value) {\n  return String(value ?? '')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction num(value) {\n  const n = Number(String(value ?? '').replace(',', '.'));\n  return Number.isFinite(n) ? n : 0;\n}\n\nfunction todayBerlinIso() {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Berlin',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).formatToParts(new Date());\n\n  return [\n    parts.find(p => p.type === 'year')?.value,\n    parts.find(p => p.type === 'month')?.value,\n    parts.find(p => p.type === 'day')?.value,\n  ].join('-');\n}\n\nfunction parseDate(value) {\n  const raw = clean(value);\n  if (!raw) return null;\n  const d = new Date(raw);\n  return Number.isNaN(d.getTime()) ? null : d;\n}\n\nfunction berlinDay(value) {\n  const d = parseDate(value);\n  if (!d) return '';\n  return d.toLocaleDateString('en-CA', {\n    timeZone: 'Europe/Berlin',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  });\n}\n\nfunction berlinTime(value) {\n  const d = parseDate(value);\n  if (!d) return '';\n  return d.toLocaleTimeString('de-DE', {\n    timeZone: 'Europe/Berlin',\n    hour: '2-digit',\n    minute: '2-digit',\n  });\n}\n\nfunction saleDate(row) {\n  return clean(row.settlement_datetime_gmt || row.SettlementDateTimeGMT || row.processed_at);\n}\n\nconst today = todayBerlinIso();\nconst salesByProduct = new Map();\nlet transactionsToday = 0;\nlet quantityToday = 0;\n\nfor (const row of rows) {\n  const status = clean(row.status).toUpperCase();\n  if (status.startsWith('SKIPPED')) continue;\n\n  const dateValue = saleDate(row);\n  if (berlinDay(dateValue) !== today) continue;\n\n  const productKey = clean(row.product_key) || 'UNBEKANNT';\n  const name = clean(row.nayax_product_name || row.product_name || productKey);\n  const qty = num(row.quantity || 1) || 1;\n  const key = `${productKey}|${name}`;\n\n  if (!salesByProduct.has(key)) {\n    salesByProduct.set(key, {\n      product_key: productKey,\n      product_name: name,\n      nayax_product_name: name,\n      quantity_sold_today: 0,\n      transactions_today: 0,\n      first_sale_time: '',\n      last_sale_time: '',\n      statuses: new Set(),\n      machine_ids: new Set(),\n    });\n  }\n\n  const entry = salesByProduct.get(key);\n  entry.quantity_sold_today += qty;\n  entry.transactions_today += 1;\n  if (!entry.first_sale_time) entry.first_sale_time = berlinTime(dateValue);\n  entry.last_sale_time = berlinTime(dateValue) || entry.last_sale_time;\n  if (status) entry.statuses.add(status);\n  if (clean(row.machine_id)) entry.machine_ids.add(clean(row.machine_id));\n\n  transactionsToday += 1;\n  quantityToday += qty;\n}\n\nconst daily_sales = [...salesByProduct.values()]\n  .map(entry => ({\n    ...entry,\n    statuses: [...entry.statuses].join(', '),\n    machine_ids: [...entry.machine_ids].join(', '),\n  }))\n  .sort((a, b) => b.quantity_sold_today - a.quantity_sold_today || a.product_name.localeCompare(b.product_name, 'de'));\n\nreturn [{\n  json: {\n    daily_sales,\n    daily_sales_totals: {\n      day: today,\n      products_sold_today: daily_sales.length,\n      transactions_today: transactionsToday,\n      quantity_sold_today: quantityToday,\n      checked_transaction_rows: rows.length,\n    },\n    summary: {\n      checked_transaction_rows: rows.length,\n      sales_today_products: daily_sales.length,\n      sales_today_transactions: transactionsToday,\n      sales_today_quantity: quantityToday,\n      created_at: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "fd9ce7ce-a49f-4633-bea6-7571c080a4a4",
      "name": "Code - Tagesverkaeufe vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        400
      ]
    },
    {
      "parameters": {},
      "id": "2fb363c7-e883-40d8-8db9-f2b3b628259e",
      "name": "Merge2 - Berichtsdaten sammeln",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1264,
        240
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config - WF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger - taeglich 07:00": {
      "main": [
        [
          {
            "node": "Config - WF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config - WF5": {
      "main": [
        [
          {
            "node": "Google Sheets - Lagerchargen lesen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Produkte lesen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Hinweise lesen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Verarbeitete Transaktionen lesen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Lagerchargen lesen": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Produkte lesen": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets - Hinweise lesen": {
      "main": [
        [
          {
            "node": "Code - Offene Hinweise vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - MHD und Lagercharge pruefen": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract - Hinweise": {
      "main": [
        [
          {
            "node": "Google Sheets - Hinweise anhaengen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Email Zusammenfassung erstellen": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code - MHD und Lagercharge pruefen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Offene Hinweise vorbereiten": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2 - Berichtsdaten sammeln",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Config - WF5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Verarbeitete Transaktionen lesen": {
      "main": [
        [
          {
            "node": "Code - Tagesverkaeufe vorbereiten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Tagesverkaeufe vorbereiten": {
      "main": [
        [
          {
            "node": "Merge2 - Berichtsdaten sammeln",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2 - Berichtsdaten sammeln": {
      "main": [
        [
          {
            "node": "Extract - Hinweise",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Email Zusammenfassung erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger - taeglich 07:00": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b7953021-7f98-4332-8879-11a986eba593",
  "activeVersionId": "b7953021-7f98-4332-8879-11a986eba593",
  "versionCounter": 95,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-05-07T20:34:43.675Z",
      "createdAt": "2026-05-07T20:34:43.675Z",
      "role": "workflow:owner",
      "workflowId": "A1TQ7CnHXonafVIv",
      "projectId": "zeRVaMsDAPaDSWHo",
      "project": {
        "updatedAt": "2026-04-30T17:19:50.968Z",
        "createdAt": "2026-04-30T17:15:04.288Z",
        "id": "zeRVaMsDAPaDSWHo",
        "name": "Patrick Matthes <patrickzinke@gmx.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "120361c7-55fb-4132-84f7-3db7136ad7b6"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-09T06:34:46.000Z",
    "createdAt": "2026-05-09T06:25:57.517Z",
    "versionId": "b7953021-7f98-4332-8879-11a986eba593",
    "workflowId": "A1TQ7CnHXonafVIv",
    "nodes": [
      {
        "parameters": {},
        "id": "dbbf113d-9322-4344-bf45-7e65326ad596",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 7 * * *"
              }
            ]
          }
        },
        "id": "c419b583-ac2d-4cb5-8da6-4e035026b446",
        "name": "Schedule Trigger - taeglich 07:00",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          192
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "machine_id",
                "name": "machine_id",
                "value": "457107528",
                "type": "string"
              },
              {
                "id": "google_sheet_id",
                "name": "google_sheet_id",
                "value": "12KzLrJzZamaHNwDejQXdyBartHCoCbzN9PFK3tF9pSo",
                "type": "string"
              },
              {
                "id": "sheet_produkte",
                "name": "sheet_produkte",
                "value": "Produkte",
                "type": "string"
              },
              {
                "id": "sheet_lagerchargen",
                "name": "sheet_lagerchargen",
                "value": "Lagerchargen",
                "type": "string"
              },
              {
                "id": "sheet_hinweise",
                "name": "sheet_hinweise",
                "value": "Fehler_und_Hinweise",
                "type": "string"
              },
              {
                "id": "mhd_warning_days",
                "name": "mhd_warning_days",
                "value": 30,
                "type": "number"
              },
              {
                "id": "low_batch_qty_threshold",
                "name": "low_batch_qty_threshold",
                "value": 5,
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "06454264-b8d8-4b73-9821-8fc521055561",
        "name": "Config - WF5",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          240,
          96
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config - WF5').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $('Config - WF5').first().json.sheet_lagerchargen }}",
            "mode": "name"
          },
          "options": {}
        },
        "id": "81911370-69a5-4e26-82f7-ef2fa51544c0",
        "name": "Google Sheets - Lagerchargen lesen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          496,
          -64
        ],
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config - WF5').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $('Config - WF5').first().json.sheet_produkte }}",
            "mode": "name"
          },
          "options": {}
        },
        "id": "31a20605-c63d-4abd-82fa-709ef3c0b4b9",
        "name": "Google Sheets - Produkte lesen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          544,
          80
        ],
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config - WF5').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $('Config - WF5').first().json.sheet_hinweise }}",
            "mode": "name"
          },
          "options": {}
        },
        "id": "bfafd88b-7892-400b-ab58-ee45b398bd03",
        "name": "Google Sheets - Hinweise lesen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          544,
          224
        ],
        "executeOnce": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all().map(i => i.json);\nconst alerts = [];\n\nfunction clean(value) {\n  return String(value ?? '')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction num(value) {\n  const n = Number(String(value ?? '').replace(',', '.'));\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction parseDate(value) {\n  const raw = clean(value);\n  if (!raw) return null;\n  const d = new Date(raw);\n  if (!Number.isNaN(d.getTime())) {\n    return d;\n  }\n  const m = raw.match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n  if (m) {\n    return new Date(`${m[1]}-${m[2]}-${m[3]}T00:00:00Z`);\n  }\n  return null;\n}\n\nfunction daysUntil(value) {\n  const d = parseDate(value);\n  if (!d) return null;\n  const today = new Date();\n  today.setHours(0, 0, 0, 0);\n  const target = new Date(d);\n  target.setHours(0, 0, 0, 0);\n  return Math.ceil((target - today) / 86400000);\n}\n\nfunction isActive(value) {\n  const v = clean(value).toUpperCase();\n  return ['TRUE', '1', 'JA', 'YES', 'AKTIV', 'ACTIVE'].includes(v);\n}\n\nfunction productName(row) {\n  return clean(\n    row.internal_product_name ||\n    row.nayax_product_name ||\n    row.product_name ||\n    row.product_key ||\n    'Unbekanntes Produkt'\n  );\n}\n\nconst now = new Date().toISOString();\n\nfor (const row of rows) {\n  const productKey = clean(row.product_key);\n  if (!productKey) continue;\n\n  // Nur aktive Zeilen berücksichtigen\n  const active =\n    isActive(row.active) ||\n    isActive(row.status) ||\n    isActive(row.replenishment_status);\n  if (!active) continue;\n\n  const name = productName(row);\n  const currentMachineQty = num(row.current_machine_qty);\n  const minStock = num(row.min_stock);\n  const targetStock = num(row.target_stock);\n  const machineCapacity = num(row.machine_capacity);\n  const mhd = clean(row.mhd);\n  const remainingQty = num(row.remaining_qty);\n  const days = daysUntil(mhd);\n\n  // MHD Warnung\n  if (mhd && days !== null && days <= 30) {\n    alerts.push({\n      created_at: now,\n      type: 'MHD_WARNING',\n      severity: days < 0 ? 'critical' : 'warning',\n      product_key: productKey,\n      product_name: name,\n      internal_product_name: clean(row.internal_product_name),\n      nayax_product_name: clean(row.nayax_product_name),\n      batch_id: clean(row.batch_id),\n      mhd,\n      remaining_qty: remainingQty,\n      machine_id: clean(row.machine_id),\n      mdb_code: clean(row.mdb_code),\n      message:\n        days < 0\n          ? `${name}: Charge ${clean(row.batch_id)} ist seit ${Math.abs(days)} Tag(en) abgelaufen.`\n          : `${name}: Charge ${clean(row.batch_id)} läuft in ${days} Tag(en) ab.`\n    });\n  }\n\n  // Low Stock Warnung – nur wenn Slot gültig konfiguriert und unter Mindestbestand\n  if (\n    currentMachineQty !== null &&\n    minStock !== null &&\n    machineCapacity !== null &&\n    machineCapacity > 0 &&\n    currentMachineQty < minStock\n  ) {\n    alerts.push({\n      created_at: now,\n      type: 'LOW_STOCK',\n      severity: 'warning',\n      product_key: productKey,\n      product_name: name,\n      internal_product_name: clean(row.internal_product_name),\n      nayax_product_name: clean(row.nayax_product_name),\n      machine_id: clean(row.machine_id),\n      mdb_code: clean(row.mdb_code),\n      current_machine_qty: currentMachineQty,\n      min_stock: minStock,\n      target_stock: targetStock,\n      machine_capacity: machineCapacity,\n      message: `${name}: Nur noch ${currentMachineQty} Stück im Automaten.`\n    });\n  }\n}\n\nreturn [{\n  json: {\n    alerts,\n    summary: {\n      checked_batches: rows.length,\n      alerts_created: alerts.length,\n      created_at: now\n    }\n  }\n}];"
        },
        "id": "7319d132-3c09-4129-9825-d662d0871964",
        "name": "Code - MHD und Lagercharge pruefen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          832,
          16
        ]
      },
      {
        "parameters": {
          "jsCode": "return ($input.first().json.alerts || []).map(alert => ({\n  json: alert\n}));"
        },
        "id": "75eda299-6b97-428d-9760-878a46d46ec0",
        "name": "Extract - Hinweise",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1520,
          96
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "={{ $('Config - WF5').first().json.google_sheet_id }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $('Config - WF5').first().json.sheet_hinweise }}",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "created_at": "={{ $json.created_at }}",
              "type": "={{ $json.type }}",
              "severity": "={{ $json.severity }}",
              "machine_id": "={{ $json.machine_id }}",
              "product_key": "={{ $json.product_key }}",
              "nayax_product_name": "={{ $json.nayax_product_name }}",
              "message": "={{ $json.message }}",
              "resolved": "={{ $json.resolved }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "type",
                "displayName": "type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "severity",
                "displayName": "severity",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "machine_id",
                "displayName": "machine_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "product_key",
                "displayName": "product_key",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "nayax_product_name",
                "displayName": "nayax_product_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "message",
                "displayName": "message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "resolved",
                "displayName": "resolved",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "change_id",
                "displayName": "change_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "f919e09e-d2ea-4867-a303-a4b7fd35b0fb",
        "name": "Google Sheets - Hinweise anhaengen",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1776,
          96
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "5XfHt3SzjHCj8B5H",
            "name": "Sheets Automatenlager"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const inputItems = $input.all().map(i => i.json);\n\nconst alerts = inputItems.flatMap(item => {\n  if (Array.isArray(item.alerts)) return item.alerts;\n  return [item];\n}).filter(a => a && typeof a === 'object');\n\nconst summary = inputItems.reduce((acc, item) => {\n  const s = item.summary || {};\n\n  acc.checked_batches += Number(s.checked_batches || 0);\n  acc.checked_hint_rows += Number(s.checked_hint_rows || 0);\n  acc.alerts_created += Number(s.alerts_created || 0);\n  acc.open_hints_today += Number(s.open_hints_today || 0);\n\n  return acc;\n}, {\n  checked_batches: 0,\n  checked_hint_rows: 0,\n  alerts_created: 0,\n  open_hints_today: 0\n});\n\nfunction clean(value) {\n  return String(value ?? '')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction esc(value) {\n  return clean(value)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n}\n\nfunction num(value) {\n  const n = Number(String(value ?? '').replace(',', '.'));\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction value(alert, keys) {\n  for (const key of keys) {\n    const v = clean(alert[key]);\n    if (v) return v;\n  }\n  return '';\n}\n\nfunction parseDate(value) {\n  const raw = clean(value);\n  if (!raw) return null;\n\n  const d = new Date(raw);\n  if (!Number.isNaN(d.getTime())) return d;\n\n  const m1 = raw.match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n  if (m1) return new Date(`${m1[1]}-${m1[2]}-${m1[3]}T00:00:00Z`);\n\n  const m2 = raw.match(/^(\\d{2})\\.(\\d{2})\\.(\\d{4})$/);\n  if (m2) return new Date(`${m2[3]}-${m2[2]}-${m2[1]}T00:00:00Z`);\n\n  return null;\n}\n\nfunction formatDate(value) {\n  const d = parseDate(value);\n  if (!d) return clean(value) || '-';\n\n  return d.toLocaleDateString('de-DE', {\n    timeZone: 'Europe/Berlin',\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric',\n  });\n}\n\nfunction todayBerlinIso() {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Berlin',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).formatToParts(new Date());\n\n  return [\n    parts.find(p => p.type === 'year')?.value,\n    parts.find(p => p.type === 'month')?.value,\n    parts.find(p => p.type === 'day')?.value,\n  ].join('-');\n}\n\nfunction daysUntil(value) {\n  const d = parseDate(value);\n  if (!d) return null;\n\n  const today = new Date(`${todayBerlinIso()}T00:00:00+01:00`);\n  const target = new Date(d);\n  target.setHours(0, 0, 0, 0);\n\n  return Math.ceil((target - today) / 86400000);\n}\n\nfunction isResolved(alert) {\n  const resolved = clean(alert.resolved).toUpperCase();\n  return ['TRUE', 'JA', 'YES', '1', 'ERLEDIGT', 'RESOLVED'].includes(resolved);\n}\n\nfunction productName(alert) {\n  return value(alert, [\n    'product_name',\n    'internal_product_name',\n    'nayax_product_name',\n    'article_name',\n    'artikelname',\n    'artikelbezeichnung',\n    'name',\n    'product',\n    'item_name',\n    'product_key',\n  ]) || 'Unbekanntes Produkt';\n}\n\nfunction productKey(alert) {\n  return value(alert, ['product_key', 'sku', 'SKU']);\n}\n\nfunction batchId(alert) {\n  return value(alert, ['batch_id', 'charge_id', 'lagercharge', 'batch', 'charge']);\n}\n\nfunction machineId(alert) {\n  return value(alert, ['machine_id', 'MachineID', 'machine']);\n}\n\nfunction mdbCode(alert) {\n  return value(alert, ['mdb_code', 'MDB', 'mdb', 'actual_mdb_code', 'expected_mdb_code']);\n}\n\nfunction remainingQty(alert) {\n  return num(\n    alert.remaining_qty ??\n    alert.current_machine_qty ??\n    alert.quantity_left ??\n    alert.qty ??\n    alert.quantity ??\n    alert.bestand ??\n    alert.restbestand ??\n    alert.remaining ??\n    alert.stock\n  );\n}\n\nfunction minStock(alert) {\n  return num(alert.min_stock ?? alert.minimum_stock ?? alert.mindestbestand);\n}\n\nfunction targetStock(alert) {\n  return num(alert.target_stock ?? alert.sollbestand ?? alert.zielbestand);\n}\n\nfunction capacity(alert) {\n  return num(alert.machine_capacity ?? alert.capacity ?? alert.slot_capacity);\n}\n\nfunction mhd(alert) {\n  return value(alert, [\n    'mhd',\n    'expiry_date',\n    'best_before',\n    'valid_until',\n    'mhd_date',\n    'expiration_date'\n  ]);\n}\n\nfunction type(alert) {\n  return clean(alert.type).toUpperCase();\n}\n\nfunction severity(alert) {\n  return clean(alert.severity).toLowerCase();\n}\n\nfunction message(alert) {\n  return clean(alert.message || alert.hinweis || alert.description);\n}\n\nconst dateText = new Date().toLocaleDateString('de-DE', {\n  timeZone: 'Europe/Berlin',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n});\n\nconst relevantAlerts = alerts.filter(alert => {\n  if (!alert || typeof alert !== 'object') return false;\n  if (isResolved(alert)) return false;\n  return true;\n});\n\nconst mhdExpired = [];\nconst mhdSoon = [];\nconst lowStock = [];\nconst dataIssues = [];\nconst otherWarnings = [];\n\nfor (const alert of relevantAlerts) {\n  const t = type(alert);\n  const s = severity(alert);\n  const msg = message(alert).toLowerCase();\n  const mhdValue = mhd(alert);\n  const days = daysUntil(mhdValue);\n\n  const isMhd =\n    (t.includes('MHD') || t.includes('EXPIRY') || msg.includes('mhd')) &&\n    mhdValue &&\n    days !== null;\n\n  const isLowStock =\n    t.includes('LOW_STOCK') ||\n    t.includes('MIN_STOCK') ||\n    t.includes('REPLENISHMENT') ||\n    t.includes('BESTAND');\n\n  const isDataIssue =\n    ['error', 'critical'].includes(s) ||\n    t.includes('UNKNOWN') ||\n    t.includes('MISSING') ||\n    t.includes('MISMATCH') ||\n    t.includes('PRODUCT_MAPPING') ||\n    t.includes('SLOT') ||\n    t.includes('MDB') ||\n    msg.includes('fehler') ||\n    msg.includes('konnte nicht') ||\n    msg.includes('nicht sicher') ||\n    msg.includes('keine gueltige') ||\n    msg.includes('keine gültige');\n\n  if (isMhd && days < 0) {\n    mhdExpired.push(alert);\n  } else if (isMhd && days <= 30) {\n    mhdSoon.push(alert);\n  } else if (isLowStock) {\n    lowStock.push(alert);\n  } else if (isDataIssue) {\n    dataIssues.push(alert);\n  } else {\n    otherWarnings.push(alert);\n  }\n}\n\nfunction sortByMhd(a, b) {\n  const da = daysUntil(mhd(a));\n  const db = daysUntil(mhd(b));\n\n  if (da !== null && db !== null) return da - db;\n  if (da !== null) return -1;\n  if (db !== null) return 1;\n\n  return productName(a).localeCompare(productName(b), 'de');\n}\n\nfunction sortByQty(a, b) {\n  const qa = remainingQty(a);\n  const qb = remainingQty(b);\n\n  if (qa !== null && qb !== null) return qa - qb;\n  if (qa !== null) return -1;\n  if (qb !== null) return 1;\n\n  return productName(a).localeCompare(productName(b), 'de');\n}\n\nmhdExpired.sort(sortByMhd);\nmhdSoon.sort(sortByMhd);\nlowStock.sort(sortByQty);\ndataIssues.sort((a, b) => productName(a).localeCompare(productName(b), 'de'));\notherWarnings.sort((a, b) => productName(a).localeCompare(productName(b), 'de'));\n\nfunction card(title, count, color) {\n  return `\n    <td style=\"width:50%;padding:8px;\">\n      <div style=\"border:1px solid #e5e7eb;border-radius:12px;background:#ffffff;padding:14px;\">\n        <div style=\"font-size:12px;color:#6b7280;margin-bottom:4px;\">${esc(title)}</div>\n        <div style=\"font-size:26px;font-weight:700;color:${color};\">${count}</div>\n      </div>\n    </td>\n  `;\n}\n\nfunction section(title, itemsHtml) {\n  if (!itemsHtml) return '';\n  return `\n    <h2 style=\"font-size:18px;margin:28px 0 10px;color:#111827;\">${esc(title)}</h2>\n    <div style=\"border:1px solid #e5e7eb;border-radius:12px;overflow:hidden;background:#ffffff;\">\n      ${itemsHtml}\n    </div>\n  `;\n}\n\nfunction itemBlock(lines) {\n  return `\n    <div style=\"padding:14px 16px;border-bottom:1px solid #e5e7eb;\">\n      ${lines.filter(Boolean).map(line => `<div style=\"margin:4px 0;font-size:14px;line-height:1.35;\">${esc(line)}</div>`).join('')}\n    </div>\n  `;\n}\n\nfunction baseLine(alert) {\n  const parts = [productName(alert)];\n\n  if (productKey(alert)) parts.push(`SKU: ${productKey(alert)}`);\n  if (batchId(alert)) parts.push(`Charge: ${batchId(alert)}`);\n  if (machineId(alert)) parts.push(`Maschine: ${machineId(alert)}`);\n  if (mdbCode(alert)) parts.push(`MDB: ${mdbCode(alert)}`);\n\n  return parts.join(' | ');\n}\n\nfunction mhdBlock(alert) {\n  const days = daysUntil(mhd(alert));\n\n  const daysText = days !== null\n    ? days < 0\n      ? `seit ${Math.abs(days)} Tag(en) abgelaufen`\n      : `in ${days} Tag(en)`\n    : 'Datum prüfen';\n\n  return itemBlock([\n    `${esc(value(alert, ['nayax_product_name', 'product_name']))} | Maschine: ${esc(machineId(alert))}`,\n    `MHD: ${formatDate(mhd(alert))} | ${daysText}`\n  ]);\n}\n\nfunction stockBlock(alert) {\n  return itemBlock([\n    `${esc(value(alert, ['nayax_product_name', 'product_name']))} | Maschine: ${esc(machineId(alert))}`,\n    `Bestand im Automaten: ${remainingQty(alert) ?? '-'}`\n  ]);\n}\n\nfunction issueBlock(alert) {\n  return itemBlock([\n    baseLine(alert),\n    `Typ: ${type(alert) || '-'} | Schweregrad: ${severity(alert) || '-'}`,\n    message(alert) ? `Hinweis: ${message(alert)}` : ''\n  ]);\n}\n\nconst subjectParts = [];\nif (mhdExpired.length) subjectParts.push(`${mhdExpired.length} MHD abgelaufen`);\nif (mhdSoon.length) subjectParts.push(`${mhdSoon.length} MHD bald`);\nif (lowStock.length) subjectParts.push(`${lowStock.length} niedriger Bestand`);\nif (dataIssues.length) subjectParts.push(`${dataIssues.length} Datenfehler`);\n\nconst subject = subjectParts.length\n  ? `Automatenlager Check ${dateText}: ${subjectParts.join(' · ')}`\n  : `Automatenlager Check ${dateText}: keine akuten Punkte`;\n\nconst nextSteps = [];\nif (mhdExpired.length) nextSteps.push('Abgelaufene Produkte sofort prüfen und aus Automat/Lager entfernen.');\nif (mhdSoon.length) nextSteps.push('Produkte mit nahendem MHD priorisiert verkaufen, reduzieren oder austauschen.');\nif (lowStock.length) nextSteps.push('Niedrige Bestände für die nächste Befüllung einplanen.');\nif (dataIssues.length) nextSteps.push('Daten-/Workflowfehler im Tab Fehler_und_Hinweise prüfen und bereinigen.');\nif (!nextSteps.length) nextSteps.push('Keine Aktion erforderlich.');\n\nconst html = `\n<div style=\"font-family:Arial,Helvetica,sans-serif;background:#f3f4f6;padding:24px;color:#111827;\">\n  <div style=\"max-width:780px;margin:0 auto;background:#ffffff;border-radius:16px;padding:24px;border:1px solid #e5e7eb;\">\n\n    <h1 style=\"font-size:24px;margin:0 0 4px;\">Automatenlager Check</h1>\n    <div style=\"font-size:14px;color:#6b7280;margin-bottom:22px;\">Datum: ${esc(dateText)}</div>\n\n    <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:separate;border-spacing:0;margin-bottom:18px;\">\n      <tr>\n        ${card('MHD abgelaufen', mhdExpired.length, '#b91c1c')}\n        ${card('MHD läuft bald ab', mhdSoon.length, '#b45309')}\n      </tr>\n      <tr>\n        ${card('Niedriger Bestand', lowStock.length, '#1d4ed8')}\n        ${card('Daten-/Workflowfehler', dataIssues.length, '#7f1d1d')}\n      </tr>\n    </table>\n\n    <div style=\"font-size:14px;color:#374151;background:#f9fafb;border:1px solid #e5e7eb;border-radius:12px;padding:12px 14px;margin-bottom:22px;\">\n      <div><strong>Ausgewertete Alerts:</strong> ${alerts.length}</div>\n      <div><strong>Geprüfte Lagerchargen:</strong> ${summary.checked_batches || '-'}</div>\n      <div><strong>Geprüfte Hinweiszeilen:</strong> ${summary.checked_hint_rows || '-'}</div>\n    </div>\n\n    ${section('MHD abgelaufen', mhdExpired.map(mhdBlock).join(''))}\n    ${section('MHD läuft bald ab', mhdSoon.map(mhdBlock).join(''))}\n    ${section('Niedriger Bestand', lowStock.map(stockBlock).join(''))}\n    ${section('Daten-/Workflowfehler', dataIssues.map(issueBlock).join(''))}\n    ${section('Sonstige Hinweise', otherWarnings.map(issueBlock).join(''))}\n\n    <h2 style=\"font-size:18px;margin:28px 0 10px;\">Nächste Schritte</h2>\n    <ul style=\"margin:0;padding-left:20px;\">\n      ${nextSteps.map(step => `<li style=\"margin:6px 0;font-size:14px;line-height:1.35;\">${esc(step)}</li>`).join('')}\n    </ul>\n\n    <div style=\"font-size:12px;color:#6b7280;margin-top:28px;border-top:1px solid #e5e7eb;padding-top:12px;\">\n      Automatisch erstellt durch n8n.\n    </div>\n\n  </div>\n</div>\n`;\n\nconst text = [\n  `Automatenlager Check ${dateText}`,\n  '',\n  `MHD abgelaufen: ${mhdExpired.length}`,\n  `MHD läuft bald ab: ${mhdSoon.length}`,\n  `Niedriger Bestand: ${lowStock.length}`,\n  `Daten-/Workflowfehler: ${dataIssues.length}`,\n].join('\\n');\n\nreturn [{\n  json: {\n    email_subject: subject,\n    email_body: html,\n    email_text: text,\n    alerts_count: alerts.length,\n    mhd_expired_count: mhdExpired.length,\n    mhd_soon_count: mhdSoon.length,\n    low_stock_count: lowStock.length,\n    data_issue_count: dataIssues.length,\n    other_warning_count: otherWarnings.length\n  }\n}];"
        },
        "id": "1784fcf5-6dd5-4d53-ae4d-8ec3ae76f7c1",
        "name": "Code - Email Zusammenfassung erstellen",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1408,
          320
        ]
      },
      {
        "parameters": {
          "sendTo": "patrickzinke@gmx.net",
          "subject": "={{ $json.email_subject }}",
          "message": "={{ $json.email_body }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          1728,
          320
        ],
        "id": "75e9a17e-57d3-4ee1-8f77-95da51a201f0",
        "name": "Send a message",
        "webhookId": "59e4e8ad-234e-4d38-a361-399e7b425c6c",
        "credentials": {
          "gmailOAuth2": {
            "id": "bax1uHt0MPHbk8Jp",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "product_key",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          704,
          -64
        ],
        "id": "e28e2f3d-5594-49f2-8f2c-d9f601172149",
        "name": "Merge"
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all().map(i => i.json);\n\nfunction clean(v) {\n  return String(v ?? '')\n    .replace(/\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction isResolved(v) {\n  const s = clean(v).toUpperCase();\n  return ['TRUE', 'JA', 'YES', '1', 'ERLEDIGT', 'RESOLVED'].includes(s);\n}\n\nfunction parseDate(v) {\n  const raw = clean(v);\n  if (!raw) return null;\n  const d = new Date(raw);\n  if (!Number.isNaN(d.getTime())) return d;\n  return null;\n}\n\nfunction todayBerlinIso() {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: 'Europe/Berlin',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  }).formatToParts(new Date());\n  return [\n    parts.find(p => p.type === 'year')?.value,\n    parts.find(p => p.type === 'month')?.value,\n    parts.find(p => p.type === 'day')?.value,\n  ].join('-');\n}\n\nfunction isFromToday(row) {\n  const raw = clean(row.created_at);\n  if (!raw) return true;\n  const d = parseDate(raw);\n  if (!d) return true;\n  const day = d.toLocaleDateString('en-CA', {\n    timeZone: 'Europe/Berlin',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n  });\n  return day === todayBerlinIso();\n}\n\n// Typen die frisch berechnet werden – nicht aus Fehler_und_Hinweise lesen\nconst SKIP_TYPES = new Set(['LOW_STOCK', 'MHD_WARNING', 'MHD_EXPIRED']);\n\nconst seen = new Set();\n\nconst alerts = rows\n  .filter(row => !isResolved(row.resolved))\n  .filter(row => isFromToday(row))\n  .filter(row => !SKIP_TYPES.has(clean(row.type).toUpperCase()))\n  .filter(row => {\n    const key = `${clean(row.type)}|${clean(row.product_key)}`;\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  })\n  .map(row => ({\n    created_at: clean(row.created_at),\n    type: clean(row.type || 'OPEN_HINT'),\n    severity: clean(row.severity || 'warning'),\n    machine_id: clean(row.machine_id),\n    product_key: clean(row.product_key),\n    nayax_product_name: clean(row.nayax_product_name),\n    internal_product_name: clean(row.internal_product_name),\n    product_name: clean(row.product_name || row.nayax_product_name || row.internal_product_name || row.product_key),\n    mdb_code: clean(row.mdb_code || row.actual_mdb_code || row.expected_mdb_code),\n    message: clean(row.message),\n    resolved: clean(row.resolved),\n    change_id: clean(row.change_id),\n    source: 'Fehler_und_Hinweise'\n  }));\n\nreturn [{\n  json: {\n    alerts,\n    summary: {\n      checked_hint_rows: rows.length,\n      open_hints_today: alerts.length,\n      created_at: new Date().toISOString()\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          848,
          176
        ],
        "id": "42000d5a-2970-49a6-a322-4891f49ab840",
        "name": "Code - Offene Hinweise vorbereiten"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1072,
          144
        ],
        "id": "6fd523fa-b65e-456e-966a-cf9e63ac6f9b",
        "name": "Merge1"
      },
      {
        "parameters": {
          "path": "357edb5f-d83d-4e9e-8033-9f3d099cd9c8",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          384
        ],
        "id": "5c8085f8-a3c7-4e04-beeb-e985ba064b40",
        "name": "Webhook",
        "webhookId": "357edb5f-d83d-4e9e-8033-9f3d099cd9c8"
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Config - WF5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger - taeglich 07:00": {
        "main": [
          [
            {
              "node": "Config - WF5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config - WF5": {
        "main": [
          [
            {
              "node": "Google Sheets - Lagerchargen lesen",
              "type": "main",
              "index": 0
            },
            {
              "node": "Google Sheets - Produkte lesen",
              "type": "main",
              "index": 0
            },
            {
              "node": "Google Sheets - Hinweise lesen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - Lagerchargen lesen": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - Produkte lesen": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Google Sheets - Hinweise lesen": {
        "main": [
          [
            {
              "node": "Code - Offene Hinweise vorbereiten",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - MHD und Lagercharge pruefen": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract - Hinweise": {
        "main": [
          [
            {
              "node": "Google Sheets - Hinweise anhaengen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Email Zusammenfassung erstellen": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code - MHD und Lagercharge pruefen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code - Offene Hinweise vorbereiten": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Extract - Hinweise",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code - Email Zusammenfassung erstellen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Config - WF5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Patrick Matthes",
    "name": "Version 1",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-09T06:34:46.817Z",
        "id": 5,
        "workflowId": "A1TQ7CnHXonafVIv",
        "versionId": "b7953021-7f98-4332-8879-11a986eba593",
        "event": "activated",
        "userId": "120361c7-55fb-4132-84f7-3db7136ad7b6"
      }
    ]
  }
}
